[2021-06-03 11:44] chetbox opened #191 "Tax rates saved to wrong location"
# Bug report

- Extension name`firestore-stripe-subscriptions`

## Describe the bug

Tax rates seem to be stored in the wrong place in Firestore.

The documentation says to add the following Firestore rules, which suggest that a `tax_rates` subcollection is added to each product:

[code]

None of our products have a `tax_rates` subcollection; Instead we have a product with an ID of `tax_rates` tha

[2021-06-03 19:23] japser36 commented on #181
This enhancement is exactly what we would need for our use case too!

On our system, we let users subscribe to plans, and this extension works really well and has saved us a lot of time for that. But, we also allow users to purchase extra one time 'topups' if they need something extra in our system on top of what they already get from a subscription, if for example one month is really busy for one

[2021-06-04 00:49] japser36 commented on #181
For now, we worked around this by undeploying the createCheckoutSession extension cloud function, and deploying our own version based on the source in this repo but with a modified 5 lines:
[code]
Then, we passed in the ID of each product the user purchased (we only needed product level info, not price level info for our use case), joined by a ',' which we then parsed in our `/<customer-collection

[2021-06-04 17:49] NIXINONLINE opened #192 "Partial subscription for an extended period of time"

[2021-06-04 17:55] #192 closed

[2021-06-05 20:42] MitchelSt opened #193 "Custom claim stripeRole is not set on the user"
# Bug report

- Extension name: stripe-firebase-extensions

## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce

1. Add a new product firebaseRole with value 'premium'
2. Check if product with metadata field is added to firestore
3. Make a payment for this specific product (using the price_hash in a test environment)
4. Check if payment was made successfully
5

[2021-06-07 08:33] thorsten-stripe commented on #190
https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/POSTINSTALL.md#adding-multiple-prices-including-one-time-setup-fees

[2021-06-07 08:33] #190 closed

[2021-06-07 08:37] #189 closed

[2021-06-07 08:54] thorsten-stripe commented on #191
The tax rate subcollection is added to a single product with id `tax_rate` which has the sole purpose to hold that subcollection. E.g. /products/tax_rates/tax_rates/txr_1HCjzTHYgolSBA35m0e1tJN5. This is how you query them:

[code]

So the route in the rules is correct. Hope that makes sense.

The `tax_rates` that you pass to the checkout session doc creation are set as the `default_tax_rates` for

[2021-06-07 08:54] #191 closed

[2021-06-07 09:08] thorsten-stripe commented on #193
Do you have your webhook handler configured correctly? If so you should see this in the logs for the `ext-firestore-stripe-subscriptions-handleWebhookEvents` function:

[code]

Can you double check your webhook configuration and the function logs please?

[2021-06-07 20:33] cvoadmin commented on #190
Is this the right solution if you have 2 subscriptions and 4 OTP's?
`An error occured: You must provide at least one recurring price in `subscription` mode when using prices.`

[2021-06-08 15:35] MitchelSt commented on #193
I just re-configured everything from scratch, checked the logs; but without success.

Could this perhaps be the case since I'm using it since one-time payments are not supported?

[2021-06-09 06:55] thorsten-stripe commented on #193
@MitchelSt custom claims are not supported for one-time products, only for recurring products

[2021-06-09 06:55] #193 closed

[2021-06-09 07:48] thorsten-stripe commented on #190
- If you're using only recurring prices, mode needs to be `subscription` (that's the default)
- If you're using recurring + one time prices, mode needs to be `subscription` (that's the default)
- If you're using only one-time prices, mode needs to be `payment` docs: https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/POSTINSTALL.md#collecting-one-time-paym

[2021-06-11 07:14] jthegedus opened #194 "Source link from Firebase Ext page links to `master` not `next`"
# Bug report

- Extension name: all

## Describe the bug

The links to the source code from the Firebase Extensions explore page link to `master`. Is this correct given `next` is the default branch?

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to https://firebase.google.com/products/extensions/firestore-stripe-invoices
2. Click on `Source

[2021-06-11 07:15] thorsten-stripe commented on #194
Yes, `master` is the code that is deployed when installing the extension.

[2021-06-11 07:15] #194 closed

[2021-06-13 08:19] MitchelSt commented on #181
Adding the snippet above will indeed add the `metadata` for me to the checkout session document. However, I'm not sure about the last part of your implementation.

I assume (and the same goes for me) you want to ensure that the `metadata` of the checkout session is available in it's related payment document as well, isn't it? If yes: may I ask how you did that?

[2021-06-16 07:32] #181 closed

[2021-06-16 07:33] thorsten-stripe commented on #181
This will be fixed in v0.1.13

[2021-06-17 14:17] thorsten-stripe commented on #177
I'm afraid I'm not too sure how to best prevent this edge case. For the time being, you could change your settings (https://dashboard.stripe.com/settings/billing/automatic), to not automatically cancel the subscription if the payment fails, but that might be more overhead than managing this edge case.
![image](https://user-images.githubusercontent.com/23213994/122414483-c2db8d80-cfb9-11eb-9b7a-8ce

[2021-06-17 16:04] DCSnip3r commented on #177
The best way to handle this edge case (in the case of cancellation of one product subscription but retain another) is to update the existing user subscription to the same quantity it currently has. This will reset the claim role.

In the case of billing failure, it's likely that the customer's billing will fail for all of their subscriptions. So, revoking their claim generally is the right move he

[2021-06-17 17:53] richtera opened #198 "Using subscription extension without firebase auth directly"
# Feature request

I would like to use the extension without linking users to the firebase-auth record, because we're using custom authentication and even though the user or customer record has the email, when calling getUser there will be no email returned. This currently causes the email from not being sent to stripe and being cleared inside of the customer record.
Would you be interested in acc

[2021-06-20 15:03] DCSnip3r opened #199 "Best way to importing existing stripe customers & products to firebase?"
# Question

Is there a suggested method of importing an existing set of stripe customers to an empty firestore?
What about importing products and prices?

Wondering how much will be taken care of via webhook updates if I change to the live keys where my customers are.

[2021-06-21 01:14] varand-pez opened #200 "[Question] Programmatically Customize Customer Portal"
# Feature request

- Extension name: `firestore-stripe-subscriptions`

## Is your feature request related to a problem? Please describe.

So I read [this suggestion already](https://github.com/stripe/stripe-firebase-extensions/issues/88#issuecomment-720308869), but I'd like to programmatically fix the count while opening the customer portal and not allow customer to modify it.
Think about ordering

[2021-06-21 04:27] thorsten-stripe commented on #200
This is not possible. If you want to control subscription updates to this extent, you will need to make updates via the API instead of the customer portal: https://stripe.com/docs/billing/subscriptions/change

[2021-06-21 04:27] #200 closed

[2021-06-21 04:35] thorsten-stripe commented on #199
You would have to write a script that adds (or you manually add) the necessary mapping in the `customers` collection:

- Path: `/customers/{uid}`
- Data:
[code]

As long as this information is present, the extension will be able to perform all actions for authenticated users with the correct Stripe customer ID.

[2021-06-21 04:35] #199 closed

[2021-06-21 13:36] TMcLoone opened #201 "Errors not being logged as errors in firebase console"
# Bug report

- Extension name: firestore-stripe-subscriptions-handleWebhookEvents

## Describe the bug

Errors are only logged as errors via console log, you can't filter the logs to show only errors. Also this error finished with status code 200, it should finish with 500 or something else.

https://github.com/stripe/stripe-firebase-extensions/blob/114d09c6f4d3310acd3cc67702991ad02808047d/firest

[2021-06-21 13:46] TMcLoone opened #202 "Handle Duplicate Users"
# Bug report

firestore-stripe-subscriptions

## Describe the bug

Webhooks fails with error 'user not found'. If the user it is trying to find is anything other than 1. For some reason, we have a duplicated user with duplicate stripeId.

## Expected behavior

Correctly error report that duplicate user is found. If duplicate user found, perhaps check for checkout sessions in user records to find t

[2021-06-21 17:54] WithoutRegret opened #203 "Add checkout session metadata to one time payments"
# Bug report

- Extension name: `firestore-stripe-subscriptions`

## Describe the bug

When I pass metadata with a single payment the same way I pass metadata for a subscription, I would expect the metadata to show up for the Stripe payment. I can see the correct metadata passed to the checkout session document, but it doesn't flow through to the payment document.

## Additional context

I've only

[2021-06-22 14:04] EdwardBock opened #204 "Readonly Email Address with customerEmail"
# Feature request

`firestore-stripe-subscriptions`

## Is your feature request related to a problem? Please describe.

We do not want the users to change their email address in checkout.

## Describe the solution you'd like

It seems that when you provide customerEmail  prop with the create checkout session the email field is readonly.

- https://stripe.com/docs/api/checkout/sessions/create

So I

[2021-06-23 03:21] WithoutRegret commented on #203
Looking into the Stripe documentation:
https://support.stripe.com/questions/using-metadata-with-checkout-sessions

Maybe the above snippet should be something like this:
[code]

[2021-06-24 20:52] japser36 commented on #181
For us adding that snippet caused `metadata` from the checkout session to be written to the payment document's `metadata` property. The last part of our implementation was basically just using this metadata to write down which products were included in the checkout session, which we consumed in a DB trigger on the payment document write to run some side effects (updating other aspects of our user

[2021-06-25 00:35] avelow commented on #173
I don't understand how, but my invoices are now in french.

The only difference is that now I have validated my account with my company informations.

Anyway, my invoices are in the good langage without having to specify the preferred_locales on the customer create.
I close the issue because it's no more a problem for me.

[2021-06-25 00:35] #173 closed

[2021-06-25 07:29] eduardhildebrandt commented on #153
SEPA direct debit in subscription mode is now available as beta.
https://stripe.com/docs/billing/subscriptions/sepa-debit-subscription-mode

[2021-06-26 12:29] abierbaum opened #208 "Allow way to support custom claims for multiple products"
# Feature request

- Extension name: `firestore-stripe-subscriptions`

## Is your feature request related to a problem? Please describe.

I have an application backend that needs to support multiple products that can each have a subscription.  The current extension supports custom claims as a way to check if a product has an active subscription, but it only works for one product at a time.

See a

[2021-06-26 15:09] ixartz commented on #146
@thorsten-stripe I've another question to these events. At the end of `customer.subscription.created`, the code run the following code: https://github.com/stripe/stripe-firebase-extensions/blob/114d09c6f4d3310acd3cc67702991ad02808047d/firestore-stripe-subscriptions/functions/src/index.ts#L436

If I understand correctly, it updates the customer personal information provided during checkout session,

[2021-06-28 05:00] thorsten-stripe commented on #208
Can you please expand on your use case a bit more? Currently each product can have one claim. So

[code]

Is already possible.

[2021-06-28 08:25] FloMueh opened #209 "Add tax_rate_id and more to the auto created customer"
# Feature request

- Extension name: I am not sure which extension is affected. I think it is ext-firestore-stripe-subscriptions-create-customer

## Is your feature request related to a problem? Please describe.

Hey guys, i have setup the firebase stripe extension and everything was working well.

I figured out that we have to add tax_id_data to the customer object. Because our company is based i

[2021-06-28 15:15] TrillyWonka commented on #59
Hi @thorsten-stripe I seem to be getting the same issue.

I have installed the firebase extension and configured it to use **australia-southeast1**

I run the following code when a button is clicked in my web app:

`const functionRef = firebase.app().functions('australia-southeast1').httpsCallable('ext-firestore-stripe-subscriptions-createPortalLink');
const { data } = await functionRef({ returnUr

[2021-06-28 15:47] thorsten-stripe commented on #59
@jhuleatt any idea on the one above and why it's not picking up `australia-southeast1`?

[2021-06-29 04:26] normanwongcl opened #210 "Custom Invoice Description"
# Feature request

- Extension name: [firebase-stripe-invoices]

## Is your feature request related to a problem? Please describe.
I want to specify a dynamic description / memo for the invoice.

## Describe the solution you'd like
[https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-invoices/functions/src/index.ts#L84-L87](https://github.com/stripe/stripe-firebase-exte

[2021-06-29 15:11] KaiSpencer opened #211 "Handle customer.subscription.updated webhook event type"
# Feature request

- Extension name: `firestore-stripe-subscriptions`

## Is your feature request related to a problem? Please describe.

When a user changes their subscription in the customer portal, currently the users subscription document remains with details of the original subscription. (I display current user basic plan info in my site without having to generate a customer portal link and t

[2021-06-29 16:42] thorsten-stripe commented on #211
It does: https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/functions/src/index.ts#L579

Do you get any logs in your Stripe Dashboard for the `customer.subscription.updated` events? Also check the logs of the Firebase functions, they might give you a hint what's wrong in your configuration.

[2021-06-29 16:42] #211 closed

[2021-06-29 17:09] KaiSpencer commented on #211
Ah yes, I found an error with the price app ID which was causing the update to fail. ! :+1:

[2021-06-30 12:38] abierbaum commented on #208
@thorsten-stripe In want to be able to sell multiple digital products each of which can have separate subscriptions.

So for example:

[code]

A user could purchase any combination of these applications.  But as it stands I don't see a way to setup the firestore-stripe-subscriptions extension to tell me which combination the user has active subscriptions for through the claims.

What I was suggest

[2021-07-01 08:38] FloMueh commented on #209
After reviewing your extension i found out, that my use case is impossible.

i found a workaround. I create the customer over my own firefunction. Important, you have to set stripeId in the Customer Object. Otherwise the extension will overwrite your customer entry.

everything else is working fine - with the extension.

[2021-07-01 08:38] #209 closed

[2021-07-01 15:39] masinamichele opened #212 "Store the URL of a Checkout Session in addition to the session ID"
# Feature request

- Extension name: `firestore-stripe-subscriptions`

## Is your feature request related to a problem? Please describe.

I'd like to manually handle the opening of a browser window when calling `createCheckoutSession`.

## Describe the solution you'd like

I'd like the `createCheckoutSession` function to also store the `session.url` inside Firestore, in addition to the `session.id

[2021-07-02 08:09] masinamichele commented on #212
I managed to find a solution that doesn't require the feature implementation.
If anyone stumbles here, I created a new function that triggers on the checkout session document update and retrieves the session URL using Stripe API.

[code]

[2021-07-08 05:13] EdwardBock commented on #204
I have to decide if I implement an own solution for the checkout url handling or wait for you guys to support our change requests. Sadly I don't see any reaction on this.

[2021-07-08 06:45] thorsten-stripe commented on #204
@EdwardBock sorry for the delay! The customer email is already being pre-filled from the customer object, therefore setting `customer_email` is not possible. `customer_email` can only be set when no customer object is being supplied, and then Stripe Checkout will create a new customer object which wouldn't work with the extension.

I've flagged this with the team and they are working on enabling t

[2021-07-08 06:48] EdwardBock commented on #204
Thank you for this explanation! Then I'll have to wait patiently 👍

[2021-07-08 07:01] EdwardBock commented on #204
@thorsten-stripe Is it possible to hide the email address input from the user in the checkout form?

[2021-07-08 08:35] thorsten-stripe commented on #153
@eduardhildebrandt yes, if you're gated into that beta, you can provide `payment_method_types: ['card', 'sepa_debit'],` to your `checkout_sessions` doc creation to enable SEPA DD as payment method.

[2021-07-09 04:47] #203 closed

[2021-07-09 04:47] #212 closed

[2021-07-09 15:46] eduardhildebrandt commented on #153
@thorsten-stripe Yes, thank you. We already using stripe-firebase-extensions with SEPA since 28th June. It's looking good so far. We have multiple successful transactions. Our most painful issue is currently issue #177. Most of the German users fail their "3D Secure" verification on the first trial. In combination with issue #177 this usually results in a support case for us.

[2021-07-10 15:15] EnzleAnalytics opened #215 "Documentation on what exactly needs to be in the document generated in "checkout_sessions""
# Feature request

- Firestore-Stripe-Subscriptions

## Is your feature request related to a problem? Please describe.

I am currently creating an R Shiny platform that uses Firebase/FirebaseUI for authentication and user management, and have successfully installed the Firestore-Stripe extension as everytime a new user authenticates my application, I get a new stripe customer which populates in my

[2021-07-10 22:23] hirrra opened #216 "Account for cases where the user creates a Firebase/Stripe account but leaves before paying"
# Feature request

- Extension name: firestore-stripe-subscriptions

## Is your feature request related to a problem? Please describe.

I'm not sure if this is available but I didn't see anything about it in the extension documentation. Right now our signup flow is you sign up for an account (Firebase) and the user is then redirected to the Stripe checkout page. If the user were to abandon signing

[2021-07-11 13:26] #215 closed

[2021-07-13 19:52] japser36 commented on #203
This same code change was brought up in #181

[2021-07-14 13:41] TrillyWonka commented on #59
Hey guys, just wondering if there's any update on this. I've got another client project where I'm trying to use the portal and I'm getting the same issue.

Cheers,

[2021-07-15 02:57] thisisvilla commented on #204
I think this is related... I just updated the extension and now the email field on the stripe checkout page is editable, where as before it was read-only. Can we force that to be read-only again or hide it like @EdwardBock suggested?

Thanks!

[2021-07-15 09:21] EdwardBock opened #219 "Customer Update Flag"
# Feature request

firestore-stripe-subscriptions

## Is your feature request related to a problem? Please describe.

I did create a pull request that was closed without merge because another pull request was merged that does a similar thing. BUT that's not helping at all. https://github.com/stripe/stripe-firebase-extensions/pull/206

I wanted to have the control of the customer_update property. W

[2021-07-15 09:25] EdwardBock commented on #219
PR: https://github.com/stripe/stripe-firebase-extensions/pull/220

[2021-07-16 08:00] waste-app opened #221 "where can i find the fields in the header of the invoice?"
# Feature request

- Extension name: Send Invoices using Stripe

## Is your feature request related to a problem? Please describe.

where i add this fields ?
[code]

## Describe the solution you'd like

adding this field to `invoiceCreateParams`

[2021-07-16 09:11] TadeuszMiesowicz opened #222 "Tax ID collection requires updating business name on the customer"
# Bug report

- Extension name: [e.g. `firestore-stripe-subscriptions`]

## Describe the bug

Hello,

I installed the extension and all works great, except that if I want to add "tax_id_collection: true"  to the checkout session error is returned:

"Tax ID collection requires updating business name on the customer. To enable tax ID collection for an existing customer, please set `customer_update[n

[2021-07-16 10:34] waste-app opened #223 "sendInvoice dont' use existing customer"
# Bug report

- Extension name: `Send Invoices using Stripe`

## Describe the bug

customer infos cannot be retrieved
` // Use the existing customer` is out of code coverage

[code]

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

create a new invoice on existing user

## Expected behavior

load all billing information on existing user e.g VAT NUMBE

[2021-07-18 08:19] dancixx opened #224 "Creating separate charges and transfers"
# Feature request
- Extension name: firestore-stripe-subscriptions

## Is your feature request related to a problem? Please describe.
Creating separate charges and transfers

We are building a platform where others can sell their products and would be great if we can create separate charges immediately after the purchase.

## Describe the solution you'd like

Basic stripe solution for separate cha

[2021-07-19 16:25] t-kaufmann opened #225 "Tax ID collection requires updating business name on the customer"
# Bug report

- Extension name: firestore-stripe-subscriptions

## Describe the bug
I am aware that a similar issue #222 already exists but I was not sure if the approach/reason behind this bug is the same.

Stripe checkout with `tax_id_collection` enabled leads to the following error: _An error occured: Tax ID collection requires updating business name on the customer. To enable tax ID collection

[2021-07-21 04:23] hesamalavi opened #226 "Issue with creating customer portal"
# Bug report

- Extension name: [e.g. `firestore-stripe-subscriptions`]

## Describe the bug

I am having some issues with creating a customer portal.
The customer portal link only works if the user is authenticated and has just paid (the session where they go to checkout), and in session.
As soon as the user signs out and signs back in the link to the customer portal does not work anymore, and I

[2021-07-22 05:03] EdwardBock commented on #219
@thorsten-stripe can you help me? This is getting a bit urgent for our project.

[2021-07-22 10:29] axel01 commented on #204
Yes, it would be very useful if the email field could be hidden (or be read-only).

[2021-07-25 00:09] alexcastillo commented on #120
Sorry it took me so long to get back to you on this. There's an important detail I just noticed in the changelog example under Version 0.1.3:

[code]

In the example, the metadata is added via `checkout_sessions`. I'm updating the subscription object with metadata directly and not adding it via `checkout_sessions`. Could that be the problem?

[2021-07-26 13:44] raghavmri commented on #55
I am facing the same issue now

[2021-07-27 11:21] TrillyWonka opened #227 "Vague error in webhook events"
# Bug report

- Extension name: ext-firestore-stripe-subscriptions-handleWebhookEvents

## Describe the bug

I've just started working on a new project and I've connected up Firebase to Stripe to do some testing. I have configured the extension to create a checkout session for a one time payment. I create a checkout session and make a test payment. The payment is successful and the event is sent b

[2021-07-27 13:09] thorsten-stripe commented on #227
Thanks for reporting this, it's indeed a bug, we need to do optional chaining here: https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/functions/src/index.ts#L633

That being said, it shouldn't affect the functionality, so should be safe to ignore until we get it fixed.

[2021-07-27 22:58] TrillyWonka commented on #227
Thanks Thor, good to know.

[2021-07-29 16:07] thorsten-stripe commented on #225
Yes, it's the same as https://github.com/stripe/stripe-firebase-extensions/issues/222. Will close this as duplicate.

[2021-07-29 16:07] #225 closed

[2021-07-29 16:08] thorsten-stripe commented on #224
Stripe connect is currently out of scope for this extension. Will leave this issue open to track broader interest, though.

[2021-07-29 16:22] thorsten-stripe commented on #202
I think this is out of scope for the extension. Please remove your duplicate users and make sure only one customer object exists per user.

[2021-07-29 16:22] #202 closed

[2021-08-02 05:21] dijour commented on #184
Just wanted to bump this again to see if this will have any traction @thorsten-stripe. Integrating this on my own seems a bit tricky. But it seems like a critical piece of infrastructure for developers, I think it would be quite valuable. Otherwise it's a bit crazy to try to manually code this.

[2021-08-02 15:29] thorsten-stripe commented on #184
@dijour running a Stripe Connect marketplace is a pretty involved endeavor, not something you'd just want to install an extension for without knowing what you're getting yourself into. Also, marketplaces tend to be very nuanced and therefore need a considerable amount of customization, which doesn't lend itself well for the current Firebase Extension experience.

[2021-08-03 09:47] #201 closed

[2021-08-04 03:34] #227 closed

[2021-08-06 03:19] tlawrie commented on #216
I have a similar flow in our application. I have been wondering if there was a way to automatic assign a 'free' subscription to someone without having to go through the checkout.

I.e. they just sign up and get the free tier by default.

[2021-08-13 10:37] FezVrasta opened #232 "Custom claim not removed when subscription expires"
# Bug report

firestore-stripe-subscriptions

## Describe the bug

When a Stripe subscription expires, the user claims are not updated and they still result subscribed.

## To Reproduce

- Subscribe
- Wait for expiration
- Observe claims are not updated

## Screenshots

![CleanShot 2021-08-13 at 12 43 10@2x](https://user-images.githubusercontent.com/5382443/129345690-e30a80a7-6a45-4e11-835a-ad5f64

[2021-08-13 23:19] alexcastillo opened #233 "firestore-stripe-subscriptions: metadata object is removed from subscription"
Hi, and thank you for the awesome work!

# Bug report

- Extension name: firestore-stripe-subscriptions

## Describe the bug

When a `subscription` document in Firestore is updated by the extension, the metadata object is updated to `null`.

I should note I'm updating the subscription object with metadata directly via custom cloud function, and not adding the metadata object via `checkout_sessions

[2021-08-17 13:07] thorsten-stripe commented on #232
Can you please check the logs on your `customer.subscription.deleted` events: https://dashboard.stripe.com/events?type=customer.subscription.deleted It should look like this:

![image](https://user-images.githubusercontent.com/23213994/129731054-592e57ce-fda3-4b8b-a7de-78a51faef553.png)

[2021-08-17 13:27] FezVrasta commented on #232
If I click on your link it goes to the Events tab, not the Webhooks one, and I see delete events.

But if I go in the webhooks tab I don't see any delete events, only create and update, and in the event types I only see:
[code]

[2021-08-17 13:45] thorsten-stripe commented on #232
It looks like you're missing the necessary subscription events: https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/POSTINSTALL.md#configure-stripe-webhooks

[2021-08-17 13:53] FezVrasta commented on #232
Thanks, is there any way to force a synchronization to update the status of all the expired subscriptions?

[2021-08-17 21:57] abierbaum opened #234 "Allow passing portal configuration to createPortalLink function"
# Feature request

- Extension name:`firestore-stripe-subscriptions`

## Is your feature request related to a problem? Please describe.

I need to allow a user to load a customer portal and immediately cancel a subscription.  (ie. don't wait until the end of the period)

## Describe the solution you'd like

I would like this call used for creating the billingPortal session https://github.com/strip

[2021-08-18 14:15] dackers86 commented on #221
@waste-app The fields mentioned here are not created on the invoice.

According to the Api....

[code]

These properties are specific to the customer provided by en `email` or `uid`.

There are multiple scenarios that would include an update....

1. Non existing customers could include the new fields when they are created for the invoice.

2. If included, the customer could be updated with the new

[2021-08-20 13:07] dackers86 commented on #223
Hi @waste-app.

Can you confirm which retrieval method you are using, for example is it a `uid` or an `email address`.

Additionally, do you haver an active firebase user which represents the provided uid/email?

[2021-08-20 15:22] antoniosap commented on #223
in any case: uid or email.
note: your published TS code don't compile.
i fork you code and make my customisation

[2021-08-23 16:02] dijour commented on #105
Is there a way to add a trial to the subscription checkout session? Bumping this, as I'm not sure I see a way to do this in `createCheckoutSession`.

[2021-08-25 03:59] #210 closed

[2021-08-25 04:02] #222 closed

[2021-08-25 05:03] thorsten-stripe commented on #233
Are you writing metadata directly to Cloud Firestore? If so it will be overwritten as the subscription object in Stripe is the source of truth.

You can update the subscription object in Stripe instead, or write your metadata to a separate doc in Firestore.

[2021-08-25 05:03] #233 closed

[2021-08-25 05:06] thorsten-stripe commented on #232
I'm afraid once the subscription has been canceled it can't be updated in Stripe so no way to trigger a new event for it.

[2021-08-25 05:06] #232 closed

[2021-08-25 05:10] thorsten-stripe commented on #226
Sorry for the delay here. Do you see any logs in the `createPortalLink` function in your Firebase console?

[2021-08-25 06:39] FezVrasta commented on #232
So I have no way to fix this issue for the existing customers?

[2021-08-25 06:51] thorsten-stripe commented on #232
Depending on how many subscriptions you have, you might want to sync their status manually or alternatively write a script that syncs them.

[2021-08-25 07:02] FezVrasta commented on #232
How can I sync it manually?

[2021-08-25 08:23] thorsten-stripe commented on #166
This is now supported by setting `tax_id_collection: true,`

![image](https://user-images.githubusercontent.com/23213994/130755068-a1f17ace-d2f2-4933-b338-76de9eceec7b.png)

[2021-08-25 08:23] #166 closed

[2021-08-25 14:10] alexcastillo commented on #233
Yes, I'm writing metadata directly to Cloud Firestore. Shouldn't the extension do a merge?

[2021-08-25 15:43] thorsten-stripe commented on #233
@alexcastillo if the extension did a merge, then the metadata from the subscription object wouldn't be synced correctly. E.g. metadata keys that were remove would simply persist in Cloud Firestore.

[2021-08-25 15:55] alexcastillo commented on #233
Makes sense, thank you. How can I update the subscription object in Stripe?

[2021-08-26 22:07] kbringsjord opened #238 "On Firebase user creation about 2% of users do not get stripe ID back in their Document/profile"
# Bug report

- Extension name: [e.g. `firestore-stripe-subscriptions`]

## Describe the bug

Hello, I am using the stripe firebase extension and it works very well and greatly appreciate all of your efforts. However, about 2% of the time when users signup and a user document is created the extension neglects to put the stripe id into their profile. It does however consistently make stripe profile

[2021-08-30 15:50] kbringsjord commented on #238
stripe/firestore-stripe-subscriptions@0.1.13
No i do not see any errors.
I entered the collection name of users.
Seems to actually be happening more than 2% of time now

[2021-08-30 17:06] kbringsjord commented on #238
This issue seems to also no be affecting the subscription's updating.  Would anyone from the stripe team have 15 minutes to do a zoom session?

[2021-08-31 04:55] Francesco-Lanciana opened #241 "Adding support for shipping_rates in the Checkout"
# Feature request

firestore-stripe-subscriptions

## Is your feature request related to a problem? Please describe.

I would like a method of adding shipping_rates to the checkout session.

As of V0.1.12 you can add shipping_address_collection to the checkout session by adding collect_shipping_address to the checkout document in Firestore and making sure you have a shipping_countries document wit

[2021-08-31 14:40] thorsten-stripe commented on #238
Unfortunately we can't do a zoom session, but you can hop on our technical chat for help: https://stripe.com/go/developer-chat

Please also update the Firebase extension to the latest version and check the Stripe webhook logs and Firebase function logs.

[2021-09-01 00:32] cvoadmin commented on #153
Hi @thorsten-stripe
Same error, except we've been approved for recurring Alipay. The extension makes requests over the Charges API. In order to use the recurring Alipay feature, it must use the Setup Intents API instead.

[2021-09-03 22:23] dancixx opened #243 "New Trial API support"
# Feature request

- `firestore-stripe-subscriptions`

## Is your feature request related to a problem? Please describe.

If I am not wrong this extension supports the old trial API when we added the trial period days to the price object.
![Képernyőfotó 2021-09-04 - 0 21 53](https://user-images.githubusercontent.com/56868953/132070608-eefc8659-6a58-407f-9b25-d86cc46477fb.png)
But `Stripe` sugge

[2021-09-04 15:05] shamx9ir opened #244 "Billing cycle support"
# Feature request

firestore-stripe-subscriptions

## Is your feature request related to a problem? Please describe.

When a new subscription is created I like to set the billing date at the start of the month.

## Describe the solution you'd like

Similar how this is done on checkout - https://stripe.com/docs/billing/subscriptions/billing-cycle

## Describe alternatives you've considered

None

#

[2021-09-05 17:43] NavidAhmad-UOM opened #245 "products listing code not working with firebase 9"
# Bug report
db.collection('${param:PRODUCTS_COLLECTION}')
  .where('active', '==', true)
  .get()
  .then(function (querySnapshot) {
    querySnapshot.forEach(async function (doc) {
      console.log(doc.id, ' => ', doc.data());
      const priceSnap = await doc.ref.collection('prices').get();
      priceSnap.docs.forEach((doc) => {
        console.log(doc.id, ' => ', doc.data());
      });
    }

[2021-09-06 16:13] thorsten-stripe commented on #243
Duplicate of https://github.com/stripe/stripe-firebase-extensions/issues/105

[2021-09-06 16:31] dancixx commented on #243
@thorsten-stripe Thanks, I follow it and I'm sorry for the duplication, I was inattentive.

[2021-09-06 16:31] #243 closed

[2021-09-12 22:47] cvoadmin commented on #166
What is the best approach of you use a 0% ID? I'm not sure what to make of the Stripe Tax fees. We are not enrolled.

[2021-09-18 15:12] tanosugi commented on #226
Same error occurred for me. following logs were reported in the firebase console. It's very helpful if you fix it.

12:09:21.356
ext-firestore-stripe-subscriptions-createPortalLink
Function execution started

12:09:21.360
ext-firestore-stripe-subscriptions-createPortalLink
Function execution took 5 ms, finished with status code: 204

12:09:21.373
ext-firestore-stripe-subscriptions-createPortalLink

[2021-09-19 05:21] dwanderton opened #250 "User subscriptions not updated after cancels subscription via stripe customer portal"
# Bug report

firestore-stripe-subscriptions

## Describe the bug

When a user cancels their subscription using the stripe customer portal, the stripe webhook fires a `customer.updated`  call to firebase function which respond with:
[code]
However the event object doesn't seem to contain information that indicates the end of the subscription, and the customer object in firestore maintains an activ

[2021-09-19 06:05] tanosugi commented on #226
I found that reason of this problem is that I set firestore document "customers" when user login.
It was solved I changed my code as follows.
[code]

I am not sure hesamalavi is at same situation or not.

[2021-09-23 18:03] doppio opened #254 "Add support for cart abandonment recovery"
# Feature request
Stripe [supports recovering abandoned carts](https://stripe.com/docs/payments/checkout/abandoned-carts) by passing in a couple of additional arguments when creating a session.

- Extension name: `firestore-stripe-subscriptions`

## Is your feature request related to a problem? Please describe.
We would like to be able to send promotional emails to users who create a Checkout sess

[2021-09-23 22:22] maximalniq opened #255 "Flutter web implementation example docs"
- firestore-stripe-subscriptions

Hi ! In the extension documents in Firebase there is only example implementation for JavaScript.

I managed alone to translate the CreatePortalLink function to dart, but I am having trouble with CreateSession.

For anyone searching for CreatePortalLink implementation in dart, here it is.

[code]

And this is the CreateSession function in JavaScript.

[code]

What

[2021-09-27 13:11] maximalniq commented on #255
I tried to call the createCheckoutSession cloud function as the CreatePortalLink one,

[code]

[2021-09-27 13:15] maximalniq commented on #255
I tried to call the createCheckoutSession cloud function as the CreatePortalLink one,

[code]

 but I got an error '[firebase_functions/unauthenticated] unauthenticated', even though I am authenticated with OAuth, I even changed the permissions in the Firebase Database and the Google Cloud Console, still no

[2021-09-27 14:54] maximalniq commented on #255
![image](https://user-images.githubusercontent.com/17831615/134932881-2bc418a6-6527-4d14-80c8-caf28b6d0367.png)

[2021-09-28 14:06] #255 closed

[2021-09-29 19:17] austinn0 commented on #198
I am also running into a similar situation. In my case, the subscription is not tied to a user, but rather an 'organization'

[2021-10-04 08:22] Bandit opened #260 "createPortalLink 500 error: Invalid string: {isTrusted=>"true"}"
# Bug report

firestore-stripe-subscriptions

## Describe the bug

When calling `ext-firestore-stripe-subscriptions-createPortalLink` the function encounters a 500 error:

`Uncaught (in promise) FirebaseError: Invalid string: {:isTrusted=>"true"}`

From the functions logs:

![image](https://user-images.githubusercontent.com/30508/135817524-73dc8299-4ab1-4f46-a2e8-c36e4fcfffbb.png)

[2021-10-04 09:04] Bandit commented on #260
Turns out this was because I was trying to access `window.location.href` in an insecure context (e.g. in an included script file which I guess is blocked for security reasons?) and so instead of passing my `returnTo` URL to the Firebase Function, it was passing `{ isTrusted: "true" }` for whatever reason. Thankfully Stripe logs saved me many, many hours of debugging here.

[2021-10-04 09:04] #260 closed

[2021-10-10 00:08] mtrautwein opened #267 ".createCheckoutSession creates another duplicated customer after .createCustomer"
# Bug report

[firestore-stripe-subscriptions]

## Describe the bug

When the users signs up, an account is created in my Firebase app. Then he is redirected to a Stripe checkout session . **issue -> the customer is created twice in Stripe**. (two customers with the same email, same firebase UID)

One of the duplicated customer in Stripe has the logs : "POST /v1/customers" and "POST /v1/checkout/s

[2021-10-10 15:26] mtrautwein commented on #267
[RESOLVED] The issue is when I call the function subscribe() after le .then(() => when the account is created in firebase. I think the function is called more than one time.

[2021-10-10 15:26] #267 closed

[2021-10-14 15:43] DCSnip3r opened #269 "Webhook handler for Stripe event [x] of type [customer.subscription.updated] failed: An error occurred with our connection to Stripe."
# Bug report

- Extension name: [e.g. `firestore-stripe-subscriptions`]

## Describe the bug

customer.subscription.updated has an unreliable connection to Firestore

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Increase a subscription quantity in Stripe
2.  Decrease a subscription quantity in stripe

The first subscription quantity change was

[2021-10-16 07:13] FezVrasta commented on #232
I ended up using a script like this:

[code]

[2021-10-19 04:48] TheRealFlyingCoder opened #272 "invoices.paid is a relevant event"
# Bug report
`firestore-stripe-invoices`

## Describe the bug

The event invoices.paid is triggered when manually handling an invoice through Stripe Dashboard.

If an invoice value is waived for a customer (but we want to retain the invoice), and/or the payment is handled in another manner, we manually update the invoice to "paid" through the dashboard.

This triggers `invoices.updated` & `invoice

[2021-10-20 02:55] Georg7 opened #274 "Add support for trials"
# Feature request

- Extension name: `firestore-stripe-subscriptions`

## Describe the solution you'd like
Support for trials. Current documentation suggests:
[code]
But Stripe doesn't seem to support this implementation any more (for Checkout):

<img width="387" alt="Screenshot 2021-10-20 at 11 00 37 AM" src="https://user-images.githubusercontent.com/7827962/138021144-ff5146ed-2a69-4bfc-940c-69e9

[2021-10-21 12:22] mahdiendigitals opened #277 "i want to use subscription and one time payment at the same time"
Hello I am building a web application where users can learn languages. the user can subscribe monthly with a determined number of classes to attend every month and he can also buy a determined number of classes as a product. i have implemented "Run Subscription Payments with Stripe extension" and the monthly subscription works absolutly fine.
but i don't know how should i implement the one time pr

[2021-10-22 00:32] Prasad-Omprakash commented on #55
I am facing the same issue 403 error from web hook. can someone help ? Thanks

[2021-10-22 00:34] Prasad-Omprakash opened #278 "403 webhook error on wordpress website ? miscongifuration ?"
# Bug report

- Extension name: [e.g. `firestore-stripe-subscriptions`]

## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to '…'
2. Click on '…'
3. Scroll down to '…'
4. See error

## Expected behavior

A clear and concise description of what you expected to happen.

## S

[2021-10-22 01:46] TheRealFlyingCoder opened #279 "Store invoice number for reference - (Quick solution)"
# Feature request

firestore-stripe-invoices

## Is your feature request related to a problem? Please describe.

Currently there is no simple way to match a Customer's invoice number to an invoice ID.

If I have the customer email / uid, I can search for all their invoices, and then filter to get one that matches their invoice number, but this is a very long way around.

## Describe the solution y

[2021-10-27 17:02] chetbox opened #281 "Webhook handler error for `checkout.session.completed`"
# Bug report

- `firestore-stripe-subscriptions `0.1.14`

## Describe the bug

An error in the webhook handler function:

[code]

## To Reproduce

1. User purchases a subscription from the site using checkout URL from:
[code]

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots

If applicable, add screenshots to help explain your problem.

## Syste

[2021-10-28 19:44] DCSnip3r opened #284 "Integration with Google Analytics "Purchase" event - Need transaction ID"
# Feature request
I'm looking to integrate Firebase's google analytics events to the checkout workflow. One of the events I'd like to track is "Purchase". https://developers.google.com/tag-platform/gtagjs/reference/events#purchase

My plan is to set the success_url from the checkout session to contain various parameters that I can feed into this event.

However,  according to the above docs, a uni

[2021-10-28 20:40] asteffens opened #285 "Document shipping_countries not available after install"
We use Version 0.1.15 of this extension.
After install and activation the document shipping_countries is not created. But its needed for collecting shipping information. Providing this information via the client is not recognized by the cloud function.

https://github.com/stripe/stripe-firebase-extensions/blob/3853c922836d89676855615c6cccdc120f34348b/firestore-stripe-subscriptions/functions/src/in

[2021-10-28 20:47] #285 closed, assigned to nobody

[2021-10-30 11:23] abhishekvatsiossoftwaredev opened #287 "Does not Sync new users to Stripe customers and Cloud Firestore"
# Bug report

- Extension name: [e.g. `firestore-stripe-subscriptions`]

## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

If a new user is created in Firebase auth via signupviewcontrolller, it should automatically sync user

![simulator](https://user-images.githubusercontent.c

[2021-11-03 04:08] abhishekvatsiossoftwaredev commented on #287
I had not updated the rules correctly and not connected webhook correctly, now working fine. My bad.

[2021-11-03 04:08] #287 closed

[2021-11-03 23:32] TheRealFlyingCoder opened #288 "Rate Limit on large invoices"
# Bug report

- Extension name: firestore-stripe-invoices

## Describe the bug

Due to the extension making a request for each line item on an invoice, I am hitting the rate limit when multiple invoices are triggered at the same time:

[code]

Stripe invoices can have up to 250 line items, and this specific scenario was a single invoice with >100 line items.

## Expected behavior

Due to this bein

[2021-11-04 00:06] #241 closed

[2021-11-09 18:17] ElBouhaliMohamed opened #304 "FirebaseError on createCheckoutSession"
# Bug report

- firestore-stripe-web-sdk

## Describe the bug
[code]

It seems that the firestore instance created in the FirestoreSessionDAO isn't correct or the collection() call is wrong.

## To Reproduce
Init firebase and stripe

[code]
import payments and use checkout function

[code]
When the method gets called there's the error in the console.

## Expected behavior
Normal stripe checkout se

[2021-11-12 17:26] sarbogast commented on #223
I have the same issue: I create customers in Stripe based on my users in Firebase so that all the properties like name, address, VAT number and so on are properly set. The one thing I can't seem to be able to do is to set the currency of the customer when I create it. So by default it is left undefined. And when I create an invoice for the Firebase extension to pick up, I only set its email addres

[2021-11-15 16:25] cyrildiagne commented on #274
Facing the same problem. Is there any solution or workaround?

[2021-11-19 18:03] tommtt commented on #304
Same problem: https://stackoverflow.com/questions/70013565/stripe-and-firebase-firebaseerror-expected-first-argument-to-collection-to-b?noredirect=1#comment123784766_70013565

[2021-11-19 19:11] RaynoldVanHeyningen commented on #304
Same problem here, possibly related to Firebase ^9 ?

My firebase version: "firebase": "^9.1.3"

[2021-11-22 20:05] hiranya911 commented on #112
This is likely a dependency management issue. The library is expecting a certain version of `@firebase/firestore` while a different one is installed with the app. Can somebody who can repro this issue please share their dependency tree with us (i.e. `npm ls` output)? Or even better, share a small, minimal repro that we can try locally.

[2021-11-22 20:08] hiranya911 commented on #304
This is likely a dependency management issue. The library is expecting a certain version of `@firebase/firestore` while a different one is installed with the app. Can somebody who can repro this issue please share their dependency tree with us (i.e. `npm ls` output)? Or even better, share a small, minimal repro that we can try locally.

[2021-11-22 20:09] hiranya911 commented on #112
We now have https://www.npmjs.com/package/@stripe/firestore-stripe-payments available in alpha. Please try it out and let us know if it meets your requirements.

[2021-11-22 20:19] tommtt commented on #304
├── @emotion/react@11.4.1
├── @emotion/styled@11.3.0
├── @firebase/analytics 2@ extraneous
├── @firebase/app-check 2@ extraneous
├── @firebase/app-check-compat 2@ extraneous
├── @firebase/app-compat 2@ extraneous
├── @firebase/app@0.7.8
├── @firebase/auth-compat 2@ extraneous
├── @firebase/database 2@ extraneous
├── @firebase/database-compat 2@ extraneous
├── @firebase/firestore 2@ extraneous
├──

[2021-11-22 20:40] RaynoldVanHeyningen commented on #304
├── @chakra-ui/react@1.6.10
├── @emotion/react@11.5.0
├── @emotion/styled@11.3.0
├── @fontsource/inter@4.5.0
├── @stripe/firestore-stripe-payments@0.0.3 extraneous
├── @types/react@17.0.33
├── date-fns@2.25.0
├── eslint-config-next@11.1.0
├── eslint@7.32.0
├── firebase-admin@10.0.0
├── firebase@9.1.3
├── framer-motion@4.1.17
├── js-cookie@3.0.1
├── lodash@4.17.21
├── next-transpile-modules@9.0.0
├

[2021-11-22 20:45] tommtt commented on #304
Guys now it seems working! Awesome, thanks!

[2021-11-22 20:49] RaynoldVanHeyningen commented on #304
What did you change?

[2021-11-22 20:50] RaynoldVanHeyningen commented on #304
What did you change?

[2021-11-22 20:53] tommtt commented on #304
Literally nothing. I just tried again to trigger the function and now it just works.

[2021-11-23 00:34] tommtt opened #313 "Customer Portal"
Hi guys, I want to create a button to allow customers to manage their subscription. Can I do that using this repo?

Something like:

import { customerPortal } from "@stripe/firestore-stripe-payments";

Thanks!

[2021-11-23 23:14] cjavilla-stripe commented on #277
Hey @mahdiendigitals. The extension supports both one time and recurring price objects when creating the Checkout Session. Can you try passing a one-time price and setting the mode for the Checkout Session to `payment`?

[2021-11-23 23:26] cjavilla-stripe commented on #250
@dwanderton sorry for the delayed response. I wonder if the webhook endpoint is listening for the customer.subscription.updated event. Can you share the ID for the event that wasn't handled in firebase?

[2021-11-23 23:41] cjavilla-stripe opened #314 "Update restricted key instructions"
# Feature request

- firestore-stripe-payments

## Is your feature request related to a problem? Please describe.

In the onboarding for restricted key we say:

Since the two extensions have been merged, I think we also need write access to Invoices and read access to Products from the restricted key.

## Describe the solution you'd like

Update docs

[2021-11-25 01:20] #250 closed

[2021-11-25 15:34] jaytavares commented on #112
@hiranya911 That package looks great. Thanks!

[2021-11-25 16:01] leonvisscher commented on #313
Hi @tommtt! I just implemented this myself like this:

[code]

[2021-11-26 07:20] dancixx opened #315 "Refunded state"
Hi guys.

This is not actually a bug but maybe later can be a feature request. So the main question is that how can I detect on saved invoices and payments the refunded state? Is there a listener for this event in this package?

[2021-11-26 15:35] heyarviind commented on #254
I don't think the extension would be able to add extra arguments. The user has to make the changes in the connected accounts and after that extension can take benefit from that extra information.

[2021-11-29 22:42] johnpuaoi commented on #223
@sarbogast I agree, using just the customer id or the email would be great. I discovered this issue when invoicing customers through my new ticketing system that utilizes this extension.

For now, I guess as a workaround I will just set the customer's currency manually in the stripe dashboard before invoicing them.

[2021-11-29 22:58] sarbogast commented on #223
I had so many customization issues like that that I ended up copying the code into my own Cloud Functions, uninstalling the extension, and customizing what I needed.

[2021-11-30 22:45] felixjunghans opened #322 "Add discount parameter for create checkout session"
# Feature request

- Extension name: `firestore-stripe-payments`

## Is your feature request related to a problem? Please describe.

I would like to create a way for my customers to automatically redeem a coupon intended only for a specific customer group. Currently you can only specify a promotion_code when creating a checkout session.

## Describe the solution you'd like

It would be nice if in

[2021-12-02 00:49] dawogfather opened #323 "How to map a firebase deployed cloud function version to the codebase here"
# Bug report

- Extension name: [e.g. `firestore-stripe-payments`]

## Describe the bug

I don't see how I can map extension that I already have installed in my firebase console with
stripe/firestore-stripe-payments@0.1.15

This verison specifically https://github.com/stripe/stripe-firebase-extensions/blob/master/firestore-stripe-payments/CHANGELOG.md#version-0115---2021-08-26

## To Reproduce
Ins

[2021-12-02 01:14] timothypratley opened #324 "Per seat billing"
# Feature request

- Extension name: firestore-stripe-payments

## Is your feature request related to a problem? Please describe.

I'd like to offer a per-seat plan so that companies can have one paid subscription for multiple users.

## Describe the solution you'd like

I'd like multiple Firebase users to be associated with a single Stripe subscription, and the price of the subscription to be rel

[2021-12-09 14:42] noelmansour opened #326 "Include discount in Subscription Document"
# Feature request

`firestore-stripe-payments`

## Is your feature request related to a problem? Please describe.

I'd like the client to show the state of the subscription including any active discounts. The current Subscription document does not include discounts.

## Describe the solution you'd like

The Subscription document should include the `discount` from the response from `customer.subscr

[2021-12-09 15:46] noelmansour commented on #274
While it's "no longer recommended", it still works. Set the free trial on the price and then use, `trial_from_plan: true` when creating the checkout session.

[2021-12-10 02:52] deerboy opened #327 "firestore-stripe-payments v0.0.4 has error: SyntaxError: Unexpected token 'export'"
# Bug report

- @stripe/firestore-stripe-payments

## Describe the bug

in Next.js

[code]

👇🏻

[code]

v0.0.3 is work ✅
v0.0.4 has error 🚫

---

Thank you for your support :)

[2021-12-10 17:38] DCSnip3r commented on #314
Adding to this, we need updates for permissions regarding "setting up a payment for future use"

Error messages made it clear that must add SetupIntent write permissions, but there is another permission that is needed that is unclear.

403 Error: POST /v1/ephemeral_keys

invalid_request_error

The provided key 'rk_test_*******************************************************************************

[2021-12-12 12:52] adam-bielasty commented on #304
I downgraded from:

"@stripe/firestore-stripe-payments": "0.0.4",
to
"@stripe/firestore-stripe-payments": "0.0.3",

and the bug stopped occurring.

[2021-12-14 15:16] magicmikek commented on #314
Solved the error by using the Secret Key Stripe provided. A restricted key does not work in this case.

[2021-12-17 15:51] anargu commented on #198
Same situation here

[2021-12-18 00:53] matheuscabralkk opened #328 "possibility to create "one-time payments" via mobile passing a list of "prices""
# Feature request

- Extension name: firestore-stripe-mobile-prices-payment

## Is your feature request related to a problem? Please describe.

I'm not able to do "One-time payment" via Mobile passing a list of "prices", because the parameters "amount" and "currency" are mandatory in this case (mobile payments).
I Can't do this with this plugin? If not, stay here my feature request

## Describe th

[2021-12-20 17:55] myerzman opened #329 "Subscribe button doesn't redirect to stripe checkout"
# Bug report

- Extension name: [e.g. `firestore-stripe-payments`]

## Describe the bug

Clicking on Subscribe doesn't redirect to stripe subscriptions

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to '…'
2. Click on '…'
3. Scroll down to '…'
4. See error

## Expected behavior

A clear and concise description of what you expected to happen.

[2021-12-20 21:47] breadcrumbbuilds commented on #304
Attempted downgrading, still have the same issue.

[2021-12-28 21:03] TrppnBstrds commented on #59
Hi,
so I had the same problem (CORS Policy blocked...) when I realized that for me I didn't have anything to do with the region but the cloud function name was changed to "ext-firestore-stripe-payments-createPortalLink" instead of "ext-firestore-stripe-subscriptions-createPortalLink"...that solved it for me..
If you're not sure, just check the name of the cloud function in your firebase console un

[2021-12-29 18:44] Chaddeus commented on #177
I am experiencing this as well. A user will end up with multiple subscriptions on their document in Firestore -- one is active (with their successful payment) while they may have n number of incomplete/inactive subscriptions from failed payment attempts.

I've resolved this by deleting the failed ones from their Firestore record, then in Stripe adding a dummy metadata to the good subscription that

[2022-01-01 23:54] napter commented on #153
@thorsten-stripe Was the feature ever added to checkout to use other payment methods in subscription mode? It seemed like this should be possibly from the docs but I get "The payment method cannot be used in subscription mode" error for anything other than 'card'.

Any word on if this will be resolved or do we need to recreate checkout using elements or something to enable other payment types with

[2022-01-02 17:19] cvoadmin commented on #153
As of Version 0.2.3 all payment methods enabled in your Dash are presented in checkout, you no longer need to use `payment_method_types` in your scripts.
Also Thorsten no longer works for Stripe.

[2022-01-02 17:28] napter commented on #153
@cvoadmin Version 0.2.3 of which library? I'm using Stripe Node, only commented here because it's the only place I saw this particular issue discussed but the issue above confirmed to be an issue with checkout, not of any particular library.

Are you sure that is true even when using checkout for subscriptions? If you try adding any other payment_method_types when using subscription it still gives

[2022-01-02 17:54] cvoadmin commented on #153
Just delete the whole line and enable other methods in dash. It's for all libraries.

[2022-01-02 18:49] napter commented on #153
I did this. The checkout session for subscriptions still returns
payment_method_types:
[ 'card' ] even when leaving the parameter off and enabling other methods
in the dash.

On Sun, Jan 2, 2022, 12:54 PM cvoadmin ***@***.***> wrote:

[2022-01-04 20:53] louis-md commented on #327
Same problem

[2022-01-05 09:31] Chaddeus opened #333 "If a customer has a failed payment, then successful payment the claim isn't being set"
# Bug report

- Extension name: firestore-stripe-payments

## Describe the bug

If a new subscriber encounters a payment issue during checkout and then leaves to try again later, they end up with two subscriptions stored in Firestore. One is inactive (payment failed subscription) the other is active.

That's fine, except the claim is not getting set appropriately. It's as if the inactive subscript

[2022-01-07 19:19] kermitdefroghere opened #335 "Support for volume pricing model"
Is there an intent to support Stripe's volume pricing model?

The ability for subscribers to pay tiered pricing for items in high volume would be very useful for our use case.

[2022-01-08 04:42] dpsthree commented on #327
Experiencing this in a Svelte app as well.

[2022-01-15 18:41] FezVrasta commented on #333
Having the same issue, it's causing so many problems to us ☹️

[2022-01-16 08:47] Spitzbua commented on #153
@napter , could you manage to use other payment method types but card in subscription mode?

[2022-01-17 15:55] FezVrasta commented on #333
Is anyone from Stripe following this issue tracker?

[2022-01-18 03:22] normanwongcl commented on #327
+1 Experiencing the same issue with @deerboy. Also using Next.js

[2022-01-18 12:27] mmcenti commented on #304
Still have this issue on 0.0.5 by the way

[2022-01-19 22:45] HerbertBodner commented on #153
I specifically use `payment_method_types: []` in the firebase `checkout` database object. (using subscription mode)
But the firebase stripe extension still sends `payment_method_types: [ 'card' ]` to stripe. I can see that in the Stripe API logs.
Also removing this whole line has the same effect.

So I think the latest firebase extension (0.2.4) is still restricted to only card payments for subscr

[2022-01-21 01:31] bsnman opened #337 "User cancel subscription"
# Feature request

- firestore-stripe-payments

## Is your feature request related to a problem? Please describe.

I do have a way for user to subscribe my app having premium access to everything, but since my app have like a free tier,

## Describe the solution you'd like

A function where a user will pass subscription.id and it should cancel the subscription in the end_period or immediately

##

[2022-01-21 02:44] kylegraycar commented on #163
+1 to this.

In case it helps, this is the error output:
`❗️[Error]: Checkout session creation failed for doc [ymyWmrVdLUHBUyHFI9Kf]: Quantity should not be specified where usage_type is `metered`. Remove quantity from `line_items[0]``

[2022-01-21 15:14] jbryanh commented on #163
@kylegraycar I am doing this now.  I think a subsequent update opened this up....or I just figured out how to do it.  I forgot about this request.  It's been a while since I've looked at it, though. I think remove the quantity, I see in my code I don't include it.  You're just adding the product, and you'll have to set up a cloud function to populate your usage, and then Stripe/Firebase will read

[2022-01-22 03:59] text4lilac opened #338 "Webhook signature verification failed"
# Bug report

- Extension name: [e.g. `firestore-stripe-payments`]

## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to '…'
2. Click on '…'
3. Scroll down to '…'
4. See error

## Expected behavior

A clear and concise description of what you expected to happen.

## Screen

[2022-01-25 16:15] apogee23 opened #339 "Unable to Create PaymentIntent with Recommended Restricted Key"
# Bug report

- Extension name: firestore-stripe-payments

## Describe the bug

With the suggested restricted key configuration, the `createCheckoutSession` method results in an error while attempting to create an ephemeralKey.

## To Reproduce

1. Setup extension with recommended Restricted API Key.
2. Trigger the `createCheckoutSession` function where the `client="mobile"`.
3. Receive error:  `t

[2022-01-25 16:32] atanaskanchev commented on #338
I've just installed it today and I am getting the same

[code]

[2022-01-25 17:01] atanaskanchev commented on #338
@text4lilac I've solved it by using the `Signing secret` (e.g. `whsec_****`) instead of the hook id `we_****`

[2022-01-26 03:58] nino-cast opened #340 "Save the customer's payment method at the time of payment"
# Feature request

Run Payments with Stripe

## Is your feature request related to a problem? Please describe.

I want to save the customer's payment method at the time of payment. Currently, customers have to enter their credit card every time.

## Describe the solution you'd like

We should be able to respond if we can change the [relevant option](https://stripe.com/docs/api/checkout/sessions/cr

[2022-01-26 17:07] cyrildiagne opened #341 "Webhook failed: Value for argument "documentPath" is not a valid resource path. Path must be a non-empty string."
# Bug report

- Extension name: `firestore-stripe-payments`

## Describe the bug

We've noticed a growing number of inconsistencies between the claims that our users have in Firebase (we have a single `stripeRole: pro` claim that we want assigned to users with an active subscription)

But we've noticed that (at least many) users don't get their claims revoked when they unsubscribe or their payment

[2022-01-27 23:04] kylegraycar commented on #163
@jbryanh - yes, thank you! Removing quantity is indeed the solution here.

[2022-01-27 23:55] #163 closed

[2022-01-28 04:53] Chaddeus commented on #333
Mhmm... that does seem to be what's happening. Maybe not random, but whatever the logic is, it is quite annoying to deal with. I manually go in and delete the "old" subscription from Firestore. Then go back into Stripe and add a bogus metadata change (I usually call it "refresh") so the webhook is triggered and updates the user's subscription in Firestore.

A tedious task. Really need someone from

[2022-01-28 04:56] Chaddeus commented on #333
@thorsten-stripe Any chance Stripe is aware of this issue and working on a solution, please? 🙏

[2022-01-28 08:49] cjavilla-stripe commented on #333
Thanks for the report. We'll take a look.

[2022-01-28 09:02] cjavilla-stripe commented on #333
Instead of pushing customers back through Checkout for failed payment, I wonder if redirecting to customer portal would be better so they can update their payment method on the existing Subscription instead of creating a new one.

Trying to think through how we would remove the old subscription and old claim safely. One risk is there's already a successful subscription set up, and for some reason

[2022-01-28 09:23] FezVrasta commented on #333
The problem happens even if a customer unsubscribe and then later decides to subscribe again.

[2022-01-28 09:44] cjavilla-stripe commented on #341
I think this is related to #333.

[2022-01-28 09:46] cjavilla-stripe commented on #338
@text4lilac can you confirm you're setting the webhook signing secret correctly?

[2022-01-28 09:48] cjavilla-stripe commented on #333
I think it may have to do with the line where we're setting the claim to null. I feel like we should be deleting the claim or something instead of setting to null.

[2022-01-28 09:49] cjavilla-stripe commented on #329
Can you share more context? We don't have enough info here to debug.

[2022-01-28 09:51] cjavilla-stripe commented on #328
Correct. With mobile, we create a PaymentIntent directly instead of a Checkout Session. PatmentIntents don't accept Price objects, but instead a more primitive amount. You'd need to calculate the total price and send that amount.

[2022-01-28 09:51] #328 closed

[2022-01-28 09:57] #313 closed

[2022-01-28 10:00] cjavilla-stripe commented on #278
Not enough context to investigate. Closing.

[2022-01-28 10:00] #278 closed

[2022-01-28 10:01] cjavilla-stripe commented on #277
Closing for inactivity.

[2022-01-28 10:04] cjavilla-stripe commented on #274
Need to add support for trial_period_days https://stripe.com/docs/api/checkout/sessions/create#create_checkout_session-subscription_data-trial_period_days

[2022-01-28 10:07] cjavilla-stripe commented on #244
billing_cycle_anchor is not supported on Checkout so we can't add here.

[2022-01-28 10:13] cjavilla-stripe commented on #153
We should be defaulting to automatic payment methods now, but aren't yet.

[2022-01-28 10:45] cjavilla-stripe commented on #333
Seems like our attemp to remove the claim doesn't work as expected: https://stackoverflow.com/a/65081669

Still need to reproduce, but my guess is we need to blow away all claims, then set it to everything except the one we're removing.

[2022-01-29 16:48] christiangenco commented on #327
Until Stripe fixes this you can use the [useStripe React webhook](https://gist.github.com/christiangenco/63409671e0e91d11b093b62311673f95) I threw together.

[2022-01-30 18:16] chernushevich commented on #327
This is still an issue.

[2022-01-30 22:25] limzee opened #344 "Svelte-kit Issue"
# Bug report

- Extension name: firestore-stripe-payments

I get the following error trying setup the extension with Svelte-kit:
**It did work with normal svelte.** This is something I stumbled upon trying to migrate the project to Svelte-kit.

[code]

## To Reproduce

Start a new Svelte-kit project and setup firebase and stripe:

[code]

  and attempt to fetch the products using the following cod

[2022-01-31 06:51] Chaddeus commented on #333
Yea, if it is still true that Firebase forces you to remove all claims, that might introduce other issues -- where the developer might have created their own custom claims.

So when doing this, you may need to collect all the claims first, remove the "old" Stripe claim, then add all the previous claims back along with the new Stripe claim.

[2022-02-01 16:48] lahirumaramba commented on #327
I was able to reproduce this issue on all versions `v0.0.3` to `v0.0.6` with a `next-js` starter project.
[code]
Couldn't find any specific config changes that could cause this in `firestore-stripe-payments` codebase.
However, I was able to fix the error by adding the following to `next.config.js`.

[code]
Let us know if using `next-transpile-modules` in `next.config.js` could be a workaround unti

[2022-02-02 19:48] scole954387 commented on #274
I just finished implementing the redirectToCheckout via an online tutorial and it works great with the legacy trial under the product however as this issue identifies it's not working with the firebase extension to be able to use the trial_period_days.  Looking forward to this fix.  Any estimated time?  Thanks

[2022-02-02 22:08] JHethDev opened #345 "Add discounts to invoices"
# Feature request

- Extension name:  Send Invoices using Stripe

## Is your feature request related to a problem? Please describe.

No. But I need to add discounts/coupons to invoices.

## Describe the solution you'd like

Either the ability to add a coupon in Stripe admin and add it to the order object or the ability to specific parameters of a discount as an object. {discountPercent: 15, oneTim

[2022-02-04 10:40] paulmattu commented on #153
not sure if i missed something but stripe doesnt support "sofort" payment in subscription mode
https://stripe.com/docs/payments/sofort/accept-a-payment
"sepa" works fine with stripe/firestore-stripe-payments@0.2.4 but I would also be happy about "sofort"

[2022-02-06 13:26] abierbaum commented on #208
@thorsten-stripe Have there been any recent changes that would allow this type of usage?  I am still looking for a way to allow people to purchase multiple products with this extensions and know about each of them in the claims.

[2022-02-06 13:32] cjavilla-stripe commented on #208
No change here. The extension still supports at most one claim.

[2022-02-06 13:41] pstutz commented on #208
Is this planned? I have the same use case of needing to support different subscriptions (base + multiple addons). Only being able to set a single Firebase role does not allow to model this.

[2022-02-06 16:31] KaiSpencer commented on #327
@lahirumaramba I can confirm this workaround works.

    "@stripe/firestore-stripe-payments": "^0.0.6",
    "firebase": "^9.6.6",
    "next": "12.0.0",
    "next-transpile-modules": "^9.0.0",

[2022-02-07 13:57] cjavilla-stripe commented on #208
Hey Paul, this is work is not currently planned. I'd recommend setting up a custom firebase function if you need to support multiple claims.

[2022-02-07 17:34] healthybud commented on #345
We're having the same issues! Have you received any update?

[2022-02-07 17:39] healthybud commented on #345
Does anyone from Stripe following this issue thread?

[2022-02-07 17:46] #345 closed

[2022-02-07 21:17] JHethDev opened #346 "Custom Invoice Description No Longer Works"
# Bug report

- Extension name: [firebase-stripe-invoices]

## Describe the bug

The main invoice description no longer shows up anywhere on the invoice page. This feature was requested by [#210](https://github.com/stripe/stripe-firebase-extensions/issues/210) and implemented by [#231](https://github.com/stripe/stripe-firebase-extensions/pull/231) but no longer produces a note/memo/description on

[2022-02-07 22:40] healthybud commented on #346
Curious...

[2022-02-07 23:33] DCSnip3r commented on #337
Why not just use the stripe api on your backend to do this? It can be done with a callable function

[2022-02-08 02:32] DCSnip3r commented on #314
@magicmikek Can you elaborate? Still having this problem

[2022-02-08 16:52] DCSnip3r commented on #340
This is already the default behavior. The only thing is it doesn't set the payment method as default during first checkout.

[2022-02-08 16:55] DCSnip3r commented on #339
I believe this is for setting up a payment for future usage? If so I also have this problem. The current restricted key that the docs have us create do not have the correct permissions configured for this feature to work. Curious how to do this?

[code]

[2022-02-10 15:22] jsteele-stripe commented on #153
I'm unable to replicate this using `firebase-stripe-payments@0.2.4` – [this](https://github.com/stripe/stripe-firebase-extensions/pull/246) PR addressed the issue and was released in [`0.2.3`](https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-payments/CHANGELOG.md#version-023---2021-11-29). Checkout Sessions created with `mode: 'subscription'` don't contain the `payme

[2022-02-11 15:01] #153 closed

[2022-02-12 13:55] jsteele-stripe commented on #340
This is not true for Checkout Sessions where `mode: 'payment'`, which this extension [supports](https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-payments/CHANGELOG.md#one-time-payments). You need to explicitly pass the `payment_intent_data.setup_future_usage` parameter. Docs [here](https://stripe.com/docs/payments/accept-a-payment?platform=web&ui=checkout#save-paymen

[2022-02-14 11:56] jsteele-stripe commented on #105
Closing in favour of #274.

[2022-02-14 11:56] #105 closed

[2022-02-14 12:00] jsteele-stripe commented on #274
I'm not sure we'll ever add support for either the [`trial_period_days`](https://stripe.com/docs/api/checkout/sessions/create#create_checkout_session-subscription_data-trial_period_days) or [`trail_end`](https://stripe.com/docs/api/checkout/sessions/create#create_checkout_session-subscription_data-trial_end) parameters because of concerns outlined [here](https://github.com/stripe/stripe-firebase-e

[2022-02-14 12:02] jsteele-stripe commented on #122
We could make this configurable/opt-in and utilise the `checkout.session.expired` [event](https://stripe.com/docs/api/events/types#event_types-checkout.session.expired) to purge any expired Checkout Session documents in Firestore.

[2022-02-14 12:21] jsteele-stripe commented on #284
@DCSnip3r Have you considered using the `{CHECKOUT_SESSION_ID}` template variable with your `success_url` parameter? Details [here](https://stripe.com/docs/payments/checkout/custom-success-page).

`success_url: "http://yoursite.com/order/success?session_id={CHECKOUT_SESSION_ID}"`

This will ensure the unique Checkout Session ID is returned as a URL query parameter (and can be used with GA).

[2022-02-14 12:27] scole954387 commented on #274
Is there no way to find a solution to this concern rather than avoid implementing it because of the concern?

[2022-02-14 12:33] jsteele-stripe commented on #337
@bsnman Have you considered implementing the [Customer portal](https://stripe.com/docs/invoicing/customer-portal) which you can configure to allow users to cancel/update their subscription(s)? This extension provides a [`createPortalLink` function](https://github.com/stripe/stripe-firebase-extensions/blob/54ad37e351113cc6abb4c8ad1d86eff6d83f935e/firestore-stripe-payments/functions/src/index.ts#L30

[2022-02-14 12:56] jsteele-stripe commented on #274
@scole954387 Is there something preventing you from using [`trial_from_plan`](https://site-admin.stripe.com/docs/api/subscriptions/create#create_subscription-trial_from_plan)? This works with the extension assuming you have a default trial period set on your Price object (via Dashboard).

[2022-02-14 14:51] scole954387 commented on #274
Does it work with Firebase v9?  Do you have any examples of it working that I can review in React/NextJS.  Nothing is preventing me from using it except for my lack of knowledge as I'm still learning.

[2022-02-14 15:31] #284 closed, assigned to nobody

[2022-02-14 16:36] jsteele-stripe commented on #274
@scole954387 It does, sure! I guess something like this would work with v9 of the Firebase SDK:

[code]

[2022-02-14 16:46] jsteele-stripe commented on #339
@DCSnip3r Can you share the payload you're passing when creating the Checkout Session? What specific error are you seeing?

My guess is that the initial issue is related to the restricted key not having write permissions for the Payment Intents API:

https://github.com/stripe/stripe-firebase-extensions/blob/2c99a55d3eb47d3d59d12df7a1dd0714129eb74b/firestore-stripe-payments/functions/src/index.ts#L

[2022-02-15 07:33] ImHamzaAnwer opened #348 "User subscription is charged multiple times"
I am using this extension in my react app and sometimes the subscription is charged multiple times when user subscribes i am not using any custom logic or custom cloud functions just configured this extension by how its mentioned in documentation. I am just checking out the user to stripe page and user completes thair payment on stripe page

here is the screenshot
![EIH3m](https://user-images.gith

[2022-02-15 11:46] immocenter commented on #337
@jsteele-stripe I have implemented the Customer portal using the function you mentioned. Although I am facing another issue, I do not see any change in the subscription collection object even when user cancels the subscription. In the end, I want to find a way to update the subscription status of a user after the period that the user has paid for expires (after the user has cancelled the subscript

[2022-02-15 14:04] dannycortesv opened #349 "Direct Payments ability"
Would be great to have direct payment ability, we are building a marketplace where people create courses and sell them to their community, we would like them to receive payments from their students, any plan for this? Or any guide on how to use current extension to support it?

[2022-02-15 14:57] jsteele-stripe commented on #337
@immocenter The extension _should_ handle all cases of subscription cancellations/expiries via the `manageSubscriptionStatusChange` function (see below). This is a Firebase function that, if configured correctly with Stripe as per the installation instructions, will receive and action any related events accordingly.

https://github.com/stripe/stripe-firebase-extensions/blob/2c99a55d3eb47d3d59d12df

[2022-02-15 14:59] #340 closed

[2022-02-15 15:01] DCSnip3r commented on #337
@immocenter The subscription document will have its status automatically changed from "active" to "canceled" by this extension. The document is not deleted. You're looking for a change in a "collection object" which suggests you're looking for the wrong thing. And yes their role will be removed

[2022-02-15 15:12] immocenter commented on #337
@jsteele-stripe I have configured the extension exactly as per instructions. I just wanted to be sure if the event will get triggered automatically. Is there any documentation available which goes into details of the extensions i.e. how it works exactly? I am guessing these functions get triggered by cloud functions and most likely cloud functions get triggered when an event happens on the stripe

[2022-02-15 15:13] immocenter commented on #337
@DCSnip3r So the subscription document will get changed when the event i.e. subscription expiration happens on Stripe side and it will probably call the cloud function to make that change, right? Just trying to understand the event cycle. Apologies for sounding noobish :). Thanks a lot for your help.

[2022-02-15 15:19] DCSnip3r commented on #337
@immocenter Correct.

This extension sets up an http callable Firebase function that can handle events that happen on Stripe. We then tell Stripe to send specific events that happen to this function (by configuring a webhook endpoint restricted key)

[2022-02-15 16:02] jsteele-stripe commented on #339
@DCSnip3r Yeah, that Firestore document creation will fire this Stripe API call:
https://github.com/stripe/stripe-firebase-extensions/blob/2ad018aeb45564fce06540a952253715aba1ef79/firestore-stripe-payments/functions/src/index.ts#L263-L267

My guess is your restricted key doesn't have write permissions for the Setup Intents API.

[2022-02-15 16:44] DCSnip3r commented on #339
@jsteele-stripe Interesting. Do you have suggestions for what to do then? I believe I am using the recommended setup based on the Pre/PostInstall. I don't think I have control over whether this uses the Restricted Key as opposed to the correct one. Or is there a configuration that I can change?

[2022-02-15 17:03] jsteele-stripe commented on #245
@NavidAhmad-UOM Indeed, the API for the Firebase SDK has changed significantly between versions 8 & 9. The key differences are outlined [here](https://firebase.google.com/docs/web/modular-upgrade).

What you want will instead look something like this:

[code]

[2022-02-15 17:03] #245 closed

[2022-02-15 17:07] DCSnip3r commented on #349
You are describing stripe connect, which is discussed here https://github.com/stripe/stripe-firebase-extensions/issues/184

[2022-02-15 17:09] DCSnip3r commented on #348
Please edit your question to include necessary code to reproduce this issue.

[2022-02-16 05:14] JaiJaiJordan commented on #55
I am facing the same issue....

[2022-02-16 06:32] muhammadzumair commented on #348
I am facing a similar issue, I am using firebase extension for stripe payments, I have implemented all the configs according to docs, everything seems fine and it's working but for a few users it duplicates the payment multiple times, as seen in the screenshot, a user charged multiple times for the same subscription.
<img width="1301" alt="Screenshot 2022-02-16 at 11 30 41 AM" src="https://user-im

[2022-02-16 09:26] jsteele-stripe commented on #348
@muhammadzumair That's not a single subscription though. That's clearly multiple subscription objects/documents that have been created for that same customer/user. It is completely normal for a Stripe customer to have multiple, simultaneous subscriptions.

My _guess_ here is that there's no logic in your application to prevent the same user subscribing multiple times. This extension does **not** p

[2022-02-16 09:29] jsteele-stripe commented on #349
Closing as a duplicate of #184.

[2022-02-16 09:29] #349 closed

[2022-02-16 09:33] jsteele-stripe commented on #224
Closing as a duplicate of #184.

[2022-02-16 09:33] #224 closed

[2022-02-16 09:39] aerotoad commented on #274
@jsteele-stripe I got it to work with the legacy trial days setting on the price page. Nonetheless, I think it's not future proof to rely on this parameter when Stripe itself is warning devs not to use it.
I understand the security concerns that come with putting such an important setting in the client side of things, but there has to be a way to use the recommended stripe setting without it. Mayb

[2022-02-16 09:47] jsteele-stripe commented on #339
@DCSnip3r This was probably an oversight in the initial implementation of one-time payments (in that Ephemeral Keys can't be used with restricted keys). In this instance you would need to use your secret key as opposed to a restricted key.

[2022-02-16 10:59] jsteele-stripe commented on #254
@doppio Great suggestion, and something we may considering doing. However there are certain Checkout Session parameters that shouldn't be passed from the client which is why we oped the build the extension this way.

[2022-02-16 14:43] jsteele-stripe commented on #339
@DCSnip3r You would just re-configure the extension in your Firebase Console and provide your secret key.

[2022-02-16 14:48] DCSnip3r commented on #339
@jsteele-stripe So in the extension configuration, replace the restricted key we make for stripe with our secret key? Surprised this is a drop-in replacement.

Does this create any vulnerabilities, given that the RK has limited access?

[2022-02-16 15:00] jsteele-stripe commented on #339
Yep!

There is a small inherent risk I guess. Which is why the extension originally (and still) recommends you create a restricted API key with only access to the endpoints/objects you need. It just means your secret key will be used in the Firebase functions.

[2022-02-16 15:15] kermitdefroghere commented on #335
For a product, Stripe offers 4 different Pricing models:  Standard, Packaged, Graduated and Volume. Unless something has changed since January, the Firebase extension for Stripe does not support the Volume pricing model. We create platforms for industries that have clients with potentially hundreds of staff (or more). We'd like to be able to use the Volume pricing model so clients can easily get t

[2022-02-16 22:20] alxjpzmn commented on #304
What made it work for me was ensuring that Firebase-related dependencies are the same for both my app and @stripe/firestore-stripe-payments via [package.json overrides](https://docs.npmjs.com/cli/v8/configuring-npm/package-json#overrides).

This is how the overrides in my package.json look like for 0.0.6 of the @stripe/firestore-stripe-payments and Firebase JS SDK 9.6.6:

`"overrides": {
    "@fir

[2022-02-20 06:47] HerbertBodner commented on #153
I double-checked the version and I am using `stripe/firestore-stripe-payments@0.2.4`. Still having the same issue.
I created a checkout session as follows:
[code]

In the stripe logs I receive the API call `POST v1/checkout/sessions` with the body containing:
[code]

I still see the `card` in the `payment_method_types`.

[2022-02-21 11:23] jsteele-stripe commented on #153
@HerbertBodner I'd recommend writing in to [support](https://support.stripe.com) so we can help you further. It's difficult to debug this further without any logs/account context.

[2022-02-23 10:42] jsteele-stripe commented on #153
@Spitzbua Why are you even passing `payment_method_types` in this instance if you're not providing a value?

That's likely because some of those methods you've listed (namely EPS) don't support recurring payments. This is why relying on APMs is the clear path forward as Checkout will determine what payment methods to offer based on that unique session.

[2022-02-24 09:35] jsteele-stripe commented on #153
I misspoke. It's not the API, but the `stripe-node` client that removes any empty array/null values. So if you're passing `pyament_method_types: []` (for whatever reason) when creating your Firestore document, that parameter is essentially removed from the API call and we instead fallback to automatic payment methods.

[2022-02-24 10:12] SlZeroth opened #351 "How to change subscription plan ?"
Hi, I have a question about change subscription

I have two stripe product
Product 1: Basic membership
* Price 1: 10 USD per month
Product 2: Premium membership
* Price 1: 20 USD per month

I want to change Product 1 to Product 2 price.
but I cant find out how can i change subscription to other one

in the firebase stripe payment document only describe this code for subscription

[code]

[2022-02-24 10:51] unxavi opened #352 "Subscription payments Mobile"
# Feature request

- Extension name: firestore-stripe-payments

## Is your feature request related to a problem? Please describe.

When integrating this extension, the docs for the setup says `Subscription payments (web only)` why is that? what makes it hard to also integrate subscriptions for mobile devices? Could it be possible to work around this limitation?

On the recommended usage for the ex

[2022-02-24 16:28] Spitzbua commented on #153
@jsteele-stripe , thank you for your quick reply!
In previous versions of the integration, it was necessary to specify the payment methods because different payments are supported depending on the mode (OT payment, subscription).

If I use empty types payment_method_types: [], then only card payments (Austria preselected) are offered on Stripe Checkout.
If this is sent then surely the automatic pa

[2022-02-25 15:27] jsteele-stripe commented on #153
Yes, but that was before we added support for APMs. If you pass `payment_method_types: []` now, `stripe-node` will strip the parameter from the API request and you'll default to APMs.

Whether SEPA Debit is shown depends on a variety of issues, including presentment currency and customer location. See [here](https://stripe.com/docs/payments/payment-methods/integration-options#payment-method-produc

[2022-03-03 10:16] qqhann opened #353 "Cannot set webhook secret"
# Bug report

- Extension name: firestore-stripe-payments@0.2.4

## Describe the bug

When I configure the firebase extensions from the web console, I cannot save the secret, nor create one with the button.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

### Cannot create with the button

1. Go to the firebase web console and configure the extensio

[2022-03-03 22:09] Bandit opened #354 "Adding a one-off price to a new subscription fails"
# Bug report

- Extension name: firestore-stripe-payments

## Describe the bug

Beginning a subscription with a one-off price included fails with an `Invalid value type` error

## To Reproduce

Take a look at the following screenshot from Firestore

![image](https://user-images.githubusercontent.com/30508/156660433-cd5102fc-e8a6-411f-b440-1ccbcdd857fa.png)

Simple `checkout_session` doc with 2 pri

[2022-03-04 13:47] drtapha commented on #304
i have same  with "overrides": { "@firebase/app": "0.7.16", "@firebase/firestore": "3.4.4" }. i'm so confused. Someone have an idea ?

[2022-03-04 23:09] Bandit commented on #344
`firestore-stripe-payments` is an extension for Firebase, and meant to run in Node.js in a Cloud Function... not in Sveltekit

[2022-03-04 23:13] Bandit commented on #351
AFAIK you need to [use the customer portal](https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-payments/POSTINSTALL.md#redirect-to-the-customer-portal) to let the user manage their subscription etc, otherwise you have to use Stripe.js or the Stripe API to do it, not this extension

[2022-03-04 23:14] Bandit commented on #353
This works fine for me. Might be some sort of permission issue with your Firebase user not having access to create secrets? Either way I doubt it's an issue with this extension

[2022-03-05 01:44] qqhann commented on #353
Hi. It seems like I didn't understand the firebase UI. I had to fill in the form and then click the update button.

It worked that way so this is solved.
Maybe a better description on how to use the UI would be helpful tho.

[2022-03-09 02:47] BenJackGill commented on #314
/Also “Plans” is not in the list of Stripe API resources. Is that supposed to say something else?

[2022-03-09 12:44] MarcVanDaele90 opened #355 "getProducts returns an empty list"
# Bug report

- firestore-stripe-web-sdk
-
## Describe the bug
The following code snippet returns an empty list of products
[code]
although ` curl https://api.stripe.com/v3/products   -u <my_restricted_key>:      -G` works fine.
Also the following works fine
[code]

Any suggestions on where to start?
I do see a customer for my email address (with stripeId and stripeLink) in firebase.
Using the sec

[2022-03-10 19:22] MarcVanDaele90 commented on #355
Issue can be closed.
I did not configure the webhook (since it was marked optional I guess)

[2022-03-11 10:13] dackers86 commented on #355
Thanks @MarcVanDaele90.

Extension instructions are based here https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-payments/POSTINSTALL.md.

I'll close for now but happy to re-open if any warning or documentation could improve this process.

[2022-03-11 10:13] #355 closed

[2022-03-11 10:19] dackers86 commented on #353
Thanks @qqhann.

This seems like a rare issue, typically there is no ordered when adding a secret.

I'll close this issue for now but happy to re-open if it becomes reproducible.

[2022-03-11 10:19] #353 closed

[2022-03-11 10:29] dackers86 commented on #344
HI @limzee.

Can you explain what the purpose of this installation was? Did you mean to use https://github.com/stripe/stripe-firebase-extensions/tree/next/firestore-stripe-web-sdk?

[2022-03-11 10:53] dackers86 commented on #323
Hi @dawogfather

Can I confirm the issue that you experiencing....

1. After installing an extension you are provided with a cloud function.
2. You would then like to call `.httpsCallable("ext-firestore-stripe-payments-createPortalLink");` <-- But this is no longer valid?

[2022-03-11 11:16] dackers86 commented on #238
hi @kbringsjord

Are you still experiencing these issues, did upgrading to the latest version provide a solution?

[2022-03-11 11:20] dackers86 commented on #35
Closing. Issue appears to have been resolved.

[2022-03-11 11:20] #35 closed

[2022-03-11 11:21] dackers86 commented on #35
@VinLucero Can you confirm this is no longer an issue?

[2022-03-11 11:26] dackers86 commented on #54
HI @DCSnip3r.

Is this issue something that needs to be consider. Or you happy for me to close?

[2022-03-11 11:31] dackers86 commented on #59
Closing this issue as a solution appears to have been provided.

In summary...

1. Ensure you call you functions within the same region as the installed extension.
   For example with `.functions('us-east1') // <-- need to specify correct location.`

2. Ensure you are using the extensions full function name, typically prefixed with `ext-firestore-stripe`.

[2022-03-11 11:31] #59 closed

[2022-03-11 11:35] dackers86 commented on #88
Closing due to inactivity, happy to re-open if further documentation is required for this feature.

[2022-03-11 11:35] #88 closed

[2022-03-11 11:36] #112 closed

[2022-03-11 15:19] DCSnip3r commented on #54
@dackers86 I believe they turned on merge:true so this is feasible to accomplish now. The general solution for this issue is to create function triggers that watch document writes that the extension initiates. I'm fine to close this

[2022-03-12 00:32] Where44444 opened #358 "Add subscription payments to your web app with Firebase Extensions & Stripe guide code error"
# Bug report

- Extension name: [e.g. `firestore-stripe-payments`]

## Describe the bug
Thank you so much for the amazing guide! It got me 99% running, I just found an error in the code for part 5 under "Access the Stripe customer portal" when I used ".httpsCallable("ext-firestore-stripe-subscriptions-createPortalLink");" it gave me a "redirect is not allowed for a preflight request" error. I look

[2022-03-13 06:25] dawogfather commented on #323
Can’t remember if it was a problem with that specifically. Think I may have had an issue with that but… I think it was more that I wanted to understand what version of the cloud functions I was actually running after previously installing it through the firebase console user interface. The version in there didn’t match a released version on GitHub and so had to use date to determine what I was run

[2022-03-14 15:50] #54 closed

[2022-03-14 15:57] dackers86 commented on #358
Hi @Where44444.

This could be a potential bug in the Firebase Extensions installer, however I am so far unable to replicate.

Could you please provide a screenshot for better debugging of the issue?

Thanks!

[2022-03-14 16:09] dackers86 commented on #226
Thanks for the update @tanosugi.

I'll close this issue as a solution has been found.

Happy to re-open if another resolution is required or if this can be considered a potential documentation update (for example).

[2022-03-14 16:09] #226 closed

[2022-03-18 12:28] reblim opened #362 "Failing to register a ServiceWorker when using `createPortalLink`"
# Bug report

- Extension name: [e.g. `firestore-stripe-payments`]
firestore-stripe-payments

## Describe the bug
When executing this function:
`const functionRef = firebase
  .app()
  .functions('europe-west1')
  .httpsCallable('ext-firestore-stripe-subscriptions-createPortalLink');
const { data } = await functionRef({
  returnUrl: window.location.origin,
  locale: "auto", // Optional, defaults t

[2022-03-18 13:12] jsteele-stripe commented on #362
Can you share the function output from your Firebase logs? This error doesn't seem related to this extension specifically.

[2022-03-18 14:15] jsteele-stripe commented on #354
@Bandit The issue here is your `metadata` [parameter](https://stripe.com/docs/api/checkout/sessions/create#create_checkout_session-metadata). Checkout Session can only be created with `key: String` pairings.

[2022-03-18 14:15] #354 closed

[2022-03-18 14:20] #254 closed

[2022-03-18 15:26] jsteele-stripe commented on #281
This was fixed in [0.1.15](https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-payments/CHANGELOG.md#version-0115---2021-08-26) (#229).

[2022-03-18 15:26] #281 closed

[2022-03-18 15:32] #63 closed

[2022-03-18 16:33] aptash commented on #63
May I know what you decide?

[2022-03-18 16:52] jsteele-stripe commented on #63
@aptash This is not something the Customer Portal supports right now. The feature request is independent of this extension, so closing out this issue for now.

[2022-03-19 08:12] reblim commented on #362
Hi @jsteele-stripe,

If I log out the output of the function I get this:
`Promise {<pending>}
[[Prototype]]: Promise
[[PromiseState]]: "rejected"
[[PromiseResult]]: FirebaseError: Messaging: We are unable to register the default service worker. Failed to register a ServiceWorker for scope ('http://localhost:8080/firebase-cloud-messaging-push-scope') with script ('http://localhost:8080/firebase-mes

[2022-03-19 08:13] reblim commented on #362
`The script has an unsupported MIME type ('text/html').`

[2022-03-20 02:32] robwelan opened #363 "stripe firestore payments - error setting secret"
# Bug report

- Extension name: Run Payments with Stripe

## Describe the bug

Entering my restricted key (newly created): rk_test_XXX into the Stripe API key. When I click the "Create Secret" button, I consistently receive a "There was an error creating a secret" notification. And I cannot continue.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

[2022-03-22 10:21] LeQuadratico opened #365 "Allow collection of customer phone number"
# Feature request

- Extension name: firestore-stripe-payments

## Is your feature request related to a problem? Please describe.

I would like to collect the phone number of the customer on the checkout page in order to be able to contact them in case of an emergency. Adding
`phone_number_collection: {enabled: true},` to the checkout_sessions document as shown in [the docs](https://stripe.com/doc

[2022-03-22 15:57] jsteele-stripe commented on #365
@LeQuadratico Are you expecting the phone value to be set on the `billing_details.phone` [field](https://stripe.com/docs/api/charges/object#charge_object-billing_details-phone)? If so, that's not the case. As outlined [here](https://stripe.com/docs/payments/checkout/phone-numbers#after-session), the value is set on both the Checkout Session [object](https://stripe.com/docs/api/checkout/sessions/ob

[2022-03-22 17:15] jsteele-stripe commented on #365
@LeQuadratico Oops, yes. We'll need to add support for that parameter! My bad.

[2022-03-22 17:23] jsteele-stripe commented on #362
I don't think this is an issue specific to this extension, but more a configuration issue for your local development environment. [This](https://stackoverflow.com/questions/66641382/the-script-has-an-unsupported-mime-type-text-html) seems related.

[2022-03-22 17:28] #272 closed, assigned to nobody

[2022-03-22 17:32] jsteele-stripe commented on #351
@SlZeroth Indeed, you'd use the [Customer portal](https://stripe.com/docs/invoicing/customer-portal) to allow your customers to upgrade/downgrade and/or cancel their subscriptions. This extension provides a [createPortalLink function](https://github.com/stripe/stripe-firebase-extensions/blob/54ad37e351113cc6abb4c8ad1d86eff6d83f935e/firestore-stripe-payments/functions/src/index.ts#L306) you can inv

[2022-03-22 17:32] #351 closed

[2022-03-22 17:34] #329 closed

[2022-03-22 17:35] #348 closed

[2022-03-22 17:51] jsteele-stripe commented on #314
@BenJackGill That would be `Prices`.
<img width="1204" alt="Screenshot 2022-03-22 at 17 51 01" src="https://user-images.githubusercontent.com/83410553/159544076-aa249199-5d8f-4350-8580-6c0cd5318996.png">

[2022-03-26 14:39] sarbogast opened #366 "Add support for flat rate + per seat subscription"
# Feature request

- Extension name: `firestore-stripe-payments`

## Is your feature request related to a problem? Please describe.

In my SaaS business model, users pay a flat fee for their base plan, and then on top of that, they pay an additional fee per user with a graduated pricing model, similar to what is [described here](https://stripe.com/docs/products-prices/pricing-models#flat-rate-per-

[2022-03-27 00:14] calacianu opened #367 "Custom user fields saved in firestore are lost after checkout"
# Bug report

- Extension name: [stripe-firebase-extensions](https://github.com/stripe/stripe-firebase-extensions)

## Describe the bug

After creating a new document in the `users` collection with custom fields, those fields are lost after the checkout.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. create a new document in the users collectio

[2022-03-27 13:08] #367 closed

[2022-03-28 09:43] jsteele-stripe commented on #367
@calacianu Is this still an issue you can replicate?

[2022-03-28 10:00] jsteele-stripe commented on #366
@sarbogast Thanks for the feature request! Which specific part of your use case is the extension currently missing support for?

[2022-03-28 13:19] jonadeline commented on #304
same issue here. using v.0.0.6 of stripe-payments.
Tried the solutions mentioned above but that didn't work :(

[2022-03-29 21:38] calacianu commented on #367
no, sorry. my bad, I closed the issue

[2022-03-31 21:02] RORO-ML commented on #333
Are there any updates on this?
It's not setting auth claims at all for me.

[2022-03-31 21:07] RORO-ML commented on #193
I have the same problem, claims are not setting at all for me. Checked the webhook 2 times & nothing in the logs related to custom claims.

[2022-03-31 21:21] FezVrasta commented on #333
Is there any chance for this bug to be addressed? It's critical to provide the service to the customers who paid for them and there's no straightforward workaround available.

[2022-04-01 06:59] talalsiddiqui opened #368 "Value for argument "documentPath" is not a valid resource path. Path must be a non-empty string."
# Bug report

- Extension name: [e.g. `firestore-stripe-payments`]

## Describe the bug

Function: ext-firestore-stripe-subscriptions-handleWebhookEvents
Type:  invoice.upcoming

I have noticed that on type [invoice. upcoming], document path is not a valid resource path error is coming. Please can anyone tell me is this from my side or it is genuine bug

[2022-04-01 08:43] RORO-ML opened #369 "Claims are not set at all"
# Bug report

- Extension name: [e.g. `firestore-stripe-payments`]

## Describe the bug

Claims are not set at all for me (subscription).
Checked the webhook 2 times & nothing in the logs related to custom claims.
The meta field is taken over in firebase "products".

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

Did the normal setup, im not gettin

[2022-04-04 14:17] jsteele-stripe commented on #369
@RORO-ML Are you setting the `firebaseRole` metadata field on the Stripe Product object? This is where the value is [derived from](https://github.com/stripe/stripe-firebase-extensions/blob/02134e02d078212603154e4e977fa3e4c6f33368/firestore-stripe-payments/functions/src/index.ts#L487) for the associated claim.

[2022-04-04 15:09] calacianu opened #370 "Shipping and Discounts are not being applied."
# Bug report

- Extension name: `firestore-stripe-payments`

## Describe the bug
Shipping and Discounts are not being applied.

## To Reproduce

I'm trying to create a checkout session with the following code:

[code]

1. The `couponId` is created in the Stripe dashboard, and is the ID of the coupon object/entity. After I'm redirected to the checkout page, the discount is not applied.
2. I'm also

[2022-04-04 15:25] jsteele-stripe commented on #370
@calacianu `shipping_options` is not a supported parameter (yet). We'll need to add it.

`discounts` support is tracked here: https://github.com/stripe/stripe-firebase-extensions/issues/322

[2022-04-05 09:04] calacianu commented on #370
Thank you for your reply. Is there a way to handle shipping costs using the extension or using the APIs? I need to add a fix price for every product our customers purchase.

[2022-04-05 09:44] jsteele-stripe commented on #370
@calacianu Checkout support shipping costs, [yes](https://stripe.com/docs/payments/checkout/shipping). But this extension does not currently support the parameters needed to enable this.

I'll open a PR to add that.

[2022-04-07 16:02] terrencekuo commented on #274
using "coupons" and the "add free trial" works for me, but my checkout page still requires customers to enter "credit info" for payment. is there a way to not require payment if the price is 0 while using this extension?

not sure how to apply the info in:
https://stripe.com/docs/billing/subscriptions/trials

which states:
"When creating a subscription with a trial period, no payment method is req

[2022-04-07 22:01] eddimull commented on #59
Thank you for not being a Denvercoder9. That's exactly what was going on with me.

[2022-04-08 08:44] jsteele-stripe commented on #274
@terrencekuo That's not a limitation of this extension, but Checkout itself. It's currently not possible to complete a Checkout Session without collecting payment information, regardless of if an immediate payment is required.

[2022-04-09 14:09] abierbaum commented on #368
@jsteele-stripe I am not the original poster of this bug, but I am seeing this exact issue coming up the last month or so after several months of no issues at all.  In my case I know the customersCollectionPath values is definitely set to a value and subscription creation and processing is working correctly.  I am seeing these errors though and would like to understand if there is something to wor

[2022-04-10 14:35] camunity opened #372 "Firestore database rules blocking stripe webhook updates"
# Bug report

- Extension name: [e.g. `firestore-stripe-payments`]

## Describe the bug

I am using Stripe to allow users to pay for a subscription service in my React app. I am using the firebase stripe extension to write updates to my customers collection. I have setup stripe.js on the server side of my application following the best practices in the docs and everything seems to be working well

[2022-04-13 09:38] #365 closed

[2022-04-14 03:45] YouZag opened #373 "Add support for mode: setup for web clients"
# Feature request

- Extension name: [e.g. `firestore-stripe-payments`, or leave empty if suggesting a new extension]

## Is your feature request related to a problem? Please describe.

Add mode: setup outside of client: mobile.  Would like to be able to store cards without processing any payment whatsoever.

[2022-04-15 21:45] rubensdemelo opened #374 "E-mail invoice not sent [test mode]"
# Bug report

`firestore-send-invoice`

## Describe the bug
E-mail to user/customer not sent after execution (in test mode)

Create a invoice via stripe dashboard, event in test mode, the e-mail were sent.

## To Reproduce

Create a document:
<img width="535" alt="Screen Shot 2022-04-15 at 17 50 17" src="https://user-images.githubusercontent.com/1351177/163634518-d99459e1-65b5-4503-95dd-c3d756b3bc

[2022-04-16 00:37] rubensdemelo commented on #374
My fault. There are instruction for this case:

`Stripe only sends an email to your customer when the extension is using Stripe’s live mode but not when using test mode`

[2022-04-16 00:37] #374 closed

[2022-04-19 08:34] dackers86 commented on #363
Hi @robwelan.

Apologies for the late reply here, is this still an issue for you? If so can you confirm that the Api for the Google secret manager has attempted to create the secret or if the Api has been enabled? Perhaps this could be a permissions issue?

`https://console.cloud.google.com/security/secret-manager?project={project_id}`

[2022-04-22 11:36] jsteele-stripe commented on #362
@reblim Going to close this out! Please re-open if you have any follow-up questions.

[2022-04-22 11:36] #362 closed

[2022-04-22 21:04] LeQuadratico opened #377 "Checkout Session object & Customer object not updated after completed session"
# Bug report

- Extension name: firestore-stripe-payments

## Describe the bug

I enabled `phone_number_collection` on my checkout sessions. As jsteele-stripe mentioned here - https://github.com/stripe/stripe-firebase-extensions/issues/365#issuecomment-1075347924 - the phone number should be set on both the Checkout Session and the Customer object. However, this does not seem to happen.

## To Rep

[2022-04-23 11:29] LeQuadratico commented on #377
The user object seems to be updated with the `email`, `name`, `stripeId` and `stripeLink` fields, but not `phone`.

[2022-04-25 13:32] jsteele-stripe commented on #377
@LeQuadratico Which version of `firestore-stripe-payments` are you using? Support for that parameter was just released in [`0.2.5`](https://github.com/stripe/stripe-firebase-extensions/blob/master/firestore-stripe-payments/CHANGELOG.md#version-025---2022-04-20) (released last week).

[2022-04-25 13:40] LeQuadratico commented on #377
Hey @jsteele-stripe , I am using the latest version (0.2.5). With this update, the parameter is successfully passed on to stripe, and the collection of the phone number works. However, the webhook reply from stripe (`checkout.session_completed`) does not seem to be processed correctly. Thus, the phone number is saved nowhere in the firestore and is not accessible.

[2022-04-25 14:20] LeQuadratico commented on #377
@jsteele-stripe I would expect the phone number to be written to the user object (in the users collection, same as the mail address and name) and the checkout session, as written [here](https://stripe.com/docs/payments/checkout/phone-numbers#after-session). For most devs it would probably be enough to save the number to the user object, but maybe it would be nice to follow the documentation of str

[2022-04-26 05:54] cvoadmin commented on #68
@Benjamin-Lee Even with multiple instances I found latency stayed the same. I think high QPS is all that matters.
I use a back blocker to prevent lost conversions.
[code]

[2022-04-26 09:38] #40 closed

[2022-04-27 11:43] aabounegm opened #379 "`getCurrentUserPayments` throws an error"
# Bug report

- Extension name: [`firestore-stripe-web-sdk`](https://github.com/stripe/stripe-firebase-extensions/tree/next/firestore-stripe-web-sdk)

## Describe the bug

Calling the `getCurrentUserPayments` function from `@stripe/firestore-stripe-payments` throws the following error:
[code]

Looking at the line (`payment.ts:282`) from where it throws, it seems that it tries to read `data.prices`

[2022-04-28 02:51] varand-pez opened #380 "Update the code samples to V9"
# Feature request

- Extension name: firestore-stripe-payments

Any plan to update the plugin documentation's code samples to Firebase V9?

[2022-04-28 08:23] jsteele-stripe commented on #380
@varand-pez Likely at some point, yep. Is there a particular part of the extension you're struggling to use with `firebase@9.x.x`?

[2022-04-29 10:29] pmosedale opened #381 "Cant set Webhook Secret"
firestore-stripe-payments

I am trying to add in the Webhook secret, but Firebase is not showing any field for doing this - this also applies to the API Key.

I have tried uninstalling and reinstalling again, but makes no difference.

<img width="964" alt="Screen Shot 2022-04-29 at 6 27 35 pm" src="https://user-images.githubusercontent.com/82461738/165928050-170912b0-1718-4baa-92b7-ff069ebc4762.pn

[2022-04-29 11:47] SimonMckeon commented on #381
Can confirm the same thing is happening for me. I have a Stripe API key as I created it on initial setup, but I cannot see or edit either the API key or webhook secret when reconfiguring the extension.

When viewing the extension:
![image](https://user-images.githubusercontent.com/9499258/165938483-b735575c-6a5c-48ee-a855-9832009625de.png)

When reconfiguring the extension:
![image](https://user-i

[2022-04-29 12:59] SimonMckeon commented on #381
@dackers86 I do.

The 'firestore-stripe-payments-STRIPE_API_KEY' secret was created successfully in the initial extension setup, and I can see it as expected in the secret manager.

I can visit the API's management page of the project and see that the Secret Manager API is enabled.

![image](https://user-images.githubusercontent.com/9499258/165948907-50e44065-cc47-436d-a36a-22ed322ee93c.png)

[2022-04-29 17:15] varand-pez commented on #381
This is also happening to me, after updating to latest extension version.
I have 2 `xxx.xxx.xxxx.STRIPE_WEBHOOK_SECRET` keys but both empty in version. but I can see `STRIPE_API_KEY` has green check under `version` tab.

@dackers86  Are you suggesting that we can configure the secret from here? can I get rid of the extra `STRIPE_WEBHOOK_SECRET` we need only one right?

[2022-04-29 18:32] trafnar opened #382 "New secret version causes webhooks to fail"
- Extension name: `firestore-stripe-payments`

I had the extension working correctly, but I needed to update my webhook and api secret keys. I updated them in the google secret manager, which created new "versions", now my webhooks all fail with an error message like:

[code]

I assume this is because the version is no longer 1. Is there a way to tell the relevant cloud function that the version o

[2022-04-30 07:04] BenJackGill commented on #313
I also vote for adding this to the repo!

[2022-04-30 09:43] tommtt commented on #313
In the firebase.js in your react app, just add:

`export async function goToBillingPortal() {
  const functionRef = httpsCallable(functions, 'ext-firestore-stripe-payments-createPortalLink');

  const { data } = await functionRef({ returnUrl: window.location.origin });
  window.location.assign(data.url);
}`

Then you can import and use goToBillingPortal whenever you want in the app :)

[2022-04-30 09:45] tommtt commented on #313
don't forget:

`import { getFunctions, httpsCallable } from "firebase/functions";
`
and

`const functions = getFunctions(firebaseApp, "us-central1")`

[2022-04-30 14:41] seenakhoee commented on #381
Hi Team,
![Screen Shot 2022-04-30 at 7 40 33 AM](https://user-images.githubusercontent.com/16523191/166110078-c9c419ed-e66a-4890-a221-0590fc94d674.png)

I'm also effected.
Please help as I need webhooks for my project.

[2022-04-30 19:50] williamoanta commented on #381
I am also in the same situation with a production account! I have already spent 6 hours trying to solve this problem, including:

1. Configure the Extension from the CLI
2. Deleting and recreating keys in Secret Manager with proper permissions.
3. Reinstalling extension.

This is critical and requires a fix or revert ASAP.

[2022-04-30 19:55] williamoanta commented on #382
Yes there is. Just reconfigure your extension using the Firebase CLI.

[2022-04-30 22:05] dackers86 commented on #381
HI @williamoanta

Did your solution to use `` as per https://github.com/stripe/stripe-firebase-extensions/issues/382 work in this scenario?

Aren you able to reconfigure secrets through the cli, I am currently trying to replicate the issues.

First impressions are that there is an issue with the Firebase console, a GET request appears to show a `404` error when attempting to find the `secret` valu

[2022-04-30 23:34] BenJackGill opened #383 "Make line item quantities adjustable for the Firestore Stripe Payments Web SDK"
# Feature request

- Extension name: [Firestore Stripe Payments Web SDK](https://github.com/stripe/stripe-firebase-extensions/tree/next/firestore-stripe-web-sdk)

## Is your feature request related to a problem? Please describe.

There is no way to enable adjustable quantity during `createCheckoutSession`. Therefore customers cannot adjust line item quantity during checkout.

## Describe the solut

[2022-05-01 02:46] williamoanta commented on #381
@dackers86 I can go through the CLI config but it doesn't solve the problem. I still cannot connect, and I do not get any error logs on Stripe or Firebase Functions.

[2022-05-01 03:11] williamoanta commented on #381
@dackers86 I have also tried to install previous versions of the extension from CLI, and for versions 0.2.4 to 0.2.0 I encounter the same problem. On version 0.1.9 I am able to see the two inputs for secrets when I am configuring the extension. Also, a difference is that the secrets are not obfuscated with dots (like a password) in 0.1.9.

[2022-05-01 03:22] seenakhoee commented on #381
Team the good news is, the Webhook secret can be set from the CLI. I just set it. Workaround for now. :)

[2022-05-01 03:46] bcthakre opened #384 "Subscription sub collection not created in Firestore Database under Customers collection"
# Bug report

- Extension name: `firestore-stripe-payments`

## Describe the bug

FireStore collections as "subscriptions" is not being created.

## To Reproduce

When you are in the Firebase Dev Console and click on Extensions > Stripe Extension Manage Button > Extension Configuration

Description: What is the path to the Cloud Firestore collection where the extension should store Stripe pricing

[2022-05-01 03:57] williamoanta commented on #381
@seenakhoee did you need to provide any other permissions or you just provided the Secret Manager's secret URL?

[2022-05-01 07:16] einjunge99 commented on #381
Can you provide an example please? I'm also stuck with this and I want to give it a try, but I'm not familiar with it

[2022-05-01 07:36] varand-pez commented on #381
Is there a way we can configure the secret via `console.cloud.google.com` under `secret-manager`?

[2022-05-01 11:03] dackers86 commented on #381
Hi All.

This is a confirmed issue from the Google team for the `Firebase Console` and will be fixed through a scheduled update.

If you could use the `cli` for now, an update will appear here when the console issues have been resolved.

[2022-05-01 11:04] dackers86 commented on #382
This has been confirmed as a console error, an update is expected soon.

Please see https://github.com/stripe/stripe-firebase-extensions/issues/381#issuecomment-1114202627 for more details / tracking of these updates.

[2022-05-01 15:26] williamoanta commented on #381
@einjunge99 when you install the extension and provide your API Key, you have the button "Create Secrete" in the console, by pressing it it creates a Secret for Stripe API Key. Then you can navigate in GCC on the same project to the Secret Manager, where you can create a second Secret which has the same configuration as the one provided by the extension.

In the end you will have something similar

[2022-05-02 18:29] batical commented on #335
I second this request. So for now we have to do it manually ?

[2022-05-02 20:34] dackers86 commented on #381
All.

An update has now been applied to the Firebase Console. Secrets should now be working as expected.

[2022-05-02 20:34] #381 closed

[2022-05-02 20:35] dackers86 commented on #382
Closing. Please see https://github.com/stripe/stripe-firebase-extensions/issues/381#issuecomment-1115340041 for further information.

[2022-05-02 20:35] #382 closed

[2022-05-04 13:46] mikkoh opened #385 "Dashboard customer delete causes checkout session to timeout"
# Bug report

- `firestore-stripe-payments`
- `firestore-stripe-web-sdk`

## Describe the bug

A user signs up + pays for a subscription. Then if the customer is deleted in the Stripe Dashboard the customer information continues to exist Firestore. Once the user tries to signup for the subscription again, using the `firestore-stripe-web-sdk`, the web sdk will simply timeout.

If you manually delet

[2022-05-05 19:19] Onyoursix commented on #385
I'm also dealing with this same issue. From what I can gather the customer id in stripe is tied to firebase auth. So when you delete a customer in stripe and then they try to pay again, it uses the same customer id which is now a deleted customer. In firebase there is an error stored in the doc `"No such customer: 'cus_XXXXXXXXXXXXXX'"` would be nice if that's the case, a new customer_id could be

[2022-05-10 09:39] talalsiddiqui commented on #368
@jsteele-stripe All other invoice types such as paid, payment_succeeded, and payment_failed are working perfectly. The only issue is coming in [invoice. upcoming].

[2022-05-11 00:13] sarbogast opened #389 "Support metadata on line_items"
# Feature request

- Extension name: `firestore-stripe-payments`

## Is your feature request related to a problem? Please describe.

As described in the documentation's section "Setting metadata on the subscription", if I add metadata at the checkout_session level, I can recover this metadata in the subscription, which is very useful. But I get an error if I try to add metadata in line_items eleme

[2022-05-12 00:11] CambodianCoder opened #390 "Consecutive purchases fail to set `items` and `prices` on the payments document."
# Bug report

- Extension name: [e.g. `firestore-stripe-payments`]

firestore-stripe-payments

## Describe the bug

A clear and concise description of what the bug is.

When I purchase a product using a Stripe checkout session and a test api key or live api key, the Firestore document under payments is updated with the `items` value and the prices value, both of which contain the product id (price

[2022-05-13 18:28] samuelkarani commented on #379
Same issue here!

[2022-05-14 10:34] samuelkarani commented on #379
Apparently deleting  the entire payments collection resolves the issue

[2022-05-17 10:38] andrewsrichardson commented on #193
did anyone find a clean way of doing this?

lifetime plans of premium subscriptions seems like it would be a common use-case

[2022-05-17 17:44] Tsquared86 opened #391 "can not get sessionID"
# Bug report

- Extension name: [e.g. `firestore-stripe-payments`]

## Describe the bug

Whenever I send a customer to checkout it does not capture a session ID for the snapshot creating a checkout session. I also get an error TypeError: undefined is not an object (evaluating 'doc.id')
## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:
1: type in your s

[2022-05-17 21:01] atsjo opened #392 "Deleting firebase customer object doesn't remove stripeRole from claims"
# Bug report

- Extension name: firestore-stripe-payments

## Describe the bug

Deleting firebase customer object doesn't remove stripeRole from claims. I can see from the source that it immediately cancels subscriptions stored in firestore, but the code to null the stripeRole claim is not invoked... If the user allready has a role granted from a subscription it will never be revoked, as the strip

[2022-05-18 10:57] jesus-mg-ios commented on #352
Hi:
@dackers86, Do you know when it is going to be develop. I think that it's a very interesting feature

[2022-05-18 20:29] dackers86 commented on #379
Hi @aabounegm.

Apologies for the late response to this.  The example screenshot suggests that no `prices` data has been added to the payment.

Does this happen consistently? Can you confirm what `version` of the Stripe Extension you are using as this information should be included when syncing from Stripe.

[2022-05-18 22:54] aabounegm commented on #379
Hello,
I only tried with one test account, but since it was completely new I had no reason to try again since there are no variables to change, and hence I wouldn't expect a different outcome, but I understand that I should have probably tested more.

Firebase shows that I am using version `0.2.4`. It also shows that there is an update available (I'm not sure why it doesn't send a notification abo

[2022-05-18 23:11] dackers86 commented on #379
Ok, thanks. Ignore on the price vs subscriptions! I misread the generated `document` for subscriptions when looking for pricing data. That would be great if you can retry.

In the meantime I will try to reproduce the error based on the sample code provided.

[2022-05-19 16:03] dackers86 commented on #379
Hi @aabounegm.

I am still working on an a test harness, but noticed something in the documentation.

Can you include `includePrices:true` in your own example? Source: https://github.com/stripe/stripe-firebase-extensions/tree/next/firestore-stripe-web-sdk

[2022-05-19 23:03] aabounegm commented on #379
I did and it indeed populated the `prices` array in the product, but I don't see how that's relevant to the problem. The whole issue lies in the `getCurrentUserPayments` function.
Additionally, I do not know how to get the ID of the `Payment` associated with a particular subscription in order to use `getCurrentUserPayment`, but that's a separate question

[2022-05-20 07:25] calacianu commented on #15
Hi @thorsten-stripe is this feature implemented? or still in backlog :)
thank you

[2022-05-20 07:27] calacianu commented on #370
Hi @jsteele-stripe, is the shipping cost supported now?

Cheers

[2022-05-20 13:36] samuelkarani commented on #379
I face this issue with clean re-install of the extension, for one time payments, using lineItems created on the fly (not price/products existing in stripe)

[code]

[2022-05-20 15:01] markslawton commented on #59
I spent several days on this.  The example code in stripe-subs-ext.web.app is incorrect.  The line:
.httpsCallable('ext-firestore-stripe-payments-createPortalLink');  IS WRONG
the correct line is
.httpsCallable('ext-firestore-stripe-payments-createPortalLink');  IS RIGHT

[2022-05-20 15:03] markslawton commented on #59
Seems to me that the github example should be updated to save others from wasting days on this.  (Especially because the error message makes one think it is a CORS problem when in fact it is a problem with the function name not existing as called.)

[2022-05-20 16:20] dackers86 commented on #379
@aabounegm @samuelkarani  It appears that there is a bug in the `firestore-stripe-payments` extension.

When updating the prices from the the `checkout_session`, this update applies to the `payments` and `subscription` sub-collections depending on the session `mode`.

`mode = payment`

payments collection: updated
subscription collection: not updated

`mode = subscription`

payments collection: no

[2022-05-21 00:39] aabounegm commented on #379
Hmm, and is there a workaround we can do to mitigate this problem for now or do we have to wait for Stripe to fix the issue?

[2022-05-21 07:04] dackers86 commented on #379
You could create a custom webhook for a checkout session completed event to populate the prices array as a short term fix. You can view the expected output in the webhook section of your Stripe Dashboard.

Alternatively, the best solution would be to use the cli to update the extension when we have had the opportunity to post a PR.

Manually adding the prices into the subscriptions collection coul

[2022-05-23 09:55] jsteele-stripe commented on #380
@varand-pez What you're looking for is something like:

[code]

[2022-05-23 20:33] jon-freed commented on #314
Yes, please update the README.md to say "Prices" instead of "Plans".

In other words, change the existing phrase from `read-only access for the "Subscriptions" and "Plans" resources.` to `read-only access for the "Subscriptions" and "Prices" resources.`

[2022-05-26 11:16] jsteele-stripe commented on #15
@calacianu What feature are you asking about?

[2022-05-26 11:42] jsteele-stripe commented on #59
@markslawton Can you please share where the old function name is still referenced?

[2022-05-27 11:44] calacianu commented on #15
@jsteele-stripe - the possibility to add coupons to checkout_session :)

[2022-05-30 07:55] dackers86 commented on #352
HI @jesus-mg-ios @unxavi.

I added the `enhancement` tag as I initially thought could require some development. However, could you provide a use case for this scenario?

The extension itself is simply use the `Stripe Api` at it's core. If this technique can be used through Stripe, I cannot a reason as to why we would limited through the extension?

Could this merely be a documentation update, or h

[2022-05-31 09:02] unxavi commented on #352
@dackers86 thanks for getting back to me.

## Use case

### Delivery Service

I want a user to be able to subscribe to a delivery service, the user pays a subscription fee and can order anything they want to be delivery, the service is consumed outside of the app, so on the AppStore guidelines you are asked to implement this with a payment system different than In App Purchases, if you do with IAP

[2022-06-01 05:06] studio-clinic commented on #68
Has there been any progress forward on this?

I'm seeing 7000ms between button click and redirecting to Stripe checkout page.

`const docRef = await addDoc(
      collection(db, `customers/${user.uid}/checkout_sessions`),
      {
        price: price,
        success_url: window.location.origin,
        cancel_url: window.location.origin,
      }
    );
    onSnapshot(docRef, (snap) => {
      con

[2022-06-01 05:56] i14h commented on #68
Can you all who are seeing an increased latency open a support ticket with Cloud (GCF specifically) and mention this issue? Each case might need a different resolution and the support team can help you there. I'm not sure if this is Stripe related or GCF related but we can help identify that with a better analysis.

[2022-06-01 21:46] unxavi commented on #352
@dackers86 any doubt?

[2022-06-01 22:30] penx opened #394 "Error installing in emulator"
# Bug report

- Extension name: firestore-stripe-payments

## Describe the bug

When trying to install firestore-stripe-payments in the emulator, I get:

## To Reproduce

[code]

## Expected behavior

Should either be able to install in the emulator or receive a meaningful error message.

## System information

- OS: macOS
- Browser (if applies) N/A

[2022-06-02 10:30] dackers86 commented on #352
Hi @unxavi Thanks for the awesome feedback.

We will look at producing an investigative PR based on the above!

[2022-06-03 12:56] tlorenz34 opened #395 "Firestore-stripe-payments - Duplicate Customers"
# Bug report

- Extension name: [e.g. `firestore-stripe-payments`]

## Describe the bug

Every time a customer creates an account within my chrome extension, then buys a subscription via Stripe Payment Links, two customers are created within the Stripe portal (I have confirmed with Stripe that this is an issue with the Firestore-Stripe-Payments extension as they checked on their side). When the cu

[2022-06-07 13:50] fumixia commented on #394
I'm also experiencing this issue, any update?

[2022-06-08 20:05] briangitrepo opened #397 "How to check current customer payment methods?"
# Question

- Extension name: Run Payments with Stripe

## Describe the Question

I'm wondering if there is an existing method in this extension to access a customer's payment methods. Essentially I'd like to use the current stripe customer ID to check and see if a payment method is stored. Based on whether an existing method is stored or not I will either request to for the user to add a payment

[2022-06-09 03:02] ericmorgan1 opened #398 "Run Payments With Stripe; Support Both Live and Test Keys"
# Feature request
firebase-stripe-payments

## Is your feature request related to a problem? Please describe.

There is not a good way to switch between "live" and "test" modes when using the "Run Payments with Stripe" extension.
Sometimes I want to test on my production Firebase project, but with a Stripe `test` key.

## Describe the solution you'd like

- When configuring the extension, allow us

[2022-06-10 05:17] Craig2345 opened #399 "Stripe + Flutter + Firebase + Mobile + Taxes"
Extension name:  `firestore-stripe-payments`

## Problem

I'm building an app with Flutter, for mobile, using the 'flutter_stripe' pubdev package on the client, and the 'Run payments with Stripe' Firebase extension for the server side. It's working great, I can take one-time payments and send email receipts - very happy! My problem is in regards to collecting Tax.

## Solution I'd like

Is there a

[2022-06-11 04:03] marcopolodesign commented on #59
Hello guys, I'm having the same issue here but when building the Customer Session Portal
`app.post('/create-customer-portal-session', async (req, res) => {
  // Authenticate your user.
  res.set('Access-Control-Allow-Origin', '*');
  res.setHeader(
    'Access-Control-Allow-Methods',
    'GET, POST, OPTIONS, PUT, PATCH, DELETE'
  );

  // Request headers you wish to allow
  res.setHeader('Access-C

[2022-06-11 04:03] marcopolodesign commented on #59
Hello guys, I'm having the same issue here but when building the Customer Session Portal
`app.post('/create-customer-portal-session', async (req, res) => {
  // Authenticate your user.
  res.set('Access-Control-Allow-Origin', '*');
  res.setHeader(
    'Access-Control-Allow-Methods',
    'GET, POST, OPTIONS, PUT, PATCH, DELETE'
  );

  // Request headers you wish to allow
  res.setHeader('Access-C

[2022-06-14 10:00] CondorW commented on #394
Got the same error - a working workaround is specifying the version you want to install - the local flag does not need to be set anymore.
`firebase ext:install stripe/firestore-stripe-payments@0.2.7
`

[2022-06-16 11:27] Machdata commented on #113
Having the same issue with
https://firebase.google.com/products/extensions/firebase-firestore-bigquery-export?authuser=0
There is no more export extension only stream collections
I installed extension it was mirroring for. a few days then it stopped
I tried reinstalling the error persiists
The extension is not creating the tables anymore

[2022-06-18 20:50] dackers86 commented on #395
HI @tlorenz34 @Spitzbua.

Can you provide any logs from the extension function. This can be accessed through by:

1. Navigate to the Extensions Dashboard
2. Select the Stripe Payments  Installation
3. Choose `Apis and resources`
4. Select the payments function logs

Additionally, could you confirm that you only have `one` instance of the extension installed to confirm this isn't an issue caused by

[2022-06-18 20:54] dackers86 commented on #394
HI @penx

Did the above comment fix your scenario? If this is still an issue could you report it under https://github.com/firebase/firebase-tools repository as it is this package that would update this particular issue.

Please see https://github.com/firebase/firebase-tools/blob/b2327da886ded6c71b991aee461c9fbd06003538/src/extensions/refs.ts for more information.

[2022-06-18 20:57] dackers86 commented on #398
HI @ericmorgan1

The extensions work by configuring the keys on installation of the extension, which would be difficult to switch once configured.

Do you have more details for scenario, as my concern here is that you would be mixing `live` and `test` data in the same database/collections/documents.

Quickly switching of config could be useful but more information would help with this request.

[2022-06-18 21:55] dackers86 commented on #391
Hi @Tsquared86

There seem to be two issues described above?

The  `checkout_sessions` document has a document with a session_id stored as the `document_id`.

The example above may not have a completed payment yet, I am assuming in the example above that there no successful subscriptions that have yet been added to your users subscription collection?

Let us know if this is still an issue for you.

[2022-06-18 21:58] dackers86 commented on #384
Hi @bcthakre

Thanks for the detailed update, I may be a little confused but to reproduce you have `[Error]: Webhook signature verification failed.`.

Have you updated this in your project, or is this intentional configuration for reproducing the error?

[2022-06-19 22:34] ericmorgan1 commented on #398
Hi @dackers86

Thanks for the reply.

I agree that polluting the document database could be a concern. I've just started working with Stripe, so I'm not entirely sure what the implications of this might be on a larger scale. I think it's manageable as long as developers understand what's happening.

The primary scenario is for convenience. Reconfiguring an extension is a painful process (it takes

[2022-06-20 10:42] dackers86 commented on #395
With Stripe allowing multiple customers with the same email address, could suggest this is created upon a new checkout session. Although this bug doesn't seem obvious in the extension.

If you navigate to both users and select `Events and Logs`, could you provide information on how each customer was created for debugging purposes?

https://dashboard.stripe.com/test/customers/{Stripe_Customer_ID}

[2022-06-20 12:43] dackers86 commented on #398
Thanks @ericmorgan1.

Although I understand the need for testing in a production environment, `it is recommended to use two separate instances of the Extension` to store separate keys.

Stripe data ideally should not be mixed between production and testing environments. The Stripe api is designed so that substituting the keys should provide an adequate solution for testing different environment ba

[2022-06-21 00:59] BenJackGill commented on #314
I am just now setting up the extension again for another project, and this problem still persists.

The description needs updating asap because first timers will struggle to find a solution.

[2022-06-21 18:58] ericmorgan1 commented on #398
Hi @dackers86

Do you mind clarifying what you mean by "two separate instances of the Extension"? This would have to be done in two separate Firebase projects, right?

In case it wasn't clear, this is what I was thinking for a possible quick workaround:
https://github.com/ericmorgan1/stripe-firebase-extensions/commit/99898910cf8c9f1112457ac4e3307791cbb03385

I agree about the Stripe API being desi

[2022-06-21 21:05] MOOUDE commented on #314
I am facing the same issue, it only worked when I used the secret key

[2022-06-24 19:25] CondorW opened #402 "Extension initialization crash"
# Bug report

- Extension name: [e.g. `firestore-stripe-payments`]

## Describe the bug

Initialization of the cloud functions which are implemented by the extension are failing. On the start of the emulator a warning shows:

_Function 'createPortalLink is missing a trigger in extension.yaml. Please add one, as triggers defined in code are ignored.
!  Function 'handleWebhookEvents is missing a tri

[2022-06-27 17:56] cvoadmin commented on #68
That'll be $30.

[2022-06-29 02:46] mesqueeb commented on #274
@jsteele-stripe how to

I can't find it in the stripe dashboard on my products config page

[2022-07-01 15:54] avelow opened #403 "Add Custom metadata to user on checkout session"
# Feature request

- Extension name: [firestore-stripe-payments](https://github.com/stripe/stripe-firebase-extensions/tree/next/firestore-stripe-payments)

## Is your feature request related to a problem? Please describe.

I would like to add custom metadata to my created customer to make it easier to works with affiliation like rewardful.com

When a Stripe customer is created or updated, we check

[2022-07-03 17:49] koteus commented on #339
Is there any update on this issue? I faced the same problem
In the Logs in Stripe dashboard this endpoint `POST /v1/ephemeral_keys` returns **403**
[code]
**API version**: 2020-08-27
**Source**: Stripe/v1 NodeBindings/8.191.0 Firebase firestore-stripe-payments/0.2.7

[2022-07-06 15:22] devth opened #404 "checkout.session.completed failed: User not found"
# Bug report

- Extension name: `firestore-stripe-payments`

## Describe the bug

After setting up the stripe firebase extension and configuring the webhook, I see products synced into firestore, but any time I complete a checkout, the webhook fails to find the Firebase user, with logs like:

[code]

## To Reproduce

1. Configure the stripe firebase extension on an existing codebase with existing

[2022-07-07 14:22] devth commented on #404
I looked up how it's attempting to match a stripe customer to a firebase auth user:

https://github.com/stripe/stripe-firebase-extensions/blob/504145e63fe928123ce7d87f36bf9a6d1de091e4/firestore-stripe-payments/functions/src/index.ts#L615-L623

So I think my assumption was correct - it only works for new users. Couple ideas to work around this:

1. ability to kick off a manual reconciliation proces

[2022-07-07 17:10] alexdao3 opened #405 "Request to Firebase Extensions url for Firestore Stripe Payments often fails"
# Bug report

- Extension name: `firestore-stripe-payments`

## Describe the bug

In one of our CI (Github Actions) workflows, we start up the emulator w/ extensions & run tests against it. The extensions are defined in `firebase.json` config, one of which is

`"firestore-stripe-subscriptions": "stripe/firestore-stripe-payments@0.2.4"`.

During startup, the emulator appears to make a request to ht

[2022-07-10 13:36] Logaritma26 commented on #274
what I understand is currently we have no option but to use legacy trial on subscription from dashboard and use `trial_from_plan: true` while making request, is there any update for a way not to use legacy trial and get the same result ?

[2022-07-11 06:08] nabettu opened #407 "Settable the duration of subscription trial at checkout"
# Feature request

- Extension name: firestore-stripe-payments

## Is your feature request related to a problem? Please describe.

I would like to set the duration of subscription trial at checkout.

## Describe the solution you'd like

I would like to be able to set this up at checkout.

[2022-07-15 09:29] dackers86 commented on #405
HI @alexdao3

It seems like some processes are taking place before the emulator (or some other process) is starting up?

Do you have any additional debugging, or can you provide any details? It is difficult to see which of the [api](https://github.com/firebase/firebase-tools/search?p=1&q=publishers) calls could be causing the issue.

[2022-07-15 09:33] dackers86 commented on #402
Hi @CondorW

The function `handleWebhookEvents` refers to listening to an event from Stripe. If you trigger an event from the Stripe dashboard `creating a new customer` for example. Do you still receive an error.

The error also seem to suggest that you have not installed node modules in the `firestore-stripe-payments` directory?

This will also build the solution for you via Typescript.

[2022-07-15 09:41] dackers86 commented on #404
Hi @devth

You are correct in that the above snippet is used to sync customers. A Stripe Id is provided as part of a web-hook response when a user is created.

Perhaps a function to backfill users if they have created before installation would be useful?

[2022-07-15 12:01] EmanuelU opened #408 "StripeRole (claim) to also be stored on customer document"
# Feature request

- Extension name: firestore-stripe-payments

## Is your feature request related to a problem? Please describe.

Easy access for other users' stripeRole (to see who is subscribed and who isn't)

## Describe the solution you'd like

I want the extension to also update the customer document with the stripe role

## Describe alternatives you've considered

Advanced queries, snapshot

[2022-07-15 19:05] alexdao3 commented on #405
Your question about additional debugging spurred me to try running `npx firebase emulators... --debug`. I had forgotten there was a `--debug` option. Hopefully it'll yield interesting information - I'll share back if so!

[2022-07-15 21:51] devth commented on #404
Yes, a backfill function would be excellent.

[2022-07-22 10:41] dackers86 commented on #405
Could you confirm what version of the Firebase cli and node are you using?

Firebase --version

Node -v

[2022-07-22 16:23] alexdao3 commented on #405
Node `16.13.1`
Firebase tools `11.2.2`

[2022-07-27 15:17] jsteele-stripe commented on #59
@marcopolodesign Your issue stems from doing `res.redirect()` server-side with (I assume) a `fetch` network request to your `create-customer-portal-session` endpoint. You should return your `session` JSON to your front-end and redirect there.

[2022-07-27 15:17] #358 closed

[2022-07-27 15:33] jsteele-stripe commented on #389
@sarbogast Can you elaborate on your use case? There's no `metadata` field available on the session [`line_items`](https://stripe.com/docs/api/checkout/sessions/create#create_checkout_session-line_items).

[2022-07-27 15:40] jsteele-stripe commented on #274
@Logaritma26 This extension will likely never support the `trial_period_days` or `trial_end` parameters available on Checkout because of reasons previously outlined. Recommendation is to use `trial_from_plan` parameter.

[2022-07-27 15:41] #391 closed

[2022-07-27 15:44] #274 closed

[2022-07-27 15:47] jsteele-stripe commented on #407
@nabettu This is not something that this extension is likely to support for reasons previously outlined (#274, #105, #114). You should use the (undocumented) `trial_from_plan` parameter instead.

[2022-07-27 15:47] #407 closed

[2022-07-27 15:52] jsteele-stripe commented on #15
@calacianu You can, via [`allow_promotion_codes`](https://stripe.com/docs/api/checkout/sessions/create#create_checkout_session-allow_promotion_codes). It's unlikely that this extension will support the `coupons` parameter for reasons previously outlined.

[2022-07-27 16:00] jsteele-stripe commented on #339
@koteus The workaround is outlined [here](https://github.com/stripe/stripe-firebase-extensions/issues/339#issuecomment-1041302776):

[2022-07-27 16:09] jsteele-stripe commented on #335
@kermitdefroghere @batical volume pricing should be supported (you just pass your volume base Price object as a line item).

I guess the issue is that your users can't adjust the line item quantity to reflect the volume they want on the payment page?

[2022-07-27 16:11] jsteele-stripe commented on #368
@abierbaum @talalsiddiqui Are you able to provide some more detailed errors from your Firebase function logs?

[2022-07-27 16:17] jsteele-stripe commented on #398
The recommended approach here is to roll 2 separate Firebase projects, where each extension is initialised with either the test or live key.

Closing this out as a won't fix.

[2022-07-27 16:17] #398 closed

[2022-07-27 16:28] jsteele-stripe commented on #395
Payment Links/Checkout will by default create a new Customer object if no `customer` [parameter](https://stripe.com/docs/api/checkout/sessions/create#create_checkout_session-customer) is provided on session creation:

Based on the limited information above, I expect that your integration is creating multiple Checkout Session objects simultaneously.

[2022-07-27 17:28] DCSnip3r commented on #335
@jsteele-stripe Not sure if this is what you are saying (I'm confused by this issue), but I personally would not want quantity configuration added on stripe checkout payment page. Quantity is determined when creating the checkout session, and I want to be able to restrict purchasable quantities to certain intervals on my checkout page.

I don't understand this issue. When creating my products, I u

[2022-07-27 19:21] jsteele-stripe commented on #335
@DCSnip3r I'm not sure a change is needed either. I'm just trying to understand the issue that is currently blocking the other users :)

[2022-07-27 19:45] kermitdefroghere commented on #335
I just checked the stripe-firebase-extension instructions and volume pricing still doesn't appear to be supported.
(https://github.com/stripe/stripe-firebase-extensions/blob/master/firestore-stripe-payments/POSTINSTALL.md)

"The extension currently supports pricing plans that bill a predefined amount at a specific interval. More complex plans (e.g. different pricing tiers or seats) are not yet sup

[2022-07-27 20:19] DCSnip3r commented on #335
Is this just outdated documentation? I might remember a time when this feature was not available, but then was resolved.

I already can use subscription plans with quantity-based-tiers successfully
        billing_scheme: "tiered",
        tiers_mode: "volume",

Am I getting confused by terminology?

I cannot speak to whether seat-based pricing works, haven't tried it.

[2022-07-29 08:40] jsteele-stripe commented on #335
Closing this out as it volume prices are supported by both Checkout and this extension. Please re-open with a replication if you're encountering a specific issue.

[2022-07-29 08:40] #335 closed

[2022-07-29 08:49] jsteele-stripe commented on #404
@devth It's unlikely that we will add this functionality to the extension. I'd recommend backfilling your existing Stripe customers via our API and populating Firestore documents with that data.

This would likely be an unreliable approach as Stripe Customer objects are not unique (either by `email` or any other field).

[2022-07-31 01:21] abulka opened #409 "Firebase official documentation link on how to install Client SDK is broken"
# Bug report

- Extension name: [e.g. `firestore-stripe-payments`]

## Describe the bug

In the Firebase console after you install this extension then click on 'How this extension works', there is a broken link to the Client SDK installation instructions.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to [How this extension works](https://co

[2022-07-31 02:34] Praesum commented on #184
While I understand Stripe Connect is a very complex, large feature. You would be able to allow those of use using a hybrid of Firebase Extension and our own implementation to achieve the above request but letting use pass through keys to the Stripe Checkout.

I.e. all I need to make this work on our prototype platform is for checkout to take a platform_fee and a destination. I don't need you guys

[2022-08-01 03:20] abulka commented on #59
@markslawton The two function calls you refer to viz. `.httpsCallable('ext-firestore-stripe-payments-createPortalLink');` as being different are identical in your comment. I think you might have pasted the same function call twice, rather than one of them being the wrong one?  Presumably the wrong one is `'ext-firestore-stripe-subscriptions-createPortalLink'` (with the word `subscriptions` in it).

[2022-08-02 03:17] willbattel commented on #403
Custom metadata would be a big help for many use cases including the one mentioned here. Am I mistaken or would this be a super simple PR?

[2022-08-04 15:23] Irian-Adappty commented on #304
Thanks! I have used command `npx howfat -r tree @stripe/firestore-stripe-payments` (also I ran it with firebase package) to see exactly the version I needed, and with firebase@9.8.4 and @stripe/firestore-stripe-payments@0.0.6 installed I could make it work with the following override:
[code]

[2022-08-04 17:45] kermitdefroghere opened #412 "Please support volume/tiered pricing"
# Feature request

- Extension name: firestore-stripe-payments

Note: I created a feature request last year that was recently closed prematurely.

Docs state: "The extension currently supports pricing plans that bill a predefined amount at a specific interval. More complex plans (e.g. different pricing tiers or seats) are not yet supported. "

More specifically, the checkout_sessions appear to onl

[2022-08-05 16:54] DCSnip3r opened #413 "Add date_created to customer document on customer creation"
# Feature request
As an admin, I want to be able to query my customers collection based on a date range of when customers were created.

If during the webhook where stripe creates the customer doc (with email, stripe id, etc) if this could also add a field for date_created, this would make running some queries easier.

It's possible to do
- Extension name: [e.g. `firestore-stripe-payments`, or lea

[2022-08-06 17:56] dackers86 commented on #413
Adding a `creation_date` would be a simple field to add I think.

The issue would be, how to backfill that data in your Firestore database.

You could create your own custom function that uses the admin sdk?

[code]

Adding your own security checks could keep this route secure?

[2022-08-06 19:09] IzzatHaikal opened #414 "Default_price for documents in 'products' collection"
# Feature request

- Extension name: **firestore-stripe-payments**

## Is your feature request related to a problem? Please describe.

There seems **default_price** is not inserted during the product doc creation.

## Describe the solution you'd like

I think by inserting the **default_price** into the **product doc** would make it easier to find the price in the 'prices' collection inside the spe

[2022-08-08 14:53] DCSnip3r commented on #413
It makes perfect sense that this data should not be back-filled by the extension, and would only propagate going forward.

Thank you for the suggestion on back-filling this with an admin function!

[2022-08-09 22:19] willbattel opened #416 "Provide a callable Cloud Function for creating checkout sessions"
# Feature request

- Extension name: `firestore-stripe-payments`

## Is your feature request related to a problem? Please describe.

This is not a major problem, but a matter of convenience and best practice regarding Cloud Firestore. Currently, per [the Post-Install docs](https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-payments/POSTINSTALL.md#start-a-subscription-w

[2022-08-10 21:32] willbattel opened #417 "Add option to getCurrentUserSubscriptions to limit query size"
# Feature request

- Extension name: `firestore-stripe-web-sdk`

## Is your feature request related to a problem? Please describe.

Minor feature request to add functionality to the web SDK. I would like to be able to limit the number of documents read when calling `getCurrentUserSubscriptions`.

## Describe the solution you'd like

I would like the `GetSubscriptionsOptions` interface to have a ne

[2022-08-11 08:34] willbattel commented on #68
For anyone trying to diagnose this, I'm pretty sure this all boils down to the same issue that has long plagued Cloud Functions. Cold start times are ridiculously long, not at all suitable for production, and Google has been aware and unable to fix for over two years now. Minimum instances somewhat mitigates the issue but it's merely a bandaid that doesn't actually fix the problem because cold sta

[2022-08-11 08:51] willbattel opened #418 "Allocate more memory to user-interactive Cloud Functions"
# Feature request

- Extension name: `firestore-stripe-payments`

## Is your feature request related to a problem? Please describe.

Google Cloud Functions suffer from a major issue affecting cold starts that can really hurt user-interactive operations such as creating checkout sessions. The cold start delay can often exceed 5 seconds, often times even more, and the minimum instances feature helps

[2022-08-12 18:13] willbattel commented on #418
Thinking about this some more, maybe the best solution from this extension's perspective is simply some additional documentation noting the cold start issue and manually increasing memory as a mitigation option.

[2022-08-12 23:06] willbattel opened #419 "Support Firestore TTL feature for appropriate collections"
# Feature request

- Extension name: `firestore-stripe-payments`

## Is your feature request related to a problem? Please describe.

This is a minor feature request regarding database hygiene, particularly with buildup of data no longer useful.

## Describe the solution you'd like

This can always be done with custom routines, but Firestore has recently unveiled a new TTL policies feature availabl

[2022-08-15 14:31] alexdao3 commented on #405
@dackers86 Do you have any insight into this issue?

[2022-08-16 07:12] TheDomac commented on #304
Any updates on this? For me using:
[code]
breaks the auth and is not working anyway. I'm getting `FirebaseError: Firebase: Error (auth/network-request-failed).` because of incompatibility (I don't have this issue when not using overrides)

Regarding Stripe payments, in my database, in /customers/:userId/checkout_sessions, I have error `cannot read propery "stripeId" of null`

Idk if this matters b

[2022-08-22 15:59] #314 closed

[2022-08-23 09:04] #379 closed

[2022-08-23 09:24] haitrungpham opened #421 "Request payment in function of number of members"
# Feature request

- Extension name:`firestore-stripe-payments`

## Is your feature request related to a problem? Please describe.

The stripe extension currently supports pricing plans that bill a predefined amount at a specific interval.
In my business case, I would like to bill only to an admin of a club in function of number of members every month. This is for many reason: club member may be a

[2022-08-23 14:40] #409 closed

[2022-08-23 17:05] Wenxchn opened #424 "0.3.0 Update Issue"
# Bug report

stripe/firestore-stripe-payments@0.3.0

## Describe the bug

Seems like an npm install issue with puppeteer.

## To Reproduce

Upgrade to 0.3.0 through the dashboard. Was working until I upgraded. Enter 1 or 0 for the new extension config 'Minimum instances for createCheckoutSession function'.

## Expected behavior

Should just update without any issues.

## Screenshots
![image](http

[2022-08-23 18:53] Wenxchn commented on #424
I filed a report to Firebase support just now, but hopefully opening this issue speeds up the process.

[2022-08-23 20:25] tsgregoryv commented on #424
I am also seeing the same error after updating

[2022-08-23 20:57] tsgregoryv commented on #424
I was able to get the functions to deploy by editing the functions in the google cloud console.  I updated the versions listed in the package.json based on what the package-lock.json described.

[2022-08-23 21:12] tsgregoryv commented on #424
I was able to get the functions to deploy by editing the functions in the google cloud console. I updated the versions listed in the package.json based on what the package-lock.json described.  These seem to be the corrected sections in the package.json file

"dependencies": {
    "@types/jest": "^24.9.1",
    "firebase-admin": "^10.3.0",
    "firebase-functions": "^3.21.2",
    "rimraf": "^3.0.2"

[2022-08-23 22:27] Wenxchn commented on #424
@tsgregoryv By that, are you talking about copying the function and editing package.json?

[2022-08-23 22:34] tsgregoryv commented on #424
Yes. I edited the package.json file in each function individually using the Google cloud console (not the firebase console).  It seemed like package-lock.json was more up to date than package.json. I was able to get the functions to redeploy successfully by replacing that snippet I shared above in each function.

[2022-08-24 02:30] tpae commented on #424
Yeah had this same issue. It's annoying when devs don't test before releasing

[2022-08-24 02:48] olijones opened #425 "Ability to verify users one-time payments"
# Feature request

- Extension name: `firestore-stripe-payments`

## Is your feature request related to a problem? Please describe.

I have a web application that allows users to purchase 'templates' using a one-time payment, once purchased they will have ongoing access to use these templates within their dashboard.

The current extension supports the ability to verify a user's subscription purcha

[2022-08-24 05:58] forgetscode commented on #424
First time trying this and I thought I was making some weird mistake.

Go figure.

[2022-08-24 06:16] tiluckdave commented on #424
@tsgregoryv Thank You!
It did work

I just had to remove the puppeteer from devDependencies.

[2022-08-24 09:55] jsteele-stripe commented on #424
Thanks for flagging this. We're working to resolve this in a new release.

[2022-08-24 10:29] emporioreale commented on #424
It doesn't work I can't deploy functions.
I uninstalled the extension and I tried to reinstall but I get the same error.

[2022-08-24 10:34] tiluckdave commented on #424
Until the next release just edit the code in your google cloud console. Remove puppeteer from devDependencies. and it should work just fine

[2022-08-24 10:54] emporioreale commented on #424
ok i will try, i have another question i want to use stripe test data, ho to do that?

[2022-08-24 11:12] tiluckdave commented on #424
Just checkout stripe documentation...
you can use a fake card 4242 4242 4242 4242
with random info

[2022-08-24 11:19] emporioreale commented on #424
Can I use this fake card with a live key?

Il giorno mer 24 ago 2022 alle ore 13:13 Tilak Dave <
***@***.***> ha scritto:

--
<https://emporioreale.com>
EMPORIO REALE DI CHIUCHIOLO ANTONIO
CONTRADA SERRA 48/C
83031 ARIANO IRPINO (AV)
P.IVA IT03114460649
Tel: +393337406881
e-mail: ***@***.***

[2022-08-24 11:56] jsteele-stripe commented on #424
@emporioreale No, you can't use test cards with your live API keys (and you shouldn't test in live mode regardless).

[2022-08-24 14:39] jsteele-stripe commented on #424
We just released `0.3.1` which should now be installable without issue. Sorry for the inconvenience.

[2022-08-24 14:50] tsgregoryv commented on #424
Great.  Thank you!  I updated and it worked as expected!

[2022-08-24 14:50] #424 closed

[2022-08-26 17:20] b0ot commented on #394
I had the same issue, but this seemed to work:
`firebase ext:export --project=<project_name>`

The only potential issue I see now is:
`⚠  Function 'createPortalLink is missing a trigger in extension.yaml. Please add one, as triggers defined in code are ignored.
⚠  Function 'handleWebhookEvents is missing a trigger in extension.yaml. Please add one, as triggers defined in code are ignored.`

I don'

[2022-08-26 18:41] b0ot opened #431 "Ability to trigger webhooks to repopulate Firestore after restarting Emulator"
# Feature request

- Extension name: [e.g. `firestore-stripe-payments`, or leave empty if suggesting a new extension]
-Run Payments with Stripe

## Is your feature request related to a problem? Please describe.

I develop and test everything via the Firestore Emulators before pushing live. Currently when you close the emulator and restart it, by default it wipes everything including the Firestore.

[2022-08-26 18:57] b0ot commented on #431
Option 2 - Upon further testing Option 2 is not viable as you can't actually delete products once they are used in a transaction.

[2022-08-27 13:39] outsourcestudio opened #433 "Value for argument "data" is not a valid Firestore document"
# Bug report

- Extension name: stripe-firebase-extensions

## Describe the bug

Hello,
I'm trying to develop subscription payment with trial period. Testing links with trial and without it.
So idea to collect stripe customers and their payment status in Firebase Firestore Database
But after many tests I just have products collections in database and no customers data.
I see the error in Logs and

[2022-08-30 09:21] NicoGGG opened #434 "Stripe payment: Cannot find module '@google-cloud/firestore'"
# Bug report

- Extension name: [e.g. `firestore-stripe-payments`]

## Describe the bug

When creating a user in my app, the extension fails to write anything in firestore with the following error:

[code]

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. I have installed everything according to the documentation: https://firebase.google.com/produ

[2022-09-01 23:26] santoshswain1416 opened #435 "i can't get my products in firedatabase"
# Bug report

- Extension name: [e.g. `firestore-stripe-payments`]

## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to '…'
2. Click on '…'
3. Scroll down to '…'
4. See error

## Expected behavior

A clear and concise description of what you expected to happen.

## Screen

[2022-09-03 05:42] xsorifc28 opened #437 "Subscription.items not returned with subscriptions data"
# Bug report

-  firestore-stripe-web-sdk

## Describe the bug

Looking at the [SUBSCRIPTION_CONVERTER](https://github.com/stripe/stripe-firebase-extensions/blob/ba357235974db133a3be0a5e7a511b9daede5dff/firestore-stripe-web-sdk/src/subscription.ts#L313-L351), it looks like `subscriptions.items` is not populated.

Additionally, the 'quantity' field (in firestore) is wrong after a subscription is up

[2022-09-05 13:41] SmartManDeveloper commented on #368
@jsteele-stripe  Hi, same issue here. Probably caused by null  "payment_intent" for upcoming invoice. Detailed log -  [Error]: Webhook handler for  Stripe event [*] of type [invoice.upcoming] failed: Value for argument "documentPath" is not a valid resource path. Path must be a non-empty string.

[2022-09-06 02:00] JaiJaiJordan opened #438 "Future payments with Firebase/Stripe extension"
# Feature request

- Extension name: [e.g. `firestore-stripe-payments`, or leave empty if suggesting a new extension]

## Is your feature request related to a problem? Please describe.

Currently there seems to be no way to set up a future payment, with a certain amount that gets charged offline, on a specific date and time.

A clear and concise description of what you want and what your use case

[2022-09-07 20:26] alexdao3 commented on #405
@dackers86 Hi Darren, just wanted to follow up to see if you had any ideas on this failing request

[2022-09-08 14:41] aabounegm opened #440 "Vite detects the web SDK as a CommonJS module"
# Bug report

- Extension name: [firestore-stripe-web-sdk](https://github.com/stripe/stripe-firebase-extensions/tree/next/firestore-stripe-web-sdk)

## Describe the bug

The [firestore-stripe-web-sdk](https://github.com/stripe/stripe-firebase-extensions/tree/next/firestore-stripe-web-sdk) module is written as an ES Module, but it has a few problems that make it invalid ESM. First, there is no `"ty

[2022-09-10 12:31] dackers86 commented on #216
Hi @hirrra

Apologies for the late response this one, i'm curious as to why a user would need to re-authenticate with your app?

Could this be a case of creating a new checkout session for the user if a checkout has been abandoned?

[2022-09-10 12:46] dackers86 commented on #216
@tlawrie

I'm not too sure if Stripe offers a payment plan without payment (unless  a free trial) is specified.

A trigger could be added on to the users subscription collection path `customers/{userId}/subscriptions`, this could be introduced as it would allow any type of subscription allowed and updated via the extensions web-hooks if this feature is something that we would like to introduce.

[2022-09-10 20:54] jackstruck commented on #369
I was having similar issues and adding the "Read" access to the restricted API key solved the issue for me. I was pointed in this direction by the log error:
` Webhook handler for  Stripe event [*********************************] of type [customer.subscription.updated] failed: The provided key '*********************************' does not have the required permissions for this endpoint on account '

[2022-09-12 19:31] noelmansour commented on #368
This is happening because the `invoice.upcoming` webhook event does not contain an `id` in the `object`. This results in an error on this line https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-payments/functions/src/index.ts#L608

I'm not sure if this is a Stripe API issue. I'd imagine the `id` should be returned in the webhook event. The other `invoice.*` include it.

[2022-09-14 15:47] lorenzfischer0 opened #443 "Allow mapping one Firebase User to many Stripe Customers"
# Feature request

- Extension name:  `firestore-stripe-payments`

## Is your feature request related to a problem? Please describe.

We're building a site where one user (Firebase Auth User) might represent multiple businesses/ billing adresses and therefore needs to be connected to more than one Stripe Customers. At the moment this isn't possible as far as I know.

## Describe the solution you'd

[2022-09-21 12:48] vicnicius opened #444 "createCheckoutSession min instances configuration not working"
# Bug report

- firestore-stripe-payments@0.3.1

## Describe the bug

The `createCheckoutSession` function does not seem to respect the value in the configuration.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Create or update the function setting the `Minimum instances for createCheckoutSession function` configuration value to anything > 0
2.

[2022-09-21 14:19] noelmansour commented on #444
I also have this issue. As a temporary workaround, you can manually set the min instances on the function via the Google Cloud Console:

1. Visit: https://console.cloud.google.com/functions/details/us-central1/ext-firestore-stripe-payments-createCheckoutSession?project=<your_firebase_project_name> (or navigate to the function via the dashboard)
2. Click on "Edit"
3. Expand the section "Runtime, bu

[2022-09-22 04:39] var2611 commented on #352
Waiting for update.

[2022-09-24 20:32] Albertbol opened #445 "Restricted key not supporting /v1/ephemeral_keys"
# Bug report

- Extension name: [e.g. `firestore-stripe-payments`]

## Describe the bug

In the documentation it says:

But when I create checkout_session I get the error:
[code]

In the stripe dashboard I can see:
`403 ERR | POST | /v1/ephemeral_keys` and same error message.

## To Reproduce

Steps above.

## Expected behavior

I want to create a restricted key and not allow everything.

[2022-09-25 21:45] IsaacTimothyLyne opened #446 "Angular & [`firestore-stripe-payments`] - Session ID not auto calling"
Extension name: [`firestore-stripe-payments`]

I have been integrating this with angular x firebase, however, while creating the checkout_sessions in the doc i get no session Id called and given back to the user. In the createCheckoutSession logs i see no calls or logs at all either.

Here is my given code
`  async sendToCheckout(){
    await this.auth.currentUser
    .then(user => {
      if(!use

[2022-10-04 04:13] #279 closed

[2022-10-04 04:13] #288 closed

[2022-10-04 18:57] joshdance opened #447 "Error saving rules when following guide"
# Bug report

- Extension name: [stripe-firebase-extensions](https://github.com/stripe/stripe-firebase-extensions)

## Describe the bug

Following the Cloud Firestore rules as described here: https://github.com/stripe/stripe-firebase-extensions/blob/master/firestore-stripe-payments/POSTINSTALL.md#set-your-cloud-firestore-security-rules - leads to this error when you try to publish the rules.

**Er

[2022-10-04 20:31] joshdance commented on #447
This was clearly user error. As I understand it better now, of course I should replace ${param:CUSTOMERS_COLLECTION} with the collection where my customers are stored.

I would suggest pointing that out in the onboarding doc.

[2022-10-11 05:57] #384 closed

[2022-10-11 06:06] ishowta opened #452 "It appears that pagination is not taking place on some API calls"
# Bug report

- Extension name: `firestore-stripe-payments` (At least)

## Describe the bug

pagination should be required to get the list data with [stripe api](https://stripe.com/docs/api/pagination) and [sdk](https://github.com/stripe/stripe-node#auto-pagination)
but it appears that in some places pagination is not being done.

https://github.com/stripe/stripe-firebase-extensions/blob/ad40aa0a6

[2022-10-11 14:37] emilbonnek opened #453 "3 high severity vulnerabilities on installation"
# Bug report

`firestore-stripe-payments`

## Describe the bug

When installing the extension with npm there is a 3 high severity vulnerabilities.

## To Reproduce

1. Open empty folder
2. Run `npm init -y`
3. Run 'npm install @stripe/firestore-stripe-payments'
4. See vulnerability
5. Run `npm audit` for more details (see below)

[code]

## Expected behavior

There should be no vulnerabilities whe

[2022-10-11 18:20] richtera commented on #198
We use a fork of the repo

On Tue, Oct 11, 2022 at 10:11 AM dorjsurend ***@***.***>
wrote:

--
Andreas Richter
***@***.***
215-518-2619

[2022-10-12 11:56] gorkamolero opened #454 "Function to create Checkout sessions doesn't trigger"
# Bug report

extension: firestore-stripe-payments

## Describe the bug

I installed the extension for the 3rd time in my project. It seems that the onCreate function that would set the sessionId won't fire.
Also, the @stripe/firestore-stripe-payments package doesn't create a checkoutSession either with Firebase v9. It complains it has no collection path

## To Reproduce

Install a modern firebase

[2022-10-12 12:19] #454 closed

[2022-10-15 12:30] jbrixon opened #455 "Shipping address is not collected if Stripe configuration collection set"
# Bug report

- firestore-stripe-payments

## Describe the bug

Shipping address is not collected if a value for "Stripe configuration collection" is set.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Set a value for "Stripe configuration collection" in the extension configuration
2. Follow the documentation for collecting a shipping address d

[2022-10-18 22:39] taishi55 opened #456 "[Error] deploy custom event handlers on Firebase Function"
# Bug report
Error occurs when deploying custom event handlers on Firebase Function.
- Extension name: [`firestore-stripe-payments`]
Not able to deploy custom event handlers on Firebase Function.

`com.stripe.v1.checkout.session.async_payment_succeeded`
`com.stripe.v1.customer.subscription.created`
`com.stripe.v1.customer.subscription.deleted`
[code]
## Describe the bug
`endSubscription v2 functio

[2022-10-18 22:59] taishi55 commented on #456
All I needed to change was  from `endSubscription` to `endsubscription` as the error describes....

I wonder why stripe extension cares the camel case of a custom function name 😭
This's a common way to name a function on Javascript or Typescript 🥶

[2022-10-18 22:59] #456 closed

[2022-10-21 15:02] Spitzbua commented on #315
The Charge Object in the Payment Intent Object already has a refunded boolean flag - only it is not updated on a refund. We need to revoke the user's authorisation if the payment has been refunded - what are the options?

[2022-10-26 22:49] abierbaum opened #457 "Expose pause_collection in Subscription document"
# Feature request

- Extension name: `firestore-stripe-payments`

## Is your feature request related to a problem? Please describe.

I do not see any details in a subscription document that lets you know payment is paused.

## Describe the solution you'd like

Expose the pause_collection data from the Stripe Subscription object.  (see: https://stripe.com/docs/api/subscriptions/update#update_subscr

[2022-10-29 04:51] mesqueeb opened #459 "Upgrade firebase library to latest"
There's dependency issues created by stripe-firebase-extensions using an old version of `@firebase/app`

See the discussion and bug report at:

https://github.com/firebase/firebase-js-sdk/issues/6703#issuecomment-1295732529

[2022-11-01 12:13] debjeetdebnath opened #460 "User choose what amount to pay"
# Feature request

- Extension name: firestore-stripe-payments

## Is your feature request related to a problem? Please describe.

Here on stripe firebase extensions we have to create product from stripe dashboard and then firebase gets the priceId and it has a default price in it lets suppose "$80" but what if user want to pay only "$20". That time it should create a new priceId automatically and

[2022-11-02 15:28] jsteele-stripe commented on #445
![image](https://user-images.githubusercontent.com/83410553/199530723-e443e375-c8c3-4839-aea7-0ff689a5535e.png)
You can now create restricted API keys with ephemeral key permissions in your [Dashboard](https://dashboard.stripe.com/apikeys/create), which should alleviate this error!

[2022-11-02 15:28] #445 closed

[2022-11-02 15:34] jsteele-stripe commented on #339
![image](https://user-images.githubusercontent.com/83410553/199532468-7fcf9015-b845-4a08-af83-12299c232576.png)
You can now create restricted API keys with ephemeral key permissions in your [Dashboard](https://dashboard.stripe.com/apikeys/create), which should alleviate this error!

[2022-11-02 15:34] #339 closed

[2022-11-08 19:34] nickpell commented on #405
@dackers86 @jsteele-stripe Do you have any insight into the issue my colleague described above?

[2022-11-09 00:50] KTOLE18 opened #461 "The configuration option for region Oregon (us-west1) is missing"
# Bug report

- Extension name: [e.g. `firestore-stripe-payments`]

## Describe the bug

The configuration option for region Oregon (us-west1) is missing.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Attempt install from the Firebase Console
2. Scroll through the list of regions for the config
3. Note that `us-west2`, `us-west3`, `us-west4` a

[2022-11-09 12:30] pknuth opened #462 "Stripe extension not possible to uninstall or install additional instances"
# Bug report

- firestore-stripe-payments

## Describe the bug

Cannot uninstall stripe extension or configure additional instances. Im pretty sure that i have all of the permissions in IAM that are required, i always get 403 error. After installing additional instances, the setup fails and additional instances are also not possible to uninstall.

0.2.7 version uninstall (primary instance) log:

`

[2022-11-09 13:18] #462 closed

[2022-11-11 18:52] CambodianCoder opened #463 "Upgrade stripe api version to Aug 2022 version"
# Feature request

- Extension name: [`firestore-stripe-payments`]

## Is your feature request related to a problem? Please describe.

Stripe launched a new version of the API on 01 August 2022.

https://stripe.com/docs/upgrades#2022-08-01

The stripe firebase extension should incorporate those changes

## Describe the solution you'd like

A clear and concise description of what you want to happen

[2022-11-14 12:58] jsteele-stripe commented on #461
We just need to add the option [here](https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-payments/extension.yaml#L123). We'd love to accept a PR that adds support!

[2022-11-14 16:04] #395 closed, assigned to nobody

[2022-11-15 01:04] git-avilabs commented on #327
Having this same issue with sveltekit, any one who can help?

[2022-11-19 03:26] mnc12004 opened #465 "billing_cycle_anchor and start_date required"
# Feature request

- Extension name: `firestore-stripe-payments`

## Is your feature request related to a problem? Please describe.

When creating new subscriptions, a billing_cycle_anchor and start_date variable is required so the client can set a Subscription Start of (eg: 1st of February) and the customer pays a pro-rata amount from the date they sign-up to the 1st of February.

## Describe the

[2022-11-20 08:16] geoffcfchen commented on #79
HI @thorsten-stripe,

Thank you very much for the explanation. Since now it is V9 now, I was trying to get the product as well as the subcollection price info by modifying your V8 suggestions. But I will not able to get correct products. Would you kindly point me to where I did wrong?

  useEffect(() => {
    const q = query(collection(db, "products"), where("active", "==", true));
    // console.

[2022-11-22 09:30] #461 closed

[2022-11-22 09:42] b0ot opened #467 "STRIPE_API_KEY issues within Google Cloud Manager"
# Bug report

- Extension name: firestore-stripe-payments
- https://extensions.dev/extensions/stripe/firestore-stripe-payments

## Describe the bug
I created separate Firebase Project for Dev/Prod and noticed that I was getting the errors in the firebase-debug.log that were stating that NO API KEY was being provided on my checkout session requests. A lot of digging later and I think that there may

[2022-11-22 14:14] Oliver530 commented on #184
We would also greatly appreciate a rudimentary implementation or workaround for Stripe Connect.

[2022-11-22 22:50] christophemarois commented on #304
Was stuck on this for days. I have a monorepo setup with PNPM workspaces.

Temporarily fixed by forcing up-to-date dependencies by adding:
[code]

to my root `package.json`. The particular versions where set to match the others I found commands like `pnpm -F [app-name] why @firebase/app`

[2022-11-25 06:11] jeremyrajan opened #468 "Error: Service firestore is not available with Firebase 9.14.0"
# Bug report

- Extension name: [e.g. `firestore-stripe-payments`] firestore-stripe-payments

## Describe the bug

When trying to use `createCheckoutSession`, getting the following error:

[code]

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to '…'
2. Click on '…'
3. Scroll down to '…'
4. See error

## Expected behavior

Create checkout ses

[2022-11-25 12:54] MarcJamesIO opened #469 "db.collection is not a function"
# Bug report

- Extension name: `firestore-stripe-payments`

## Describe the bug

I am following your tutorial here: https://firebase.google.com/codelabs/stripe-firebase-extensions#4

And getting the error db.collections is not a function. Is the tutorial completely out of date?

I am using the latest version of Firebase.

## To Reproduce

Just run through above tutorial with the latest version of

[2022-11-26 09:35] daskabe opened #470 "getProducts is no longer working."
# Bug report
firestore-stripe-payments

## Describe the bug

getProducts doesnt return list of products.

[code]

[code]

[code]
## To Reproduce

Follow tutorial at   https://firebase.google.com/codelabs/stripe-firebase-extensions#0

## Expected behavior

get List of products/subscriptions.

## Screenshots

![image](https://user-images.githubusercontent.com/94478096/204081894-81be1955-1b89-42d8-bb

[2022-11-28 13:20] PierreChavaroche opened #471 "Supporting "payment_method_options" (for enabling WeChat Pay)"
# Feature request

firestore-stripe-payments

## Is your feature request related to a problem? Please describe.

To enable WeChat Pay via Stripe, "payment_method_options" seems to be mandatory:

[code]

Stripe docs:
https://stripe.com/docs/payments/wechat-pay/accept-a-payment?platform=checkout

## Describe the solution you'd like

If "payment_method_options" has been provided, it should be conside