[2020-07-18 19:18] nvictorme opened #1 "Support quantity and unit_amount instead of just amount"
# Feature request

- Extension name: `firestore-stripe-invoices`

## Is your feature request related to a problem? Please describe.

I'd like to be able to pass 'quantity' and 'unit_amount' instead of 'amount'. Not every item quantity = 1.

## Describe the solution you'd like

OrderItems should use quantity and unit_amount instead of just amount
## Describe alternatives you've considered

implemen

[2020-07-20 08:03] thorsten-stripe commented on #1
Thanks, @nvictorme, that's a good idea, I'll work on adding support for line item quantities.

One quick question: would you mind posting the invoice doc that resulted in the screenshotted error?

[2020-07-20 21:55] JakeMalis opened #3 "Delete Stripe customer by deleting Firestore customer file"
# Feature request

- `firestore-stripe-subscriptions`

## Is your feature request related to a problem? Please describe.

Yes. Firebase already has an extension that allows for data (besides the authentication account) to be removed upon account deletion.

## Describe the solution you'd like

If removing the customer file within Firestore would send a trigger to delete the customer on the dashboar

[2020-07-21 04:43] #1 closed

[2020-07-21 04:47] thorsten-stripe commented on #1
This is slotted for the next release on Thursday PT.

Thanks again @nvictorme for submitting! :)

[2020-07-21 04:53] thorsten-stripe commented on #3
Thanks @JakeMalis for the kind words and the feature request :)

We're hoping to add this as a fast-follow. One important detail is: how do we handle active subscriptions for a user that is being deleted? E.g. would you want us to cancel all their active subscriptions and then delete their customer object?

Would love to hear your thoughts on that!

[2020-07-21 05:03] NickBrecht opened #4 "Support for customers without email addresses"
# Feature request

Add support for webapps not using email authentication.

## Is your feature request related to a problem? Please describe.

Reliance on email address stops webapps/websites from utilizing firebase's phone authentication feature. The email is (as far as I can tell) not needed for stripe's customer or portal API. Attempting to register a user without an email results in:

`ext-fir

[2020-07-21 07:28] rikelk commented on #3
Maybe something like the cleanUp function here:
https://github.com/firebase/functions-samples/blob/master/stripe/functions/index.js

/**
 * When a user deletes their account, clean up after them
 */
exports.cleanupUser = functions.auth.user().onDelete(async (user) => {
  const dbRef = admin.firestore().collection('stripe_customers');
  const customer = (await dbRef.doc(user.uid).get()).data();
  a

[2020-07-21 15:17] thorsten-stripe commented on #3
Thanks @rikelk. Yes, deleting a customer will cancel all their subscriptions. Yes, I'll add something along the lines. Will need to verify if this works together with the existing [Delete User Data extension](https://firebase.google.com/products/extensions/delete-user-data), that would be ideal.

[2020-07-21 15:20] thorsten-stripe commented on #4
Hey @NickBrecht thanks for the kind words, and thanks for flagging this use case! I think I adopted this requirement from the invoices extension where we need the email address to send off the invoice, but you're right, in the context of the subscriptions extension this is not required.

I'll make this change and aim to get it into the next release on Thursday PT. 👍

[2020-07-21 18:33] #3 closed

[2020-07-21 18:35] thorsten-stripe commented on #3
This has been added and should roll out with the next release on Thursday. Thanks again for your input! :)

[2020-07-21 19:37] #4 closed

[2020-07-22 04:51] JakeMalis commented on #3
@thorsten-stripe If it cancelled the user subscription when deleting the account that would be amazing. Thank you so much, keep up the amazing stuff!

[2020-07-28 01:56] JakeMalis opened #9 "Hardcode price for Stripe Subscription"
# Feature request

- `firestore-stripe-subscriptions`

## Is your feature request related to a problem? Please describe.
When running the code shown below, it throws an error because `formData.get('price')` is not setup for my website. How could I hardcode in the price for the product. Let's say that the price is $5.00 USD, how do I set that.

`const docRef = await db
  .collection('customers')

[2020-07-28 03:15] thorsten-stripe commented on #9
Hey @JakeMalis, you can't set the pricing data on the client side as it could be tampered with. E.g. someone could open the browser dev tools and simply change the pricing to be lower.

That's why you need to create the pricing details in Stripe first: https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/POSTINSTALL.md#create-product-and-pricing-information

[2020-07-28 03:15] #9 closed

[2020-07-28 13:40] aliaksandr-yanchuk opened #11 "Trial period is not set on customer creation"
# Bug report

- Extension name: firestore-stripe-subscriptions

## Describe the bug

When customer entity is created in Stripe, the subscription (for selected product / price) doesn't have trial period set. It also results in "active" status of subscription object put in firestore and not "trialing". If you add trial days in created subscription from Stripe dashboard, status is getting changed cor

[2020-07-28 13:52] thorsten-stripe commented on #11
Thanks for reporting this @aliaksandr-yanchuk. I cam across this as well earlier today and have a PR ready to fix it: https://github.com/stripe/stripe-firebase-extensions/pull/10.

This fix will be released on Thursday morning PT time.

[2020-07-28 13:54] #11 closed

[2020-07-29 09:31] rikelk opened #13 "Sync metadata object from the Stripe subscription object to Cloud Firestore"
# Feature request

- firestore-stripe-subscriptions`

## Is your feature request related to a problem? Please describe.

Stripe API Subscription object has a metadata object to store custom key-value pairs informations. Metadata data object is currently not synced to firestore subscription object.

## Describe the solution you'd like

Add the abilty to attach a metadata object from the beginning o

[2020-07-29 15:54] thorsten-stripe commented on #13
Thanks for outlining your use case @rikelk! To confirm, you want to provide the metadata on the client side as follows:

[code]

And then for it to be synced to the subscriptions doc in Cloud Firestore, correct?
![image](https://user-images.githubusercontent.com/23213994/88822658-b6f6a980-d1f6-11ea-9637-d6bdc44c0939.png)

[2020-07-29 16:22] rikelk commented on #13
Thank you very much ! this is exactly that! :)

Le mer. 29 juil. 2020 à 17:54, Thor 雷神 <notifications@github.com> a écrit :

[2020-07-29 16:41] #13 closed

[2020-07-29 16:42] thorsten-stripe commented on #13
Great, this will go out with the next release cycle on Thursday morning PT time :)

[2020-07-29 22:15] robertreppel opened #15 "Support subscription_data.coupon in createCheckoutSession"
# Feature request

- Extension name: firestore-stripe-subscriptions

## Is your feature request related to a problem? Please describe.

Would be nice to be able to support coupons.

## Describe the solution you'd like

1. Add the coupon value when creating a checkout session:

[code]
2. In src/functions  ```exports.createCheckoutSession```, add the coupon to the parameters for checkout.sessions.cr

[2020-07-30 05:44] justin-elias opened #17 "Bug Report: Inconsistency in how Webhook function handles one-time pricing"
# Bug report

firestore-stripe-subscriptions

## Describe the bug

The webhook function will consume a _product.create_ or _product.update_ request but disregards any prices marked as _one-time_ because the _interval_ is set to **null**. Yet will send a **400** response for any _price.create_ or _price.update_ requests.

This creates unpriced products in the firestore database with no way to recon

[2020-07-30 12:07] Arystosedes opened #18 "StripeRole remove 'role' from custom claims"
Bug report
firestore-stripe-subscriptions

To Reproduce
1. Create user in firestore app and set custom user claims like: admin.auth().setCustomUserClaims(user.uid, { role: 'admin' });
2. Use stripe to make a subscription for a product with firebaseRole metadata
3. If success => sign out and sign in again
4. Check user.getIdTokenResult() - 'role' will be removed
5. If you set 'role' again, it will

[2020-07-30 17:01] jhuleatt commented on #18
I believe the extension could fix this by modifying the current code:

[code]

To first check existing custom claims and merge them:

[code]

[2020-07-30 17:14] Arystosedes commented on #18
@jhuleatt Not sure if I'm understanding correctly. The extension could fix this (extension bug), or I need to fix my code? If my code.. I need stripeRole (in my case) only to know which product user paid for (to set app limits then). Besides of that, I need to use setCustomUserClaims when user sign in to my app (with firebase functions functions.auth.user().onCreate()..) to set user role like admi

[2020-07-31 15:51] linjohnjohn opened #21 "Store: price.nickname in firestore"
# Feature request

firestore-stripe-subscriptions

## Is your feature request related to a problem? Please describe.

Price data stored in firestore should include the price's description as well. This use case is useful using the description to name different pricing tiers to display to customers.

## Describe the solution you'd like

Update the insertPriceRecord handler for price.create and pric

[2020-08-03 09:09] thorsten-stripe commented on #15
@robertreppel thanks for suggesting this. We're working on a feature with Checkout that will allow users to insert a coupon/promo code into the Checkout interface directly. Would this be sufficient? Or do you require a programmatic way (unrelated to user input) of applying coupon codes?

[2020-08-03 09:33] thorsten-stripe commented on #18
Thanks for reporting @Arystosedes, this is definitely a bug in the extension and not expected behaviour. I'll fix it.

[2020-08-03 13:06] ajgagnon commented on #18
Thanks for the fast action on this! Just checked out the pull request and it looks good to me too. Anything I can do to help test/get this pushed? Sort of at a roadblock with this since we need our custom claims intact.

[2020-08-03 13:15] thorsten-stripe commented on #18
@ajgagnon we're currently on a weekly release schedule, aiming to release Thursday AM PT time. However you can update the extension from local source, to do so:

1. Clone this repository to your local machine
1. Run `npm install`
1. Switch to `firestore-stripe-subscriptions/fix/merge-customClaims` branch
1. Run `npm run ext:update --ext=firestore-stripe-subscriptions --project=<YOUR FIREBASE PROJE

[2020-08-03 13:19] rosariopfernandes commented on #18
@thorsten-stripe I'm afraid that won't work, since that feature is currently in alpha.

[2020-08-03 13:24] robertreppel commented on #15
That would be perfect. I wasn't looking for a programmatic way to do it; an enhancement to the Checkout interface would be ideal.

[2020-08-03 14:49] ajgagnon commented on #18
You mean this is in beta?

[code]

I'm assuming there's no workaround at the moment, until possibly Thursday when this is updated, correct?

[2020-08-03 20:04] rosariopfernandes commented on #18
@ajgagnon Unfortunately yes, that's the only possible way.

[2020-08-03 20:08] ajgagnon commented on #18
Okay thanks!

[2020-08-03 23:55] Bickio commented on #17
I have also experienced this. It looks like a bug in the insertPriceRecord function. It's reading price.recurring.interval regardless of whether price.recurring is null.
This causes the cloud function to fail, and therefore the websocket trigger fails also.

[2020-08-04 04:52] gouteru opened #23 "sales tax(consumption tax) cannot specified default_tax_rates"
# Bug report

- Extension name:  firestore-stripe-subscriptions

## Describe the bug

sales tax (consumption tax 10% in Japan) can not be specified with this extention.

## To Reproduce

Just use this extention. Stripe Checkout charges without tax.

## Expected behavior

[Strip API reference](https://stripe.com/docs/payments/checkout/set-up-a-subscription#tax-rates)
default_tax_rates with specific

[2020-08-04 08:33] #18 closed

[2020-08-04 08:39] thorsten-stripe commented on #18
Very sorry for that! I'll work with the team to get this into the Thursday release. Sorry again for getting your hopes up 🙈

[2020-08-04 09:00] thorsten-stripe commented on #17
Thanks for reporting this! Since the extension only supports Checkout for recurring prices, I'd say we should ignore one-time prices.

Some questions: whats your use-case for having both recurring and one-time prices on the same Stripe account? In what context do you use the one-time prices, and would there be any benefit of also syncing the one-time prices to Firestore, even if you can't use them

[2020-08-04 09:07] Bickio commented on #17
Hi,

Thanks for your reply. Yes, I realized afterwards that it was only designed
for recurring billing. My app only needs one time billing so it's not a big
issue.

I was hoping that the extension would support this, but now I realize that
it's not supported I will just use the stripe api directly.

Thanks for your help!
Bickio

On Tue, 4 Aug 2020, 9:01 pm Thor 雷神, <notifications@github.com> wrote

[2020-08-04 09:20] thorsten-stripe commented on #17
@Bickio yes, the real power of this extension lies in the syncing of subscription status with Cloud Firestore and Firebase Authentication. For one-time payments you might find https://github.com/firebase/functions-samples/tree/master/stripe helpful.

[2020-08-04 15:13] justin-elias commented on #17
@thorsten-stripe Our use case is a pottery studio client whose primary revenue stream consists of monthly membership subscriptions. There is one membership tier, marketed to people unsure if a long term membership is what they want, which is a one-time purchase that provides "Passes" redeemable in the studio for limited trial access. This tier is never meant to be an ongoing subscription, instead,

[2020-08-04 17:38] thorsten-stripe commented on #17
@justin-elias thanks for outlining your use case.

Would you be able to expand a bit on the exact behaviour you're looking for regarding

For your use-case I'd recommend still using a recurring price and rather adding some metadata to your subscription: https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/POSTINSTALL.md#setting-metadata-on-the-subscription

[2020-08-04 19:05] #17 closed

[2020-08-04 19:05] #21 closed

[2020-08-04 19:09] thorsten-stripe commented on #17
The following fix will roll out with the next release on Thursday PT:

[fix] - Corretly handle one-time (non-recurring) prices. This update adds a `type` parameter to the price document in Cloud Firestore:

[code]

This means that if you have both `one-time` and `recurring` prices on your Stripe account you will have to filter for `.collection('prices').where('type', '==', 'recurring') as one-time

[2020-08-04 19:13] thorsten-stripe commented on #21
This has been added to the next release for Thursday PT.

[2020-08-04 21:55] ajgagnon commented on #18
All good! I appreciate the responsiveness!

Looking forward to the Alpha feature as well! :)

[2020-08-05 01:26] VinLucero opened #25 "Stripe Subscription - Before installing this extension... More info needed"
# Bug report

- Extension name: [e.g. `firestore-stripe-subscriptions`]

## Describe the bug

Context: https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/README.md

From the main README for Stripe Firebase Extension Subscriptions one needs to first:
"Before installing this extension, set up the following Firebase services in your Firebase project:

Cloud

[2020-08-05 07:42] thorsten-stripe opened #26 "Support collection of shipping address details"
# Feature request

- Extension name: `firestore-stripe-subscriptions`

## Is your feature request related to a problem? Please describe.

Some subscription business models ship physical goods. We should support collection of shipping address details for those.

## Describe the solution you'd like

Support https://site-admin.stripe.com/docs/payments/checkout/customization#shipping-address-collectio

[2020-08-05 08:31] thorsten-stripe opened #27 "Support multiple line items"
# Feature request

- Extension name: `firestore-stripe-subscriptions`

## Is your feature request related to a problem? Please describe.

Currently the CheckoutSession creation only allows passing in one price ID, but there will likely be use cases where one wants to provide multiple pricing plans or add a [one-time setup fee](https://stripe.com/docs/payments/checkout/set-up-a-subscription#adding-

[2020-08-05 09:47] agcty opened #28 "Using a path like stripe/customers while installing breaks installation due to onCustomerDataDeleted regex error"
# Bug report

- Extension name: [e.g. `firestore-stripe-subscriptions`]
firestore-stripe-subscriptions

## Describe the bug
When you install the extension and provide a path like "stripe/customers" installation will result in an error due to the path not matching the regex in onCustomerDataDeleted. Seems like every other function works

A clear and concise description of what the bug is.

## To Re

[2020-08-05 11:18] #23 closed

[2020-08-05 11:19] thorsten-stripe commented on #23
This will be added to the next release on Thursday PT.

[2020-08-05 11:47] thorsten-stripe commented on #28
I was able to reproduce this on my account:
![image](https://user-images.githubusercontent.com/23213994/89408481-04bd6580-d753-11ea-9c47-8fb1fb87a2d4.png)

[code]

@jhuleatt @laurenzlong any idea what's happening here? Are paths supported in the extension.yaml file? Do I need to specify a `validationRegex` like here: https://github.com/firebase/extensions/blob/master/firestore-translate-text/exten

[2020-08-05 11:51] gouteru commented on #23
Thanks! I will be update to the upcoming release.

[2020-08-05 12:21] #25 closed

[2020-08-05 12:23] thorsten-stripe commented on #25
Thanks for the feedback @VinLucero! I've added clearer instructions to the pre-install docs and also added them to the top of the postinstall docs. These improvements will roll out with the next release on Thursday PT.

[2020-08-05 12:24] thorsten-stripe commented on #15
Great, thanks for the feedback everyone! We're very close with this. I'm hoping we can get it into the Thursday release, will keep y'all posted.

[2020-08-05 18:22] laurenzlong commented on #28
Firestore collections need to be an odd number of segments (i.e. `customers` or `stripe/customers/invoices`). I recommend adding the regex `^[^/]+(/[^/]+/[^/]+)*$` to all the Firestore collection path parameters.

[2020-08-05 19:08] thorsten-stripe commented on #28
Thanks @laurenzlong, this is because collections can only be either at the root or within a document, correct? So for `stripe/customers/invoices`, `stripe` is the root collection, `customers` is a document, `invoices` is a sub-collection of the `customers` document. Is that correct?

So using `stripe/products` for products path and `stripe/customers` for customer path is impossible, but using `str

[2020-08-05 19:52] #28 closed

[2020-08-05 20:02] #15 closed

[2020-08-06 02:17] laurenzlong commented on #28
Yep, that's right!

On Wed, Aug 5, 2020, 12:08 PM Thor 雷神 <notifications@github.com> wrote:

[2020-08-06 02:19] laurenzlong commented on #28
And having a more nested collection path like stripe/mysubsapp/customers is
not an antipattern.

On Wed, Aug 5, 2020, 7:16 PM Lauren Long <laurenzlong@gmail.com> wrote:

[2020-08-06 13:02] pengustudios opened #33 "one-time setup fee for a subscription"
# Feature request

- Extension name: firestore-stripe-subscriptions

## Is your feature request related to a problem? Please describe.

A clear and concise description of what you want and what your use case is.

## Describe the solution you'd like

1) I would love to be able to add a one-time setup fee to the subscription.
2) Setting up a limited time discounted trial period (instead of totally f

[2020-08-07 17:58] VinLucero opened #35 "[FAQ] Products and prices not syncing with Cloud Firestore"
# Bug report

- Extension name: [e.g. `firestore-stripe-subscriptions`]

## Describe the bug

FireStore collections not being created / updated upon reconfiguring customers / products in Extension config.

## To Reproduce

When you are in the Firebase Dev Console and click on Extensions > Stripe Extension Manage Button > Extension Configuration

I deleted my previous collections and renamed them a

[2020-08-07 18:12] VinLucero commented on #35
Also seeing this while retrying:

failed to startDeploymentManagerWork for instance id: firestore-stripe-subscriptions, parentId: clowte-prototype: error updating deployment for "projects/clowte-prototype/global/deployments/firestore-stripe-subscriptions" with delete policy "ABANDON": DM HTTP 404 error. Body: { "error": { "code": 404, "message": "The object 'projects/clowte-prototype/global/deploy

[2020-08-07 18:15] VinLucero commented on #35
I think that above error is just because I clicked cancel or tried reconfiguring too many times too quickly.

[2020-08-07 21:39] VinLucero opened #36 "Firestore Customers table not updating using firebase.auth().createUserWithEmailAndPassword(email, password)"
# Bug report

- Extension name: [e.g. `firestore-stripe-subscriptions`] Version 0.1.4

## Describe the bug

Documentation under https://console.firebase.google.com/u/1/project/clowte-prototype/extensions/instances/firestore-stripe-subscriptions?tab=config

Sign-up users with Firebase Authentication
The quickest way to sign-up new users is by using the FirebaseUI library. Follow the steps outlined

[2020-08-08 00:11] leerob opened #37 "Allow subscription extension to be added to existing database"
# Feature request

- Extension name: `firestore-stripe-subscriptions`

## Is your feature request related to a problem? Please describe.

If you already have a Firestore database + Firebase Authentication, it's not possible to adopt this extension without deleting all of your users.

## Describe the solution you'd like

Instead of listening for customers on create, we could do `createOrRetrieve` i

[2020-08-08 01:07] robertreppel commented on #15
Awesome! Works great and exactly what I was looking for. Thanks Thorsten, much appreciated!

[2020-08-08 17:33] robertreppel opened #38 "UX: On smaller screen sizes, applying promo code requires users to select "View Details" first"
# Feature request

Should the field for entering the promo code be on the main redirect checkout screen instead of requiring to select "View Details" in order to see it?

## Is your feature request related to a problem? Please describe.

Users would need to know to select "View Details" in order to apply a promo code:

![view-details-promocode](https://user-images.githubusercontent.com/471404/8971

[2020-08-08 20:37] danilowoz commented on #33
Hopping for this option too :)

[2020-08-10 04:05] JakeMalis opened #39 "Stripe One-Time Payment Extension"
# Feature request

## Describe the solution you'd like

I love the ease of use and functionality of the Stripe Subscriptions extension. I was hoping for the creation of another extension that allows for easier one-time payment processing. I love the design of https://github.com/stripe/stripe-payments-demo, but wish it would work with Firebase.

## Describe alternatives you've considered

[https://

[2020-08-10 04:51] thorsten-stripe opened #40 "Add automated integration tests"
# Feature request

- Extension name: all

## Describe the solution you'd like

The Firebase emulators have an exec command that starts the emulators, runs a script, and then stops the emulators.  For extensions, this looks like: `firebase ext:dev:emulators:exec \"mocha --timeout=10000\" --test-params=../test-params.env --test-config=../firebase.json`

Since the Stripe CLI is really useful for simu

[2020-08-11 08:31] thorsten-stripe commented on #39
@JakeMalis would you mind outlining your use case? So far we've decided against a one-time payments extension because there are a lot of different very specific use cases for one-time payments, whereas subscriptions is a fairly standardized/predictable business model, where an extension is useful for many.

For the one-time payments use case, we generally recommend using https://github.com/firebas

[2020-08-11 08:34] thorsten-stripe commented on #38
@robertreppel this is something that isn't controlled by the extension but rather by the hosted Checkout page. I'm going to forward your feedback to the team internally 👍

[2020-08-11 08:34] #38 closed

[2020-08-11 08:41] thorsten-stripe commented on #33
Thanks for voicing your interest for this, this will be made possible via #27. Please follow along there :)

[2020-08-11 08:51] thorsten-stripe commented on #35
@VinLucero the way product and pricing information is entered into your Firestore is via webhook events that are sent from Stripe. These events are only emitted when you either create a product/price or when you update it (e.g. update the name or description).

So if you delete the existing product collection and change the collection path in the extension, you will need to retrigger these events.

[2020-08-11 09:06] thorsten-stripe commented on #36
@VinLucero I am not able to reproduce this on my end, just tested with `firebase.auth().createUserWithEmailAndPassword(email, password)` and it triggers the `crateCustomer` function is triggered as expected, creating the Stripe customer object and adding it to the Cloud Firestore.

Have you checked the functions logs for the `createCustomer` function? This might give you an indicator for what isn'

[2020-08-11 09:06] #36 closed

[2020-08-11 09:56] thorsten-stripe commented on #37
Thanks @leerob I actually forgot that I had added this with version `0.1.2` already: https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/functions/src/index.ts#L102-L106

See changelog entry about "just in time customer creation": https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/CHANGELOG.md#version-012

Do you

[2020-08-11 09:56] #37 closed

[2020-08-11 14:08] leerob commented on #37
Yep, that must have been it!

![image](https://user-images.githubusercontent.com/9113740/89907354-2fc01300-dbb2-11ea-817a-280b5210b094.png)

[2020-08-11 22:23] JakeMalis commented on #39
I plan on using it to collect money for tournament winners. I would like to collect money before allowing hosts to create tournaments.

[2020-08-12 04:27] Sankarrockzz commented on #27
Yes, this is something that is needed and obvious. I offer multiple products subscription and my customers want to make multiple-subscription via one CheckoutSession.

In simple words, multiple product subscriptions in one CheckoutSession

[2020-08-13 08:55] ynnoj opened #42 "[firestore-stripe-subscriptions] Create Stripe customer for pre-existing Firebase users"
# Feature request

- `firestore-stripe-subscriptions`

## Is your feature request related to a problem? Please describe.

I'm using this extension with a pre-existing Firebase project which has ~1,000 users. When using the extension, a Stripe customer is created for these pre-existing Firebase users. However the email address of the Firebase user is not passed to the Stripe customer.

## Describe

[2020-08-13 10:55] ynnoj commented on #42
@thorsten-stripe Seems to me like we could have access to the user `email` in the context here:

https://github.com/stripe/stripe-firebase-extensions/blob/ef2d1301b20f00307a7111edbf90bb4ccdd2f5e1/firestore-stripe-subscriptions/functions/lib/index.js#L104-L106

[2020-08-13 11:44] thorsten-stripe commented on #42
Thanks for opening this and having a look @ynnoj. I don't think we have the user email in context, but we can retrieve it from the `uid` which we have in context 👍

[2020-08-13 13:54] phillduffy opened #43 "Adding Subscription to User in Dashboard not updating Firestore"
# Bug report

- Extension name: [e.g. `firestore-stripe-subscriptions`]

## Describe the bug

Creating a Subscription in Stripe for a user does not send it back to Firestore

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1) User Sign up in Firebase
2) User is created as Customer in Firebase and as a Customer in Stripe
3) Add a Subscription to the

[2020-08-13 15:01] ynnoj commented on #42
Is it not available on the `customerRecord` lookup from Firebase here?

https://github.com/stripe/stripe-firebase-extensions/blob/ef2d1301b20f00307a7111edbf90bb4ccdd2f5e1/firestore-stripe-subscriptions/functions/lib/index.js#L102

[2020-08-13 15:03] thorsten-stripe commented on #43
@phillduffy as it stands today the extension does not listen to `customer.subscription.created` as it expects the subscription to be created by the extension. So the subscription would only show up once the customer pays the invoice.

Would you mind expanding on your use case for creating the subscription in the dashboard rather than with Checkout? Feel free to [DM me](https://twitter.com/thorwebd

[2020-08-13 15:54] thorsten-stripe commented on #42
The customerRecord only has the stripe customer ID and a link to the customer details in the Stripe Dashboard:
![image](https://user-images.githubusercontent.com/23213994/90157367-3b812480-ddc0-11ea-84b0-65eb76a1c360.png)
We don't want for the extension to store any PII.

[2020-08-13 18:35] VinLucero commented on #36
Weird. Confirmed this is now WAI. Sorry for the false bug.

[2020-08-14 11:24] thorsten-stripe commented on #36
No worries @VinLucero, glad to hear it's working now :)

[2020-08-15 20:58] smpetrey opened #44 "adding firestoreRole to products doesn't add userCustomClaims stripeRole"
# Bug report

- Extension name: [e.g. `firestore-stripe-subscriptions`]

## Describe the bug

Not really sure where to report/ask this, so I figured here would be a good place.

If a product has a `firestoreRole` value in Stripe, and there's a customer subscription, that user should have the same value on the user claim key `stripeRole`... right? That's my understanding. If I'm wrong, can someone

[2020-08-16 01:19] smpetrey commented on #44
I have no idea why or how... but i took a beat, and when I came back `getCustomClaimRole` began working as expected and the stripeRole claim appeared 😅

[2020-08-16 01:19] #44 closed

[2020-08-16 23:07] Samuelote opened #45 "Webhooks repeatedly failing"
# Bug report

- Extension name: firestore-stripe-subscriptions

## Describe the bug

The webhook associated with this  extension is failing repeatedly when dealing with customer or checkout events. Both price and product creates/updates fire successfully. I can't find any way to review logs on the failing webhooks so I'm not sure how to debug this.
*Fair warning that I'm new to this extension/Stri

[2020-08-17 03:16] thorsten-stripe commented on #45
@Samuelote can you please review your Cloud Functions logs for error messages: https://console.firebase.google.com/u/0/project/_/functions/logs. They should give you an indicator for what's going wrong. Feel free to also post them here if they aren't clear.

[2020-08-17 03:23] Samuelote commented on #45
Ahhh, thank you so much! I forgot to give read access on subscriptions to my restricted key. SO sorry about the trouble. Thanks for pointing me towards the logs!

[2020-08-17 03:23] #45 closed

[2020-08-17 03:26] thorsten-stripe commented on #45
No worries, at all glad it was nothing major :) And these will be useful for compiling an FAQ in a bit 👍

[2020-08-17 04:32] thorsten-stripe commented on #44
@smpetrey the metadata key needs to be `firebaseRole` not `firestoreRole`, that might have been the issue. Glad that it's working now :)

[2020-08-17 07:13] thorsten-stripe commented on #43
@phillduffy were you able to get things set up after our DM chat?

I'm going to leave this issue open to see if others have a need for this, but for now I'm going to assume that subscriptions will be created via the extension rather than the Stripe Dashboard.

[2020-08-17 08:54] #27 closed

[2020-08-17 08:54] #33 closed

[2020-08-17 08:56] thorsten-stripe commented on #27
This has been added to the next release on Thursday, 2020-08-20.

[2020-08-17 08:56] thorsten-stripe commented on #33
This has been added to the next release on Thursday, 2020-08-20.

[2020-08-17 09:32] #42 closed

[2020-08-17 09:34] thorsten-stripe commented on #42
This has been added to the next release on Thursday, 2020-08-20.

[2020-08-17 09:39] ynnoj commented on #42
@thorsten-stripe Nice, thanks!

[2020-08-18 00:18] Hadza commented on #43
Not exactly the same use case, I already have my webhooks written and I just want to try this integration to see if I can replace mine.

I use  a metered billing subscription, when someone signs up I create the stripe customer and subscribe him to my metered plan and proceed to record usage and after 1 month the invoice is created and I listen to webhook events to update the subscription acordingl

[2020-08-18 08:37] thorsten-stripe commented on #43
@Hadza as it stands today, the extension does not support subscriptions created outside of the extension, only subscriptions that were created via the extension.

We could make the extension work for subscriptions created outside, by additionally listening to the `customer.subscription.created`, however I've been holding off on that because I want to figure out if it is actually needed.

In your c

[2020-08-18 15:35] Hadza commented on #43
Yeah, thats what I thought, still you guys gave me the idea to sync products and prices using webhooks, which is pretty cool, thanks!

[2020-08-18 16:50] ToddKerpelman opened #47 "Sample security rules should make subscriptions read-only"
# Bug report

- Extension name: `firestore-stripe-subscriptions`

## Describe the bug

The sample security rules in the documentation has the `customers/{uid}/subscription/{id}` documents readable and writable by the client.

Unless there's something I'm overlooking, I don't think there's any reason for the client to be writing to their `/subscriptions/` document. We should make it read only, so t

[2020-08-18 18:33] smpetrey commented on #44
Thanks @thorsten-stripe! I think that may have been the issue 😅

[2020-08-18 18:52] moesalih opened #48 "Support for Inline price data"
# Feature request

- Extension name: `firestore-stripe-subscriptions`

## Is your feature request related to a problem? Please describe.

Stripe supports Checkout Sessions with inline/custom prices: https://stripe.com/docs/payments/checkout/set-up-a-subscription#creating-prices-inline

Can we get support for that in this extension?

## Describe the solution you'd like

## Describe alternatives you

[2020-08-18 19:09] moesalih commented on #48
Digging into the next release (2020-08-20) shows that support for multiple line items is there. Does that mean that I can simply pass a single line item with `price_data` instead of `price` to use inline/custom prices?

[2020-08-19 04:49] #47 closed

[2020-08-19 04:50] thorsten-stripe commented on #47
@ToddKerpelman thanks a million for catching this!

[2020-08-19 04:55] thorsten-stripe commented on #48
@moesalih Yes, this would work via passing `price_data` in `line_items`, however in most cases you should not send price data from the client side, as that information can be manipulated by the sender (e.g. customer opening dev tools and modifying your price data).

You should only use this approach from the client-side if the price is meant to be modifiable by the customer, e.g. they can decide h

[2020-08-19 04:55] #48 closed

[2020-08-23 02:46] leetworx opened #51 "Make create stripe customer action configurable for use with document creation other than auth user."
# Feature request

`firestore-stripe-subscriptions`

## Is your feature request related to a problem? Please describe.

Currently, this extension will create a stripe customer for every firebase auth user associated with an app. In my case, not every app user is expected to be a paying user - and specifically, I already have the notion of an explicit 'customers' collection, which is a sub-set of a

[2020-08-23 16:57] oshima819 opened #52 "One-time trial"
# Feature request

`firestore-stripe-subscriptions`

## Is your feature request related to a problem? Please describe.

Users who have used the trial once do not want to give the trial again.

1. I canceled a new subscription during the trial period.
1. If I purchase the subscription again after the trial period ends, the trial will start.
1. Therefore, if I set a trial period, you can repeatedly

[2020-08-25 05:36] thorsten-stripe commented on #52
Thanks, @oshima819, for outlining your use case.

Would setting `trial_from_plan:false` work for you:

[code]
This way you can check if they have a previous subscription, and if so you set `trial_from_plan:false`. Would that dynamic work for you?

[2020-08-25 05:49] thorsten-stripe commented on #51
Hey @leetworx, thanks for the kind words and for outlining your use case.

We specifically set `merge:true` for inserting the Stripe customer record (https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/functions/src/index.ts#L66) so that you can point it at an existing user collection without your existing customer data being overwritten.

We also do creat

[2020-08-25 11:49] leetworx commented on #51
Thanks very much for the response - from my perspective, the downside is really just that it doesn't align very well with the data model for my app, which I've tried to keep pretty clean. In my case, using firebase auth, I do explicitly have two 'classes' of records - 'users' (basically everyone who has signed in and actively engaged with the app) and 'customers' (those who are explicitly subscrib

[2020-08-27 11:20] thorsten-stripe commented on #52
Great, I'm planning to add this to the next release early next week.

[2020-08-27 11:30] thorsten-stripe commented on #51
Yes, that might work. The checkout session creation is triggered when a new doc is added to the `checkout_sessions` sub-collection for a specific user: https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/POSTINSTALL.md#start-a-subscription-with-stripe-checkout

[code]

If we can't find a customer ID in the user doc in the specified customer collection path

[2020-08-28 01:35] leetworx commented on #51
Thanks very much for the suggestion (and apparently I missed the POSTINSTALL docs ;) - very helpful!)
I'm going to give this a try - the wrinkle I noticed however...
If I delete the 'user.create' function, I lose the ability to reconfigure the extension (appears to fail some form of validation).
For example - deleting the function before I update the signing secret (like I just did) appears to be

[2020-08-28 20:02] leetworx commented on #51
One additional question Thor -

seeing that the 'customer collection' appears to have the form:

/customer_collection/auth_uid/checkout_sessions...
(where auth_uid == the user ID derived directly from the generate firebase auth ID)

Is there any issue with having the auto-generated doc IDs for the customer_collection NOT correspond directly to a user auth_id? (i.e. when creating a portal link etc,

[2020-08-29 23:03] benjaminrosenberg opened #53 "Webhook is failing on checkout.session.completed and customer.subscription.updates"
# Bug report

- firestore-stripe-subscriptions

## Describe the bug

The webhook is failing on `checkout.session.completed` and `customer.subscription.updates`.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Setup the stripe firebase extension: `extensions/instances/firestore-stripe-subscriptions?tab=config`
2. Create the account and initiate t

[2020-08-29 23:23] benjaminrosenberg commented on #53
Just as an update, I solved this issue. In the extension configuration you can expand the details on the Stripe API Key with restricted access to see:
[code]

The "Subscriptions" resource was not set to read. Toggling that fixed this.

[2020-08-29 23:23] #53 closed

[2020-08-30 15:33] oshima819 commented on #52
Thanks

[2020-08-30 20:13] leetworx opened #54 "[FAQ] Write your own Cloud Functions for Firebase"
For anyone trying to use the source and customize these functions, FYI I found that there appears to be an issue which causes deployment to fail using the latest firebase CLI/tools.

Issue manifests as error during firebase deploy --only functions

[code]

The root cause appears to be that the trigger for the function is missing (details available by running above with --debug)

The resolution for

[2020-08-30 23:06] preconception opened #55 "403 Webhook Error on multiple events"
# Bug report

- Extension name: [e.g. `firestore-stripe-subscriptions`]

## Describe the bug

Getting 403 Error from Stripe Dashboard for the following events:

price.created
product.created

## Expected behavior

Would write products and prices to firestore

This message is what the webhook is getting back in response from firestore.

Status code is 403

[code]

[2020-08-30 23:07] preconception commented on #55
I am not sure how firestore/stripe would authenticate and I do not remember seeing any instructions on this?

is it supposed to be automatic?

[2020-08-31 08:14] thorsten-stripe commented on #55
Hi @preconception, these functions should be automatically configures as public unauthenticated access. Can you check the cloud functions for your project: https://console.cloud.google.com/functions/list

It should look like this stating `Allow unauthenticated` for the webhook handler function.
![image](https://user-images.githubusercontent.com/23213994/91698164-d6da0e00-eba4-11ea-8c4b-fd0dd592693

[2020-08-31 08:19] thorsten-stripe commented on #54
Hey @leetworx, yes, the function syntax is different for normal Firebase Cloud Functions: https://firebase.google.com/docs/functions/http-events

[2020-08-31 08:31] thorsten-stripe commented on #51
Ah that's a bummer, then the approach with deleting the function won't work.

Before creating a checkout session or a portal link we will need to make sure that they are authenticated and therefore are allowed to access the customer portal. That's why the doc ID needs to be the UID of the user. It's also used in the Cloud Firestore security rules to make sure each customer can only read their own

[2020-08-31 14:07] untouch commented on #55
Same Issue here

`<html><head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<title>403 Forbidden</title>
</head>
<body text=#000000 bgcolor=#ffffff>
<h1>Error: Forbidden</h1>
<h2>Your client does not have permission to get URL <code>/ext-firestore-stripe-subscriptions-handleWebhookEvents</code> from this server.</h2>
<h2></h2>
</body></html>`

[2020-08-31 17:56] accessdeniedIT commented on #55
1. Go to the cloud function list
2. Select the two above demonstrated by thorsten-stripe
3. Click "Add members" under Permissions tab in the right side
4. Enter "allUsers" under "New members"
5. Select Role as "Cloud Functions --> Cloud Functions Invoker"
6. Save

[2020-08-31 20:18] preconception commented on #55
That worked! @accessdeniedIT

Is this something I did wrong on my end that I could have avoided or a misconfiguration somewhere else?

[2020-08-31 20:19] accessdeniedIT commented on #55
no it's google, or stripe im their update.

[2020-08-31 20:20] preconception commented on #55
I got it.

All I have to say is **wow** - thank you so much!

[2020-08-31 23:13] joehan commented on #55
If anyone else is running into this - these functions should be made public by default, but the Extensions team broke that with a bad config rollout recently. It is fixed now, but instances installed between August 27 and August 31 may be affected.

If you are affected by this, you can fix it by reconfiguring the instance or by following the steps to manually make them public that @accessdeniedIT

[2020-09-01 07:28] thorsten-stripe commented on #55
Thanks all. I've checked with the Firebase team and they have confirmed that this was a bug that has now been resolved. Going to leave this issue open for a couple more days in case others encounter it.

[2020-09-01 09:40] #52 closed

[2020-09-01 09:47] thorsten-stripe commented on #52
This has been added to the next release which should go live either Wednesday or Thursday PT time.

[2020-09-02 12:46] leetworx commented on #54
Ah, so this is a distinction between cloud functions and firebase extensions? Thanks very much for the clarification - got it working!

[2020-09-02 12:55] leetworx commented on #51
Thanks very much for the additional details - greatly appreciated! With this I was able to successfully integrate the logic for the subscription extension into my workflow (relying on lazy customer collection update upon checkout session creation and associating the stripe ID with my customer ID, while ensuring that the 'admin' user is authenticated prior to accessing the portal). The webhooks are

[2020-09-03 06:03] thorsten-stripe commented on #51
Brilliant, glad you got it working :)

[2020-09-03 06:03] #51 closed

[2020-09-03 14:10] chetbox commented on #39
Hi! Thanks for this extension. We're evaluating it for software license purchasing and we think this could save us a lot of work. Our use case is purchasing a software license _and some hardware_ at a fixed cost. Together they make up our product and, in fact, the software is not much use without the hardware.

This extension allows customers to sign up for a subscription and buy our hardware prod

[2020-09-04 14:45] GClock opened #57 "Client can't know if there was a problem in attaching a session id"
# Bug report

- Extension name: [e.g. `firestore-stripe-subscriptions`]

## Describe the bug

when there is a problem in createCheckoutSession (which can happen because of many reasons --network failure or validation error from stripe), there is no way to know from the client why sessionid wasn't created.
In case of a valid error may be you should create something like "error" so that client can m

[2020-09-05 03:04] enricochionna commented on #43
Hello! I'm in a situation similar to Hadza's, but I need to create subscriptions with multiple products: a fixed recurring charge and a usage charge, both with the same billing interval. Since Checkout doesn't support metered billing, I have two options: (a) I use the Checkout, hence the extension, to create the subscription with only the fixed recurring charge, then implement my own function to l

[2020-09-06 03:39] crouinicrouina opened #58 "Seat-based subscription plan"
# Feature request

- Extension name: `firestore-stripe-subscriptions`

## Is your feature request related to a problem? Please describe.

We're a software company. We have monthly subscription plans at a fixed rate for our customers. We have already built a fixed price subscription system on Firebase with PayPal ourselves.

However, we would like to do more B2B and we'd like to allow companies' ad

[2020-09-08 10:00] thorsten-stripe commented on #43
@enricochionna thank for outlining your use case.

Option (a) you outlined works fine and is pretty elegant in my opinion. I just tested this on my end (create subscription via checkout for monthly recurring, and then update the subscription to add the metered plan), and the update is correctly reflected in Cloud Firestore, so no concerns on that front.

One thing to consider is that the billing p

[2020-09-08 10:29] Kevin-Andries opened #59 "[FAQ] CORS error when calling function"
I'm running through a very annoying issue when calling createPortalLink function.

I always get the following error : "Access to fetch at 'https://*name-of-my-project*.cloudfunctions.net/createPortalLink' from origin 'https://*my-app*.firebaseapp.com' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: Redirect is not allowed for a preflight request"

[2020-09-08 10:49] #57 closed

[2020-09-08 10:50] thorsten-stripe commented on #57
Thanks so much for flagging this! It has been fixed and will roll out with the next release of version 0.1.6 on Thursday.

[2020-09-08 10:57] thorsten-stripe commented on #59
@Hadrons27 from what I've seen this is most often related to a wrong location setting for the function call. E.g. if your function is running on `us-east1` you need to explicitly set that:

[code]

You can find the location for your function in the region column here: https://console.firebase.google.com/u/0/project/_/functions/list

[2020-09-08 10:58] #55 closed

[2020-09-08 11:06] thorsten-stripe commented on #39
@chetbox thanks for outlining your use case!

Having a zero cost pricing plan is legitimate and allows you to track a complete picture of subscribed users via the billing stats. One downside to it is that users will need to provide their payment details in Stripe Checkout, even for a zero cost pricing plan. If you don't want this, you could create a separate function to automatically subscribe the

[2020-09-08 11:37] thorsten-stripe commented on #58
@crouinicrouina thanks for outlining your use case!

Stripe checkout supports the setting of quantities, however the customer billing portal does not yet. Let me check on the status of that with the team.

Regarding managing the claims for each user/seat, I think that's outside of the scope for the extension. But you can use the customer doc to track the availability of seats as the extension alwa

[2020-09-08 11:38] chetbox commented on #39
Thanks @thorsten-stripe. We'll do some more experiments and try to work out how we can make the best experience for our users. We were hoping those on the free subscription wouldn't need to jump through any hoops to get up and running.

[2020-09-08 11:54] Hadrons27 commented on #59
Hi, thank you for your answer, but I am already calling the function with the right region, which is europe west 3.

[2020-09-08 11:56] thorsten-stripe commented on #59
@Hadrons27 do you have a link to your code or can copy and paste it here?

[2020-09-08 11:58] Hadrons27 commented on #59
My code is really simple, I'm using flutter we. The code where I call my function is here :

`final HttpsCallable callable = CloudFunctions(region: 'europe-west3').getHttpsCallable(functionName: 'createPortalLink');
            var result = await callable.call(<String, dynamic> {
              'returnUrl': "https://www.somewebsite.com"
            });`

[2020-09-08 12:04] thorsten-stripe commented on #59
Thanks. You will need to pass the full function name, including the extension name prefix. If you've installed the extension with default settings the function name will be `ext-firestore-stripe-subscriptions-createPortalLink`, otherwise you can check the function name in your project's function list when hovering over the function name: https://console.firebase.google.com/u/0/project/_/functions/

[2020-09-08 12:05] Hadrons27 commented on #59
Oh, thank you so much, I feel a bit stupid now. It is working great !

Have a nice day

[2020-09-08 12:24] thorsten-stripe commented on #59
Don't, I ran into exactly this (and the location issue) myself in the beginning and had to ask the Google team!

I'm going to leave this issue open in case anyone else runs into this, and also to keep that that we should add this to an FAQ in the future.

[2020-09-15 13:32] aptash opened #63 "createPortalLink() failed for return_url like 'chrome-extension://wtrfdnfleobejgjajmgkfahnafphfooa'"
# Bug report

- Extension name: firestore-stripe-subscriptions

## Describe the bug

createPortalLink() failed when used with return_url like this: 'chrome-extension://wtrfdnfleobejgjajmgkfahnafphfooa'.

I try to integrate the checkout process into the Chome extension and I get:
[code]

## To Reproduce
Short: call the code below from the Chrome extension:
[code]

Long: use the sample:
https://gith

[2020-09-15 13:39] aptash commented on #63
This line of the code doesn't allow using URLs like this: ''chrome-extension://...'
[code]

[2020-09-15 17:48] thorsten-stripe commented on #63
It's not an issue with the extension but rather Stripe doesn't recognize this as a valid URL.

@aptash would you mind outlining your use case a bit? Do you also create the subscription from within the extension? If so you might see the same error for the checkout session creation. Once I have some more details I can check with the team on this. If you don't want to share these details publicly fee

[2020-09-16 11:52] aptash commented on #63
Thanks a lot for the quick response!

You are right - Stripe doesn't recognize chrome-extension:// as a valid URL.

My use case: I need to make a payment process for a premium version of the Chrome extension without the creation of a hosted payment page but right inside of the extension.

Let presume you have "Adblock Plus - free ad blocker" extension installed.
Then you can open this page in your

[2020-09-18 04:56] crosskpixel opened #64 "Checkout without internationalization option"
# Feature request

- enable you to inform the location and internal checkout of the stripe to work with this

## Is your feature request related to a problem? Please describe.

- Is your feature request related to a problem? Please describe.

## Describe the solution you'd like

- When inserting the session creation document, enable the creation of the checkout session with internationalization

#

[2020-09-18 09:47] thorsten-stripe commented on #64
Both Stripe checkout and the customer portal are automatically localized based on the customer's browser locale: https://stripe.com/docs/payments/checkout/customization#localization

[2020-09-18 09:47] #64 closed

[2020-09-18 09:52] thorsten-stripe commented on #63
Thanks for outlining your use case @aptash! I'm discussing with the team to see if we can enable this, but not yet sure where this falls in terms of prioritization.

In the meantime a potential workaround might be to host a "proxy redirect page" (e.g. with Firebase hosting), provide the URL for that to checkout and the billing portal and have that page redirect back into your extension.

[2020-09-18 11:08] GClock opened #66 "How do I disable a function that I do not want to use from the extension"
# Bug report

- Extension name: [e.g. `firestore-stripe-subscriptions`]

## Describe the bug

I have two different set of users and I do not need to create customers always .I have looked at extension and wrote a conditional customer creation function that is working as expected .I have commented out the code  inside function create customer. The question I have is when I upgrade the extension it

[2020-09-18 17:25] HerbertBodner opened #67 "Custom title in the line item of the invoice"
# Feature request

## feature request

My web app has users and teams,. Users can be part of multiple teams.
Then I offer a "Premium Plan" subscription for my users, but the subscription applies to a whole team. When a user buys a subscription for a team, then the whole team gets access to the premium features.
So one user can buy 2 subscriptions for 2 separate teams. Then they don´t know which in

[2020-09-21 09:27] thorsten-stripe commented on #66
Unfortunately deleting the `createCustomer` function via the Firebase console will cause future updates to error (see https://github.com/stripe/stripe-firebase-extensions/issues/51#issuecomment-682275324).

@jhuleatt are there any plans to allow on/off toggles per function during the installation of the extension? If not we'd have to build that in via some configuration dropdown for example?

[2020-09-21 20:58] brendanm-stripe commented on #67
Hi Herbert, thanks for submitting this. The subscription line item descriptions map to the name of the Product used by the Price/Plan. While we don't have a way of supporting today exactly what you describe, I can offer two options as workarounds:

1. Using the Subscription `metadata` you already have, you can [listen to `invoice.created` events with webhooks](https://stripe.com/docs/billing/subsc

[2020-09-22 06:34] HerbertBodner commented on #67
Great, both are viable solutions. Thanks @brendanm-stripe

[2020-09-22 12:39] brendanm-stripe commented on #67
Excellent! My pleasure, glad it gets you what you need :)

[2020-09-22 15:03] JakeMalis commented on #66
Related to this question: I would love if there weren't two separate collections for customers and users. I have each Firebase auth user saved as Firestore doc with their uid as their name. I think most people also have it that way, it would be nice if all the stripe data was stored within their user doc.

[2020-09-22 15:33] JakeMalis opened #68 "createCheckoutSession function very slow"
# Bug report

- `firestore-stripe-subscriptions`

## Describe the bug

When clicking on the button in my app that should take the user to the Stripe checkout page, it takes anywhere from 500-5000 ms to redirect the user. Most of the time it takes for the user to be redirected is from the time it takes the createCheckoutSession to run. As well, the function can have up to 6 seconds of latency accor

[2020-09-23 07:18] GClock commented on #66
Thank you @thorsten-stripe for your reply .It would be nice to have the ability to have on/off toggle functions during extension deployment/upgrade in future.

One more question I have on the integration. Stripe checkout does not support billing_cycle_anchor .I would have liked to have this so that I can consistently follow a single cycle for every customer.Without this we have to have complicated

[2020-09-24 09:46] #67 closed

[2020-09-25 02:53] thorsten-stripe commented on #68
@jhuleatt @rosariopfernandes any idea how to speed this up? Is there any way to keep functions warm?

Or would making it a callable function instead of a `doc.created` trigger faster potentially?

[2020-09-25 03:22] donemmx opened #69 "stripe.redirectToCheckout does not exist on type stripe"
please how do i fix this issue.
import { AngularFirestore } from '@angular/fire/firestore';
import { ServicesClass } from './../services/service';
import { Component, OnInit } from '@angular/core';
import Stripe from 'stripe';

@Component({
  selector: 'app-plans',
  templateUrl: './plans.component.html',
  styleUrls: ['./plans.component.css'],
})
export class PlansComponent implements OnInit {

[2020-09-25 03:23] donemmx commented on #69
Previous code throwing errors is this

import { AngularFirestore } from '@angular/fire/firestore';
import { ServicesClass } from './../services/service';
import { Component, OnInit } from '@angular/core';
import Stripe from 'stripe';

@Component({
  selector: 'app-plans',
  templateUrl: './plans.component.html',
  styleUrls: ['./plans.component.css'],
})
export class PlansComponent implements OnIn

[2020-09-25 03:28] JakeMalis commented on #68
Would there be an easier way to get the URL to the checkout session without using the Firebase function? Functions are great for things that aren't instant in my experience, but hyperlinks should be instantaneous.

[2020-09-25 04:15] thorsten-stripe commented on #69
@donemmx it looks like you're importing the stripe node library rather than Stripe.js. You will want to do this instead: https://github.com/stripe/stripe-js#installation

[code]

[2020-09-25 04:15] #69 closed

[2020-09-25 04:38] thorsten-stripe commented on #68
@JakeMalis there is not, the Checkout sessions needs to be created in a server-side environment.

[2020-09-25 04:49] donemmx commented on #69
please how where do i add const stripe = await loadStripe('pk_test_TYooMQauvdEDq54NiTphI7jx'); this line that won't make it throw errors.
i am quite new to this.

[2020-09-25 04:51] donemmx commented on #69
import { AngularFirestore } from '@angular/fire/firestore';
import { ServicesClass } from './../services/service';
import { Component, OnInit } from '@angular/core';
import {loadStripe} from '@stripe/stripe-js';

@Component({
  selector: 'app-plans',
  templateUrl: './plans.component.html',
  styleUrls: ['./plans.component.css'],
})
export class PlansComponent implements OnInit {
  plans;
  constr

[2020-09-25 05:13] thorsten-stripe commented on #69
You need to make the `onSnapshot` callback function async so that you can call `await` within it:

[code]

[2020-09-25 05:16] donemmx commented on #69
thank you so much it works. no more errors...hurray... awesome

[2020-09-25 05:25] thorsten-stripe commented on #69
Glad to hear that 🎉

[2020-09-25 11:34] rosariopfernandes commented on #68
@thorsten-stripe I don't think there's a way to keep functions warm at the moment.

@JakeMalis Can you provide more information to help us debug:
1. Which location did you choose for Cloud Functions when you setup the extension?
1. Which location are you using for the Cloud Firestore data?

It's common to face higher latency when these 2 don't match, as explained [here](https://firebase.google.com

[2020-09-25 12:14] JakeMalis commented on #68
My Functions and Firestore are hosted at US-east1.

[2020-09-25 18:44] jhuleatt commented on #68
It looks like you're testing with a very low number of invocations/second. At this low load, a number of these responses are probably "cold starts", since Cloud Functions scales down to zero when it doesn't experience any load. As you get more traffic, Cloud Functions will keep function instances "warm" and they should be *much* faster.

@thorsten-stripe there are ways to optimize to reduce cold s

[2020-09-25 19:36] JakeMalis commented on #68
Ok, so when I release the Stripe functionality to my app (expecting 35,000 users), it should run significantly faster?

[2020-09-25 21:42] jhuleatt commented on #68
Essentially, yes. For a deep dive on the "why", check out [this video](https://www.youtube.com/watch?v=v3eG9xpzNXM). It was created to teach Cloud Functions for Firebase developers how to reduce cold start times, but in doing so it does a good job explaining why they happen.

Number of cold starts also depends on the shape of the traffic your functions get - if your traffic is smooth (say, a consi

[2020-09-26 05:54] JakeMalis commented on #68
Sounds good to me! I'll release the Stripe functionality to the beta and try to see if I can confirm the delay is due to cold starts. Thanks!

[2020-09-26 05:54] #68 closed

[2020-10-01 12:45] kkragoth commented on #43
My use case:

I need to have admin accounts on my live site with live payments that has subscription and obviously I don't want want him to pay using real credit card.

I created 100% off coupon but there's no way to have option for admin to enter this code in Stripe's checkout. (I'm using: ```stripe.redirectToCheckout({ sessionId });```)

The way I go about this is that I set up subscription with

[2020-10-02 16:02] rakeshgoyal commented on #58
I have an angular firebase app. I am adding a premium version where Enterprises can subscribe on a per seat basis. Is there a workaround to achieve this given the extension doesn't support it. Is there a way to do this using vanilla stripe implementation using firebase and angular?

[2020-10-05 19:13] Nyceane opened #70 "Can not sync up user id with stripe user id."
# Feature request

- Extension name: [e.g. `firestore-stripe-subscriptions`, or leave empty if suggesting a new extension]

## Is your feature request related to a problem? Please describe.

Can not sync up user id with stripe user id.  What if I want the user Id to be the same as stripe userid?  and also I can't add names to the thing as well.

## Describe the solution you'd like

Using same fire

[2020-10-06 02:30] Nyceane commented on #70
I ended up rewriting the code into my own functions...

[2020-10-06 10:50] thorsten-stripe commented on #70
I'm afraid I'm not sure what you're asking. Your last comment indicates that you have found a solution so I'm going to close this out. If that's not correct, please elaborate your issue and reopen it.

[2020-10-06 10:50] #70 closed

[2020-10-07 18:36] donemmx opened #71 "checkout sessions collection are not created when user signs up."
I manually create checkout session in firestore and i use Angular. Please help

[2020-10-08 00:56] #71 closed

[2020-10-08 00:57] donemmx opened #72 "ERROR Error: Uncaught (in promise): FirebaseError: Firebase: No Firebase App '[DEFAULT]' has been created - call Firebase App.initializeApp() (app/no-app)."
This is the error i get when i try to click on customer portal function i created in Angular
Below is the code.

 async createPortalLink() {
    const functionRef =  firebase
      .app()
      .functions('us-east4')
      .httpsCallable('ext-firestore-stripe-subscriptions-createPortalLink');
    const { data } = await functionRef({ returnUrl: window.location.origin });
    window.location.assign(

[2020-10-08 05:04] thorsten-stripe commented on #72
This looks like a problem with the your firebase app configuration and is unrelated to the extension: https://stackoverflow.com/questions/40563140/error-no-firebase-app-default-has-been-created-call-firebase-app-initiali

[2020-10-08 05:04] #72 closed

[2020-10-08 06:20] donemmx opened #73 "subscription Collection not created."
after successfully paying in stripe it redirects me to my app and i can't access customer portal.

[2020-10-08 06:32] thorsten-stripe commented on #73
Please only open issues here that are feature requests or actual bugs with the extension. For help with your integration you can chat with our support eng team on IRC: https://webchat.freenode.net/#stripe or email: https://support.stripe.com/

[2020-10-08 06:32] #73 closed

[2020-10-08 06:38] thorsten-stripe commented on #73
Also make sure you follow the documentation in the Firebase console:
![image](https://user-images.githubusercontent.com/23213994/95423512-cb33f100-0973-11eb-8aa5-77ae352aaddc.png)

You can also find the docs here:
1. https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/POSTINSTALL.md#configure-the-stripe-customer-portal
1. https://github.com/stripe/stripe-f

[2020-10-08 06:48] donemmx commented on #73
thanks for the response. i have everything setup and working just that error that's the problem. But thanks for the help.

[2020-10-08 14:49] ajbarry commented on #51
@thorsten-stripe first of all let me echo @leetworx thanks for creating this extension ... this is by far the easiest "real" stripe integration I have worked on.

I came here looking for a way to backfill stripe customer ids on my existing users but I understand from your comments this may not be necessary if one is lazily created along with a checkout session. Nice. This detail would make a great

[2020-10-08 15:00] ajbarry commented on #66
@JakeMalis I wasn't aware either but it sounds like a single user/customer collection is supported: https://github.com/stripe/stripe-firebase-extensions/issues/51#issuecomment-679767272

I'm going to test this out myself and will post back if I find anything adverse.

[2020-10-09 08:35] thorsten-stripe commented on #51
Thanks for the kind words @ajbarry!

That's a good point, IIRC the main motivation was to make the extension easy to use for folks who aren't experienced with Firebase, and therefore create the customer doc for them when a new user signs up, but it sounds like most people already do this themselves in their integrations, so that's a good point.

I will look into making user <> customer sync option

[2020-10-10 02:35] scott-mccartney opened #74 "Typescript Extension Documentation"
# Feature request

- Extension name: `firestore-stripe-subscriptions`

## Is your feature request related to a problem? Please describe.

The documentation does not cover the Typescript implementation.

## Describe the solution you'd like

The Javascript documentation includes the following:
[code]
The documentation does not include how to include install the `Stripe` TS definition. A snippet in t

[2020-10-10 14:35] CaptainYouz opened #75 "Remove 'stripeRole' when deleting a user subscription"
# Feature request

`firestore-stripe-subscriptions`

## Is your feature request related to a problem? Please describe.

When deleting a user subscription in the `customers` collection (to cancel it) (directly from Firebase admin panel), it does not change the custom claim role `stripeRole` on the user token.

Edit: when deleting the subscriptions from Stripe dashboard, it also remove the `stripeRo

[2020-10-10 19:46] JakeMalis commented on #66
@ajbarry Thank you so much for sending me this, that helps a lot!

[2020-10-12 08:13] thorsten-stripe commented on #75
The source of truth for Subscriptions is your Stripe account. In order to cancel a Subscription, you need to either cancel it via the Stripe Dashboard, API, or the customer portal. Deleting a subscription doc in Firestore won't have any effect on the Subscription in Stripe and is therefore not advisable.

Feel free to expand on your use case and reopen the issue if you feel it's something others m

[2020-10-12 08:13] #75 closed

[2020-10-13 04:28] jaytavares commented on #43
I also have a need for the ability to recognize subscriptions made outside the extension.

My use case: we have an extensive sales cycle that includes custom quoted invoices being sent to new clients. The subscriptions are created from within the Stripe dashboard and emailed to the client. When they pay their invoice, since the payment wasn't initiated through Checkout, no `checkout.session.comple

[2020-10-13 04:31] thorsten-stripe commented on #43
@kkragoth and @jaytavares thank you for adding your use cases. I'm planning to address this with the next release v. 0.1.7

[2020-10-13 04:32] Arystosedes opened #76 "The checkout form has the wrong email when user changes his email before"
# Bug report

- Extension name: [e.g. `firestore-stripe-subscriptions`]

## Describe the bug

Wrong/bad user email when he changes his email address before subscribing to some plan. The checkout form has the wrong email then.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Sign up a new user in service which uses Firebase
2. New customer (stripe

[2020-10-13 04:46] thorsten-stripe commented on #76
The customer is able to update their email in the Checkout form.

Also, I'm currently working on a solution for #66 which will change the default behaviour to creating the customer on the fly when the checkout session is being created, instead of when they sign up. This will also resolve this issue.

[2020-10-13 04:46] #76 closed

[2020-10-13 05:42] #66 closed

[2020-10-13 05:42] #74 closed

[2020-10-13 05:46] thorsten-stripe commented on #66
While this doesn't allow enabling/disabling of functions per se (that would be a feature request to the Firebase Extensions team), #77 allows the disabling of syncing customers on creation, which should solve most of the issues reported here. This will roll out with the next release v. 0.1.7, hopefully on Thursday PT.

[2020-10-13 07:00] #43 closed

[2020-10-13 19:00] ToddKerpelman opened #79 "Should we move the prices subcollection into the original product document?"
# Feature request

- Extension name: `firestore-stripe-subscriptions`

Hi, Stripe Engineers! So I noticed that when we create a new subscription product with a set of pricing options in Stripe, those pricing options get added to a "prices" subcollection for the individual product. While that seems logical, it means that when you want to get a list of products and their prices, you have to query bo

[2020-10-13 19:35] ajbarry commented on #66
Noice. Thanks @thorsten-stripe! Looking forward to the release... We will need it for sure...

@JakeMalis I just ran into the first issue that this fix will solve for us (if you are also combining the user/customer collection).
Since the `createCustomer` is triggered from a Firebase Auth hook, I just hit a race condition where my own `createUser` function fails because `createCustomer` triggered b

[2020-10-14 07:23] thorsten-stripe commented on #79
Thanks, @ToddKerpelman, my thinking was that having the prices in a subcollection would make it easier to keep them in sync and allow filtering and sorting along the lines of:

[code]

which I thought was quite neat to be able to push that to the DB rather than doing it on the client.

Also, this way we can store a reference to the price doc on the customers subscription (see https://github.com/st

[2020-10-15 19:06] ToddKerpelman commented on #79
Yeah, that's a good point. I think this one of those situations where the right thing to do depends a lot on what a typical user's setup is going to be like. If you think developers are more often going to have multiple products and not want to do a lot of server-side filtering, then I would go for the "embedded in the document" approach. On the other hand, if you think developers are going to hav

[2020-10-20 17:21] ajbarry commented on #66
Hey @thorsten-stripe ... any word on the 0.1.7 release for this fix?

[2020-10-20 17:30] thorwebdev commented on #66
@ajbarry sorry for the delay, the Firebase team has moved to a biweekly (every other week) release schedule. I checked with @jhuleat and he let me know that it's scheduled for release on Thursday Oct 22nd PT time.

[2020-10-20 18:57] ajbarry commented on #66
Ok great. Thanks for the update @thorsten-stripe

[2020-10-20 19:19] mogwely opened #80 "Checkout session created twice results in customers paying but not recognised. Please support ASAP."
# Bug report

- Extension name: `firestore-stripe-subscriptions`

## Describe the bug

Upon checkout, constantly 2 checkout_sessions get created.
This ends up sometimes (not everytime) with 2 customers on stripe with the same email address. Customer A would have the active subscription, while customer B has no subscriptions. i.e. Subscription would be connected to only one of those 2 stripe custom

[2020-10-20 20:28] mogwely commented on #80
Turned out to be an issue on our side. Sorry for disturbing.

[2020-10-20 20:28] #80 closed

[2020-10-21 02:26] benjaminrosenberg commented on #59
Hi @thorsten-stripe

I'm getting this error when running the posted code snippet:

[code]

snippet:
[code]

The error is thrown when running the line `const { data } = await functionRef({ returnUrl: window.location.origin });`

[2020-10-21 08:41] mshenawy22 commented on #54
@thorsten-stripe  @leetworx I want to customize the create user functions so it also stores the phone number and email of the user inside the Customer document.
Shall I configure the index.js in the src folder or the index.js in the lib folder. and what is the difference between the two.

Thanks very much

[2020-10-22 05:32] thorsten-stripe commented on #54
@mshenawy22 you cannot modify the extension, but you can deploy your own additional Cloud Functions to run alongside the extension. With version 0.1.7 (to be released this week), you can disable the automatic syncing (see https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/CHANGELOG.md#version-017---2020-10-15) and instead you write your own function to ma

[2020-10-22 05:39] thorsten-stripe commented on #59
@benjaminrosenberg can you post a screenshot of the error and the context? As in where do you see it? Is it in the chrome dev console? Which browser are you using etc.

[2020-10-22 05:45] thorsten-stripe commented on #80
@mogwely no worries, glad you got it resolved. If you think this is something others might run into as well, feel free to post the resolution here 👍

[2020-10-22 06:00] thorsten-stripe commented on #79
Yes, that's probably true, thanks :)

From my experience, most SaaS offerings have less than five tiers (products) and rather want to be able to filter & sort prices, so I think the current sub-collection setup serves them well 👍

I'm going to leave this issue open so users can vote / jump in with their preference.

[2020-10-22 06:31] mshenawy22 commented on #54
@thorsten-stripe  :
Why I can't modify the extension , if I downloaded your extension source code then added a function in the index.js that makes use of local functions and variables in the file  ,then deployed that new function only , why won't this work?

Disabling the automatic syncing won't help in my cases and I'm sure in many other cases .
for ex : There are two type of users, paying custom

[2020-10-22 15:00] benjaminrosenberg commented on #59
@thorsten-stripe , sure. There's not much more info in the screenshot. I am catching the error:
![image](https://user-images.githubusercontent.com/41136344/96875034-c592dc80-1444-11eb-9859-b3979098f2bd.png)

Here's a screenshot of the code:
![image](https://user-images.githubusercontent.com/41136344/96875471-3d610700-1445-11eb-9c3f-b3fb2613968b.png)

I don't see anything that would suggest there i

[2020-10-23 08:42] Ess-Bidali commented on #26
Hi, I have the same issue where, my invoices do not contain all the details I need to display to my clients.

I am looking for the following:
1. Name
2. Address
3. Phone number
4. Custom fields

It's possible for me to put this information manually when I generate the link as per the following screenshot:
https://ibb.co/dLdf2Qv

Is there some way that I can update the invoice object so that this i

[2020-10-25 23:09] benjaminrosenberg commented on #59
@thorsten-stripe, looks like this was a firebase error! I was using version 7.22.0 and in the release notes of 7.22.1 they mentioned a fix for callable functions. Simply upgrading allowed this function to work perfectly. Thanks!

https://firebase.google.com/support/release-notes/js#cloud-functions-for-firebase-client-sdk

[2020-10-26 00:53] mikeoaklet opened #82 "Customer object is not created when users are imported"
# Bug report

`firestore-stripe-subscriptions

## Describe the bug

## To Reproduce

I used Firebase CLI command `firebase auth:import users.json`.

## Expected behavior

Customer objects to be created in Firestore.

## System information

- OS: Windows
- Browser Chrome

Also I would like to ask, if there is some chance to write script to create these customer objects using Admin SDK. So I don't n

[2020-10-28 03:46] RezaRahmati opened #83 "Only Standard Pricing model is updating in Firebase"
# Bug report

- Extension name: Run Subscription Payments with Stripe

## Describe the bug

There are 4 pricing model in stripe, but only Standard is synching

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1- create a product in stripe
2- create standard pricing
3- verify pricing data is synched to firestore
4- edit product>price and change pricin

[2020-10-28 07:20] thorsten-stripe commented on #82
They default behavior has been changed to create customer objects on the fly when you create the first checkout_session for a given user, see https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/CHANGELOG.md#version-017---2020-10-15

[2020-10-28 07:20] #82 closed

[2020-10-28 07:22] thorsten-stripe commented on #83
https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/POSTINSTALL.md#create-product-and-pricing-information

[2020-10-28 07:22] #83 closed

[2020-10-28 13:41] RezaRahmati opened #84 "Support other pricing models"
# Feature request

- Extension name: `firestore-stripe-subscriptions`

## Is your feature request related to a problem? Please describe.

There are 4 types of pricing model, but seems only standard is supported.

## Describe the solution you'd like

Being able to use any of that pricing model and data be synched to firebase

## Describe alternatives you've considered

A clear and concise descripti

[2020-10-29 00:20] RezaRahmati opened #85 "Provide the product link in the subscription"
# Feature request

- Extension name:  `firestore-stripe-subscriptions`

## Is your feature request related to a problem? Please describe.

After subscribing a new collection is created under customers, and include some information as well as document reference to price, the problem is the product information is missed

## Describe the solution you'd like

Adding a new property under subscription c

[2020-10-29 01:27] RezaRahmati opened #86 "Handling Tax rates webhook"
# Feature request

- Extension name: `firestore-stripe-subscriptions`

## Is your feature request related to a problem? Please describe.

To apply tax rates we need to pass taxId, but right now taxIds are not synched with firestore like other data

## Describe the solution you'd like

Adding a collection for `taxes` and synch data via webhook

## Describe alternatives you've considered

A clear an

[2020-10-29 04:39] thorsten-stripe commented on #84
@RezaRahmati as mentioned before, please provide details about your use case so we can evaluate prioritization of this. A generic feature request like this is not helpful. I'm going to leave this open, so others can submit their use cases here, but please do provide details!

[2020-10-29 05:10] thorsten-stripe commented on #85
You can navigate back to the product doc from the price reference using the `parent` param with the Firebase SDK, e.g.

[code]

[2020-10-29 05:16] thorsten-stripe commented on #85
You do have a point though, it might be valuable to have the product data directly within the subscription doc.

[2020-10-30 01:26] RezaRahmati commented on #84
@thorsten-stripe Sure, My use case is we are going to have monthly subscription for 10K api call (let's say 500$), and if user exceeds that 10K we want to charge more per packages of 10K (for 250$). Not sure what kind of pricing I have defined, I tried to figure it out but then I saw this extension doesn't support, so some kind of blocked.

[2020-10-30 13:50] cloudprism opened #88 "[FAQ] Seat-based pricing (setting & updating quantities)"
# Feature request

- Extension name: firestore-stripe-subscriptions

## Is your feature request related to a problem? Please describe.

I want my customers to be able to reconfigure existing subscriptions based on the number of seats required by their projects.

## Describe the solution you'd like

I want to define a single subscription model with a set of defined prices per seat count. I do not w

[2020-11-02 07:19] thorsten-stripe commented on #54
@mshenawy22 sorry, this slipped through the cracks.

Developing extensions is currently still in closed alpha. While the source code for the extensions is public as a reference, it is not possible for you to deploy an extension from a local code base to your Firebase project.

But you don't need to. You can simply write your own Cloud Functions to run next to the extension.

By turning off the aut

[2020-11-02 08:05] thorsten-stripe commented on #88
Hey @cloudprism, seat based pricing is already supported via quantities. You can set a quantity (amount of seats) when creating the initial checkout session:

[code]

And you can allow customers to update their subscription quantity in the customer portal by enabling it in your settings: https://dashboard.stripe.com/test/settings/billing/portal

![image](https://user-images.githubusercontent.com/2

[2020-11-02 08:40] thorsten-stripe commented on #84
@RezaRahmati thanks for outlining your use case. At the moment, Stripe Checkout and the Stripe customer portal do not support tiered & metered billing. For your business model you will need to build your own integration with Stripe Elements: https://stripe.com/docs/billing/subscriptions/metered

[2020-11-02 20:20] ogulcantumdogan opened #89 "Pass metadata down from product / price to subscription."
# Feature request

 `firestore-stripe-subscriptions`

## Is your feature request related to a problem? Please describe.

I need to pass down metadata from my Products / Prices down to the subscription object.

My products have a monthly Quota, which I keep the quota number data in Price metadata. My customers' accounts need to have this data to operate correctly. Just like the firebaseRole metadat

[2020-11-05 12:52] shidcordero opened #90 "Sort products data in Firestore"
# Feature request

Add sorting of products since the properties on products does not have the ability to be sorted

## Is your feature request related to a problem? Please describe.

A problem for me is that when the client wants to add new price for their subscription then when viewed in the app it won't show it properly because there is no way to sort it out.

## Describe the solution you'd like

[2020-11-05 12:52] shidcordero opened #91 "Sort products in stripe for subscription"
# Feature request

Add sorting of products since the properties on products does not have the ability to be sorted

## Is your feature request related to a problem? Please describe.

A problem for me is that when the client wants to add new price for their subscription then when viewed in the app it won't show it properly because there is no way to sort it out.

## Describe the solution you'd like

[2020-11-05 12:53] shidcordero opened #92 "Deleting a product was not sync in Firestore"
# Bug report

## Describe the bug

Deleting a product does not delete the data in Firestore nor it change the status to active = false

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to Stripe > Products
2. Create test products
3. Delete test products
4. check Firestore if the data is deleted

## Expected behavior

The data should be deleted

[2020-11-05 12:54] #91 closed

[2020-11-05 12:54] shidcordero commented on #91
duplicate issue

[2020-11-06 08:34] thorsten-stripe commented on #89
There is a PR open (#87) that will add product and price metadata to the product and price docs in Firestore. This however would not add the metadata to the subscription doc itself, but the subscription doc has a reference to the price doc. Will that be sufficient for you?

[2020-11-06 08:37] thorsten-stripe commented on #92
Once a product has been used for a transaction it can't be deleted anymore in Stripe, that's why we didn't implement this sync. Rather it is recommended to archive the product/price which will update the `active` parameter to false.

[2020-11-06 08:40] thorsten-stripe commented on #90
Products and prices are collections in Firestore that can be sorted via the Firebase SDK https://firebase.google.com/docs/firestore/query-data/order-limit-data.

[2020-11-06 08:48] thorsten-stripe commented on #58
The Stripe customer portal now allows updating of quantities which can be used to manage seats: https://github.com/stripe/stripe-firebase-extensions/issues/88#issuecomment-720308869

[2020-11-06 08:48] #58 closed

[2020-11-06 11:34] shidcordero commented on #90
I know what you mean but for example. I want to add a new product let say Premium Plan. I already have Basic Plan and Enterprise Plan in my Firestore. I need to show to the user the subscription plan in the following order: Basic Plan > Premium Plan > Enterprise Plan. Tell me, how I can sort the following given the only properties of Product sync in Firestore?

[2020-11-06 15:14] thorsten-stripe commented on #90
There is a PR open ( #87 ) that will sync product metadata to Firestore. This way you can set an `index` key in the product metadata in the Stripe Dashboard and then use that to sort the products on the client. Does that work for you?

[2020-11-06 15:43] shidcordero commented on #90
Yeah, that would be cool. Hope that PR gets approved and released sooner

[2020-11-07 00:01] perryjsteward opened #93 "Sync current users with Stripe"
I've done some googling and havent been able to come up with much for this. Is there a way to sync existing users that have already signed up (using Firebase Auth) to Stripe user objects?

New users seem to be able to create stripe user objects which means i can update subscriptions manually if needed via the stripe dashboard. I have a user support use case that i may need to do this for existing

[2020-11-07 00:04] perryjsteward opened #94 "Only create user objects in Stripe that are NOT Anonymous"
I create Anonymous users to make sure users dont lose data when using my app prior to sign up. however i probably dont want to create an objec in stripe until they upgrade their account.

Could you please add an option to filter out anonymous users?

[2020-11-07 00:07] perryjsteward opened #95 "UPdate user info when upgrading from Anonymous"
If it's not possible to fiulter out anonymous users from the user create function. it would be good to have a function that at least updates the user object in Stripe when the user info in firebase auth is updated.

[2020-11-09 09:15] thorsten-stripe commented on #93
The extension creates a customer object on the fly when the user in Firestore doesn't yet have a customer ID: https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/CHANGELOG.md#version-017---2020-10-15

This means you don't need to sync all Firebase users with Stripe, but can be ensured that a customer object is created in Stripe for them the first time you

[2020-11-09 09:15] #93 closed

[2020-11-09 09:18] thorsten-stripe commented on #94
When configuring the extension you can select "Do not sync":
![image](https://user-images.githubusercontent.com/23213994/98522315-802d3680-22af-11eb-82ad-4d1a7d04711b.png)

This way the extension only creates a Stripe customer object when you create the first `checkout_session` for the user.

[2020-11-09 09:18] #94 closed

[2020-11-09 09:20] thorsten-stripe commented on #95
Solved via https://github.com/stripe/stripe-firebase-extensions/issues/94#issuecomment-723881364

[2020-11-09 09:20] #95 closed

[2020-11-09 17:22] thisisvilla opened #97 "[FAQ] Existing Stripe Customers Not Syncing"
# Bug report

- Extension name: `firestore-stripe-subscriptions`

## Describe the bug

I already have firebase & stripe customers that were synced with a custom webhook.
I am trying to replace that piece of infrastructure with this extension, but it doesn't seem there is anyway to force a sync for the existing customers.

## Expected behavior

Some path to syncing existing customers, possibly by t

[2020-11-10 04:39] thorsten-stripe commented on #97
Duplicate of https://github.com/stripe/stripe-firebase-extensions/issues/93#issuecomment-723879491

Leaving this open as a reminder that I need to make it clearer that the extension creates customer objects as needed on the fly and there is no need to backfill existing users.

[2020-11-10 07:07] thorsten-stripe commented on #26
@Ess-Bidali sorry for the delay. I'm discussing this one with the team. As it stands today, Checkout does not propagate the billing address to the customer object. I have a PR open that copies the billing address collected from Checkout to the customer object, you can follow along there: https://github.com/stripe/stripe-firebase-extensions/pull/96

To note that this only collects the name and bill

[2020-11-10 16:05] thisisvilla commented on #97
@thorsten-stripe thanks for your reply! I'm still a little confused about this... I understand it creates new customers in stripe for new firebase users, but all my existing firebase users and stripe customers are not syncing.

The problem is, I have gated content that checks if a users plan is active in the collections created by this extension. So for new users it works fine, but pre-existing us

[2020-11-11 06:34] shidcordero opened #98 "Error: You must provide at least one recurring price in `subscription` mode when using prices."
# Bug report
I am getting an error: You must provide at least one recurring price in `subscription` mode when using prices.

## Describe the bug
I am getting that error when I checkout of product which has Price of one time payment.
Product:
![image](https://user-images.githubusercontent.com/26376208/98776881-c35fe480-242a-11eb-932f-0255f49fa208.png)

Price:
![image](https://user-images.githubuser

[2020-11-13 03:44] wachauski opened #99 "Calling ext-firestore-stripe-subscriptions-createCheckoutSession results in CORS error"
# Bug report

- Extension name: [e.g. `firestore-stripe-subscriptions`]

## Describe the bug

Added the Stripe extension for Firebase so that subscriptions can be called.  In order to make a payment without creating a new user that already exists in Stripe, I must create a session ID.  However, when I call the extension function, ext-firestore-stripe-subscriptions-createCheckoutSession, it shows a

[2020-11-13 03:57] thorsten-stripe commented on #99
Duplicate of https://github.com/stripe/stripe-firebase-extensions/issues/59. Please review the answers there.

[2020-11-13 03:57] #99 closed

[2020-11-13 03:59] thorsten-stripe commented on #99
@wachauski sorry, I misread, `createCheckoutSession` is not a callable function and rather is triggered by a doc being inserted into the `checkout_session` collection: https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/POSTINSTALL.md#start-a-subscription-with-stripe-checkout

[2020-11-13 04:04] thorsten-stripe commented on #98
The extension is for subscription payments. One time products are only allowed in combination with a recurring product, e.g. for an initial setup fee: https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/POSTINSTALL.md#adding-multiple-prices-including-one-time-setup-fees

For pure one-time payments use case, we generally recommend using https://github.com/f

[2020-11-13 04:04] #98 closed

[2020-11-13 14:51] tudor07 opened #100 "Support Firebase Emulator"
- Extension name: `firestore-stripe-subscriptions`

FIrebase has great [emulator](https://firebase.google.com/docs/emulator-suite) tools.
How to integrate this Stripe extension with the emulator?

[2020-11-14 02:36] wachauski commented on #99
Thanks, Thorsten.  That's a useful link.  By the looks of the function, it needs to be created on the server-side.  Right?  If so, won't I run into the same CORS issue when I try to call it form the client?  I don't see how I can access Firestore otherwise.

[2020-11-14 03:15] thorsten-stripe commented on #99
@wachauski all your interactions with the extension are client-side. I'd recommend to read the docs. They can be found in the extension settings in your Firebase console: https://console.firebase.google.com/u/0/project/_/extensions/instances/firestore-stripe-subscriptions
![image](https://user-images.githubusercontent.com/23213994/99138290-9bf75a80-266a-11eb-9030-0d9dec6793c8.png)

The docs also l

[2020-11-14 03:19] thorsten-stripe commented on #100
They do, e.g. https://github.com/stripe/stripe-firebase-extensions/blob/next/package.json#L13

But the extension emulators are still in closed alpha, you will have to wait for these to be released by the firebase team.

[2020-11-14 03:19] #100 closed

[2020-11-14 15:05] jellelimpens commented on #26
Hello, I am using this system for my project in the Netherlands. All of the functions work perfectly but I have one problem. The only accepted payment method is creditcard. But in the Netherlands this is not that common. Most of the people use their bank account for online payments so I would like to implement SEPA.

Is there any way to do this implementation, but keep the features from firebase w

[2020-11-16 04:00] thorsten-stripe commented on #97
@thisisvilla are you saying you have existing customers in Stripe with existing subscriptions? The extension is not able to sync these, but rather you will need to add your existing Stripe customer ID to the user doc in your Cloud Firestore:
![image](https://user-images.githubusercontent.com/23213994/99211380-2672c200-2803-11eb-9473-ecf3a5fc7dd4.png)

As long as you have the `stripeId` set in your

[2020-11-16 04:09] thorsten-stripe commented on #26
@jellelimpens Stripe Checkout does not yet support SEPA Direct Debit for subscription creation, you would have to follow this tutorial to build your own checkout form and start subscriptions with your own Cloud Function: https://stripe.com/docs/billing/subscriptions/sepa-debit

The extension would still work for the webhook handling to sync subscription statuses and the creation of the portal link

[2020-11-18 00:10] thisisvilla commented on #97
@thorsten-stripe Thanks for your reply! Yeah, I found that work-around, but I also had to add the 'firebaseUID' meta key to the customer in stripe, as well as do some arbitrary update to the user's subscription. Then everything synced just fine! Thanks!! Keep up the great work! 🎉

[2020-11-18 02:52] RodanoJ opened #101 "Create checkout session with custom id doesn't correspond to a firebase auth user"
When checkout session is created under a customer/{id}/checkout_sessions where the {id} doesn't correspond to a firebase auth uid, the following error message is generated in the document.

"There is no user record corresponding to the provided identifier."

My thought was to create a "customer" that was independent from a single firebase auth user which would represent a company/team/organization

[2020-11-18 03:59] thorsten-stripe commented on #101
@RodanoJ I'm afraid this is by design. We need a 1-1 mapping of Firebase UID to stripe customer ID to facilitate authentication for access to the Stripe customer portal.

What you can do is track your teams in a separate collection and only allow one team admin. The team admin is a user in the customers collection. You then write an additional Cloud Function that triggers anytime a subscription on

[2020-11-18 03:59] #101 closed

[2020-11-18 04:11] thorsten-stripe commented on #97
@thisisvilla glad you got it working. The `firebaseUID` metadata should not be required, it's just there to make searching in the dashboard more convenient.

[2020-11-18 04:11] #97 closed

[2020-11-18 04:22] #85 closed

[2020-11-18 04:22] #86 closed

[2020-11-18 04:22] #89 closed

[2020-11-18 04:22] #90 closed

[2020-11-18 04:22] #92 closed

[2020-11-20 02:43] shidcordero opened #104 "Can't update to latest version 0.1.8"
# Bug report

Error shown when trying to update the extension

## Describe the bug

![image](https://user-images.githubusercontent.com/26376208/99744766-4829bd00-2b13-11eb-8b18-294ef5fc5d93.png)

## To Reproduce

Update extension

## Expected behavior

Should successfully update

## Screenshots

see at describe the bug

## System information

- OS: Windows 10 64bit
- Browser (if applies) Edge

[2020-11-20 02:47] thorsten-stripe commented on #104
Can you please retry updating, Firebase sometimes has some hiccups there but generally retrying the update resolves that.

cc @jhuleatt

[2020-11-20 03:19] shidcordero commented on #104
Tried to re-update and a new error shows

![image](https://user-images.githubusercontent.com/26376208/99753932-4a474800-2b22-11eb-803a-72f23666fcfe.png)

[2020-11-20 03:23] thorsten-stripe commented on #104
I'm not able to reproduce this, therefore I don't think it's related to the extension itself. Please reach out to Firebase for further support.
![image](https://user-images.githubusercontent.com/23213994/99754102-a7db9480-2b22-11eb-97cf-a31b7c11bb4a.png)

[2020-11-20 09:43] shidcordero commented on #104
yeah, you're right. only a firebase issue

[2020-11-20 09:43] #104 closed

[2020-11-23 04:16] thorsten-stripe commented on #26
Quick note that the billing address is now being transcribed to the customer object since v0.1.8: https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/CHANGELOG.md#version-018---2020-11-19

[2020-11-23 23:12] fbarthelery opened #105 "FR: Create checkout session with trial from the Prices API"
# Feature request

firestore-stripe-subscriptions

## Is your feature request related to a problem? Please describe.

`trial_from_plan` has been deprecated and doesn't work anymore with Checkout. There is no way to create a checkout session with a trial.

## Describe the solution you'd like

Allow to set `subscription_data.trial_end` or `subscription_data.trial_period_days` in the checkout_session

[2020-11-24 10:56] SDrinkwater commented on #88
@thorsten-stripe

I think @cloudprism is looking for metered pricing, not seat-based (please correct me if I have misinterpreted the description).

I am in a similar situation where I would like to charge users for the number of "seats" used over a month. The number of seats isn't know ahead of time and can change at any time. I don't want to charge users as soon as they add a seat, just at the en

[2020-11-25 00:45] dave-k opened #106 "Add support for Pricing model: Volume pricing"
# Feature request
- Extension name: `firestore-stripe-subscriptions`

Need support for Pricing model: Volume pricing
Units: 2
Per Unit: 500

<img width="595" alt="volume-pricing" src="https://user-images.githubusercontent.com/5447484/100167511-19de1180-2e74-11eb-8556-f8bc6fb46853.png">

## Describe the solution you'd like

Support Pricing model: Volume pricing

[2020-11-27 03:36] hpflatorre opened #107 "Apply Coupons Programatically"
# Feature request

- Extension name: firestore-stripe-subscriptions

## Is your feature request related to a problem? Please describe.

it would be very nice to be able to add coupons and promotion_codes to checkout sessions (and customers) programmatically.

## Describe the solution you'd like

I need to apply [discounts by coupon_id or promotion_code](https://stripe.com/docs/api/checkout/session

[2020-11-27 14:14] perryjsteward commented on #94
Sorry this isn't quite what im looking for as i want to sync those users that have provided an email...

The solution you suggest means that i can not manually upgrade users from Stripe. I will have to get each sign up to create a checkout session so that their userId is in stripe

[2020-11-27 20:47] ogulcantumdogan commented on #89
This was very helpful on my part, thank you!

[2020-11-28 04:44] thorsten-stripe commented on #94
@perryjsteward that seems like a somewhat niche use-case. Two options:

1. You set the extension to "Do not sync" and write your own separate function that handles your specific sign up and customer creation logic.
2. You open a PR to add the functionality to the extension.

[2020-11-30 20:54] fbarthelery commented on #105
My bad. It looks like I missed a few things during my tests. `trial_from_plan` works fine with the legacy settings.

[2020-12-03 12:41] shidcordero opened #108 "How to force user to pay for changing the plan?"
# Bug report

How to force user to pay for changing the plan?

## Describe the bug

 I was researching about how the user will be able to pay immediately once they want to change a plan. Currently, the previous plan will be active and cant be change. I found on this link(https://stripe.com/docs/billing/subscriptions/upgrade-downgrade) that I need to set `proration_behavior` to `always_invoice`. Ho

[2020-12-03 16:40] Miki-AG opened #109 "Webhook sending updates for all subscriptions in Stripe, not only for products in the customer portal triggers 400 errors"
# Bug report

- Extension name: firestore-stripe-subscriptions

## Describe the bug

We manage multiple products in Stripe. Some of them are visible in the customer portal but some others are not. The Stripe Webhook sends updates regardless, causing errors (Firebase Function logs, ext-firestore-stripe-subscriptions-handleWebhookEvents):

❗️[Error]: Webhook handler for  Stripe event [xxxxx] of type

[2020-12-07 11:52] kenara opened #111 "What would it take to get this working with Realtime Database?"
The Firebase project I use in production once used a Cloud Datastore which is now disabled but cannot be deleted. As a result, it is impossible to enable Firestore in that project. Even if I were to migrate the data to a fresh Firebase project, I would lose thousands of authenticated users. While Firebase promotes Firestore as the more modern alternative, they continue to  recommend Realtime Datab

[2020-12-07 13:37] kenara commented on #111
Now I have learned that it will be possible to import users into a healthy Firebase project. Closing this issue.

[2020-12-07 13:37] #111 closed

[2020-12-09 22:15] Apsistec commented on #54
If you look in Google Cloud Functions Reports you can see the raw files and make changes there or copy them into your IDE and work on them from there. What is great about it is they have already done the heavy lifting, so be sure to appreciate them for providing this to us. It is quite amazing.

[2020-12-09 22:17] mshenawy22 commented on #54
Got the idea , thanks very much for answering !

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Doug White <notifications@github.com>
Sent: Wednesday, December 9, 2020 10:15:27 PM
To: stripe/stripe-firebase-extensions <stripe-firebase-extensions@noreply.github.com>
Cc: mshenawy <mohamed.shenawy@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re:

[2020-12-10 05:12] jaytavares opened #112 "Make interfaces available as an npm package"
# Feature request

- Extension name: [Both]

## Is your feature request related to a problem? Please describe.

Nope!

## Describe the solution you'd like

It'd be super helpful if the Stripe interfaces (e.g. Subscription, Tax Rates, etc.) were available through an npm package. They're all already included within the source of this repo; however, since extensions are installed server-side within F

[2020-12-10 19:19] jaytavares opened #113 "'Failed to retrieve function source code' errors while installing/updating"
# Bug report

- Extension name: `firestore-stripe-subscriptions`

## Describe the bug

While attempting to upgrade the extension to 0.1.8, the upgrade process fails and leaves the extension in an unusable state. UPDATE: I've now seen the same error message while trying to install the extension (both 0.1.8 and 0.1.7 across multiple Firebase projects.)

## To Reproduce

Steps to reproduce the behavi

[2020-12-10 19:28] jaytavares commented on #113
Looks like this issue might be affecting all new installations of the extension... 🤔 Using the Firebase CLI tool, I tried installing another instance of the extension using v0.1.7 in an attempt to roll back; I'm seeing the same issue:

<img width="930" alt="Screen Shot 2020-12-10 at 2 27 02 PM" src="https://user-images.githubusercontent.com/711127/101819866-cdd9d080-3af3-11eb-9d72-8778e5f88018.png

[2020-12-10 19:38] jaytavares commented on #113
I saw #104, it's not the same errors that I'm seeing, but might be similar. I've reached out to Firebase support for assistance.

[2020-12-10 19:44] jaytavares commented on #113
hmm, I actually can't install the extension at all. Not even in a separate Firebase project. @thorsten-stripe, are you seeing this behavior? I've reached out to Firebase support, but it might be a couple business days before I hear back.

[2020-12-10 23:18] dave-k commented on #113
I have the same issue. The extension was working this morning.

<img width="1197" alt="ext-error" src="https://user-images.githubusercontent.com/5447484/101841272-7854f200-3afa-11eb-86cd-715b8d5ab564.png">

Cloud functions "Unknown function status"

![ext2-error](https://user-images.githubusercontent.com/5447484/101841409-b6521600-3afa-11eb-9e29-80c7efd9335f.png)

[2020-12-11 00:11] SuneelFreimuth commented on #113
I can corroborate. I just installed the Firebase Stripe Extension and the Cloud Functions the extension creates are pointing at invalid source objects, seemingly causing the "Failed to retrieve function source code" error.
![image](https://user-images.githubusercontent.com/35514810/101844713-ed77f580-3b01-11eb-97fb-20e64eb6ecb1.png)
Error is "Archive not found in the storage location".
If I deploy

[2020-12-11 01:45] SuneelFreimuth commented on #113
I saw this error a few times while doing the configuration. When it showed up, I retried saving the configuration and it wouldn't show up.

[2020-12-11 12:51] Calvin087 commented on #113
I thought I was going crazy not being able to find this issue anywhere on the internet. Thought it was just me. Consistent errors upon installing the extension using the CLI

![Screenshot 2020-12-10 at 17 17 18](https://user-images.githubusercontent.com/58273749/101905598-fcb97a80-3bb7-11eb-97df-d985313aaf8c.png)

[2020-12-11 17:00] hand-dot commented on #113
I'm in the exact same situation.
It worked fine until a few days ago, but yesterday it started acting weird.

However, the same error occurred when I installed Sync with Mailchimp, so maybe this is not a stripe problem but a firebase problem.

Can I install other extensions?
I was not able to.

[2020-12-11 22:37] rosariopfernandes commented on #113
Hey everyone, this bug seems to be happening for all Firebase Extensions.
The recommendation is to install or upgrade extensions through the CLI, as per [tinaliang's comment here](https://github.com/firebase/extensions/issues/529#issuecomment-742754020):

[2020-12-12 07:07] jaytavares commented on #113
I think Firebase might have fixed the issue. I was able to install the Stripe subscriptions extension in a new project with success. I also updated the extension in one project. For that one, after updating, I also had to delete the cloud functions it had originally created and "reconfigure" the extension to cause it to recreate the functions.

[2020-12-12 16:15] atnegrete opened #114 "Subscription Trial Days not Passed into subscription_data"
# Bug/Feature? report

- Please close one if this is considered a duplicate: https://github.com/stripe-samples/firebase-subscription-payments/issues/17

## Additional context
![image](https://user-images.githubusercontent.com/22260151/101989018-18c62600-3c63-11eb-8c13-c0fc83cbc2ba.png)

![image](https://user-images.githubusercontent.com/22260151/101988984-e3b9d380-3c62-11eb-96ea-9824673bd4f6.png)

[2020-12-12 16:18] atnegrete commented on #114
I can probably do a PR adding that field later today.. but not sure if the team still needs to consider updating documentation/other things around trial days, as it's not working in its current state.

[2020-12-12 16:22] thorwebdev commented on #114
It's working as expected on the demo: https://stripe-subs-ext.web.app/ (the premium yearly plan has a 1 day trial)![image](https://user-images.githubusercontent.com/5748289/101989115-2cac6f00-3cd9-11eb-9382-b40ba134d7f5.png)

Please double check that you've configured everything correctly.

[2020-12-12 16:24] thorwebdev commented on #114
trial period days should not be set on the client side as it means a user could extend their trial by modifying it. That's why we use trial from plan.

[2020-12-12 16:27] thorwebdev commented on #114
Duplicate of https://github.com/stripe/stripe-firebase-extensions/issues/105

[2020-12-14 16:59] atnegrete commented on #114
Thanks! Makes sense. Can't believe I didn't think of that lol I will check my configuration and report back 😀

[2020-12-15 02:39] SuneelFreimuth commented on #113
The extension now works for me as well; the functions fetch their source code correctly.

[2020-12-15 04:29] atnegrete commented on #114
@thorwebdev  I've double checked everything, and nothing looks off. The extension is working flawlessly, aside from trials. I can't figure out what could be the issue. It's just a matter of setting the Trial Days field in the Price for a Product right?

Also, did you temporarily add the 1 day trial on that demo app? Because it's not showing up for me. Thanks

[2020-12-15 04:31] atnegrete commented on #114
@thorwebdev I misunderstood the trial_from_plan field, I thought stripe would automatically handle not giving the trial again...!

[2020-12-15 04:31] #114 closed

[2020-12-15 16:58] cjavilla-stripe opened #115 "Add support for dynamic tax rates when GA"
# Feature request

- Extension name: `firestore-stripe-subscriptions`

## Is your feature request related to a problem? Please describe.

`dynamic_tax_rates` are in beta so we can't pass that to every Checkout Session creation. Once this is GA we should fast follow to add support.

## Describe the solution you'd like

Add the dynamic_tax_rates field in the Checkout Session creation flow.

[2020-12-15 19:37] jaytavares commented on #107
I'll second this request. I have a need to apply promotion codes via the `discounts` property as well. Perhaps we could avoid these one-off feature requests (`billing_address_collection`, `accept_promo_codes`, etc.) by allowing passthrough of all `checkout_session` properties to the `stripe.checkout.sessions.create` method? This would unlock the full capabilities of the Stripe Checkout Sessions AP

[2020-12-15 20:05] jaytavares opened #116 "Allow full access to `checkout_session` properties"
# Feature request

- Extension name: `firestore-stripe-subscriptions`

## Is your feature request related to a problem? Please describe.

The (Stripe API)[https://stripe.com/docs/api/checkout/sessions/create#create_checkout_session] provides robust configuration options to customize checkout sessions during creation. Access to some of those options have been explicitly requested in this extension

[2020-12-15 21:28] cjavilla-stripe commented on #113
Thanks for the updates folks. It looks like this was resolved by Firebase, so I'm going to close for now. Please feel free to re-open if the issue reoccurs.

[2020-12-15 21:28] #113 closed

[2020-12-21 14:29] NashIlli commented on #116
+1

[2020-12-21 15:29] padioca commented on #80
I am running into the exact same issue and would certainly appreciate some guidance to get it resolved.  Been trying to figure it out for several days now...

[2020-12-22 02:04] padioca opened #117 "Duplicate Customers In Stripe"
# Bug report

- Extension name: `firestore-stripe-subscriptions`

## Describe the bug

When Stripe checkout is completed at least two customers with the same email address are created in Stripe.  When Sync New Users is set to "Do Not Sync", two customers are typically added, although there are instances in which one customer is created and I can't find a discernible reason why.  When "Sync" is sel

[2020-12-22 18:04] padioca commented on #117
Figured it out.  For anyone curious, I was running the entire submit method twice, one on click of the Submit button and one using @submit.prevent.

[2020-12-22 18:04] #117 closed

[2020-12-25 07:04] deerboy opened #118 "Tax rate for the invoice item"
# Feature request

- Extension name: firestore-stripe-invoices

## Is your feature request related to a problem? Please describe.

I want to specify the tax rate for the invoice item

## Describe the solution you'd like

[Allow customizable tax rates values](https://github.com/stripe/stripe-firebase-extensions/blob/2044dd72016110f05715ce903e3137980743ee69/firestore-stripe-invoices/functions/src/in

[2020-12-31 16:52] DCSnip3r commented on #106
I would also like to see this feature. Standard pricing alone is a bit too restrictive

[2020-12-31 17:34] DCSnip3r commented on #106
Could I get info on why this is not possible to do with createCheckoutSession? Do Stripe checkout sessions not support this feature natively, or is this something the function could do with some modifications? I'm wondering if I can help with a solution, or what I should anticipate when creating my own checkout sessions that support volume pricing

[2021-01-01 14:30] t-kaufmann commented on #106
Are there any plans on implementing volume pricing in the near future? This would be pretty important for me as volume pricing is essential in our application, otherwise I'd have to search for other solutions.

[2021-01-01 15:43] andrewfashion commented on #70
@Nyceane Did you end up finding a solution to keep using this and working with iOS as well?

[2021-01-01 16:43] t-kaufmann commented on #84
@thorsten-stripe I am an in a similar situation right now as I want to implement a volume based pricing model. The documtentation link you sent regarding Stripe Element mentions that it is also possible to use Stripe Checkout for metered billing - is there any more information to this? I only got the checkout page to work with standard pricing (e.g. 10$/month).

[2021-01-04 00:35] MGItkin opened #119 "Race Condition in Firestore DB Updates"
# Bug report

- Extension name: `firestore-stripe-subscriptions`

## Describe the bug
I've encountered a race condition that caused a transient state of a Stripe subscription to overwrite the current state. This caused the user subscription document in Firestore to be out of sync with the Stripe subscription API.

Looking into the logs (see "Additional context") it appears that a long function inv

[2021-01-05 08:42] thorsten-stripe commented on #106
Yes, Checkout now supports the other pricing models and we're working on adding support for these. Please follow along here https://github.com/stripe/stripe-firebase-extensions/issues/84

[2021-01-05 08:42] #106 closed

[2021-01-05 13:08] t-kaufmann commented on #84
@thorsten-stripe While we're at it, for the checkout page the beta for metered billing is already available, though the customer portal does not support plans with metered billing. Does something similar exist for the customer portal or will this be implemented in the future?

[2021-01-05 15:59] thorsten-stripe commented on #112
Most of the interfaces are internal to the server-side functions. Can you describe your use-case for needing these in your code base? Do you have additionally functions that interact with the data?

[2021-01-05 16:06] thorsten-stripe commented on #108
Up- and downgrading happens within the customer portal. You can configure the behavior in the settings: https://dashboard.stripe.com/test/settings/billing/portal
![image](https://user-images.githubusercontent.com/23213994/103669185-ff3ea280-4fb2-11eb-9e5c-3ffc4266364c.png)

[2021-01-05 16:06] #108 closed

[2021-01-05 16:13] thorsten-stripe commented on #107
Unfortunately it's not really desirable to expose all these options on the client-side. You run the risk of a malicious party injecting parameters without them being validated on the server-side. Therefore we need to carefully evaluate which parameters we expose and how we expose them.

Can you please outline your specific use case? What's your logic to decide whether a coupon/discount should be a

[2021-01-05 17:09] alexcastillo opened #120 "firestore-stripe-subscriptions: metadata object is removed from subscription when transitioned to "canceled""
Hi, and thank you for the amazing extension!

It's very easy to setup and use. It definitely saved me a lot of time of development.

# Bug report

- Extension name: firestore-stripe-subscriptions

## Describe the bug

When a `subscription` document in Firestore is updated to "canceled", the metadata object is updated to `null`.

## To Reproduce

1. Complete a subscription cancelation in Stripe

##

[2021-01-06 05:48] thorsten-stripe commented on #120
I'm not able to reproduce this. The metadata stays intact in Firestore both when canceling the subscription via the customer portal and the Stripe Dashboard.
![image](https://user-images.githubusercontent.com/23213994/103733728-57ae8800-5025-11eb-8a57-0d9b20767a44.png)

Can you add some screenshots of the subscription in active state and then cancelled state? And can you outline how you're cancell

[2021-01-06 07:32] thorsten-stripe commented on #109
I've got a PR open to change to always 200 and logging instead:
![image](https://user-images.githubusercontent.com/23213994/103741564-4ae56080-5034-11eb-8194-6a4dcf817438.png)

This will roll out with v0.1.9

[2021-01-06 07:38] thorsten-stripe commented on #119
Unfortunately Stripe events are not guaranteed to be created in sequence, so we can't rely on the `created` timestamp and need to retrieve the object to get the correct status. I've got a PR open that refactors the webhook handler to bring the subscription retrieval as close as possible to the Cloud Firestore write. This should hopefully eliminate this problem.

[2021-01-09 19:36] ajonp opened #122 "Cleanup checkout_sessions"
# Feature request

firestore-stripe-subscriptions

## Is your feature request related to a problem? Please describe.

This is not necessarily a problem, more of a refinement. If you have a user who keeps creating checkout_session docs it would be nice to either include a schedule cloud function to delete all out dated sessions, or on subscription completion remove all session.
![image](https://use

[2021-01-11 07:32] thorsten-stripe commented on #122
These are meant as logs of your customer's checkout attempts. There shouldn't be too many. Can you elaborate what your concern is with keeping these in Firestore?

[2021-01-11 07:33] thorsten-stripe commented on #120
Closing this due to inactivity. Feel free to reopen with additional details.

[2021-01-11 07:33] #120 closed

[2021-01-11 14:00] ajonp commented on #122
That is fair there won't be a lot but with a million customers if they
subscribe and then unsubscribe even once a year that is a giant amount of
data that is being added to your overall firestore db. It would be nice to
keep these clean. IMO the subscription data is what you should care about
and Stripe is handling all of this.

On Mon, Jan 11, 2021 at 2:32 AM Thor 雷神 <notifications@github.com> wr

[2021-01-11 16:02] MGItkin commented on #119
Is that really true? There is no timestamp associated with these events that can be used to determine the ordering? If that is true, then how is this Stripe dashboard of webhook events populated? Is this also not guaranteed to have the correct ordering?
![image](https://user-images.githubusercontent.com/11808956/104205163-f0a52080-53e2-11eb-949a-d897f4550a08.png)

I agree that your PR would reduce

[2021-01-12 03:59] thorsten-stripe commented on #119
@MGItkin that's correct, the webhook logs in the Stripe Dashboard are also not guaranteed to be sequential.

That's why you need to retrieve the object to get its current status.

[2021-01-12 16:34] MGItkin commented on #119
@thorsten-stripe Ok, then. Is there anywhere where I can file a feature request with Stripe? I strongly believe there should be some way to provide guaranteed order to the event updates. Even in your latest PR, additional network latency on the request to update Firestore could cause the Function with the latest Subscription object to lose the race condition. I admit that this situation is rarer a

[2021-01-14 11:50] Renkon117 commented on #66
I have been looking for someone who had the same issue like this!!

[2021-01-14 17:22] #84 closed

[2021-01-14 17:22] #109 closed

[2021-01-14 17:22] #119 closed

[2021-01-18 03:33] scott-mccartney opened #124 "Add Firestore document on "invoice.payment_succeeded" Stripe event"
# Feature request

- Extension name: `firestore-stripe-subscriptions`

## Is your feature request related to a problem? Please describe.

The `invoice.payment_succeeded` events are not handled by the Stripe Firebase extension, meaning that developers using the extension cannot use this event to trigger a Firebase function to run custom logic.

## Describe the solution you'd like

On `invoice.payme

[2021-01-19 03:04] thorsten-stripe commented on #124
Hey @scott-mccartney would you mind outlining your use case? What custom logic are you looking to run and therefore what information would you want available in Cloud Firestore?

We don't have any immediate plans to add this, but will leave it open for others to voice their interest. In the meantime, you can write a custom function and point the additional events to that. Here an example of a Fire

[2021-01-19 03:15] scott-mccartney commented on #124
Hi @thorsten-stripe, I have a user signed up for a monthly subscription and my desire here is to get a notification (i.e. a new Firestore document) whenever that user is charged their recurring payment every month.

If a document was written to, let's say, an `invoices` collection, developers can listen to that document creation to trigger a Firebase function for further custom logic. In addition,

[2021-01-19 08:04] Outflank-Australia opened #125 "Allow multiple custom claims"
# Feature request

- Extension name: [e.g. `firestore-stripe-subscriptions`, or leave empty if suggesting a new extension]

## Is your feature request related to a problem? Please describe.
I am building an app which intends to sell the user multiple subscriptions, each of which being an individual product that allows access to data in the related section of the database. Think of this subscriptio

[2021-01-19 19:19] pfloresl commented on #59
Him I am getting similar issues, this is code
`const functionRef = firebase
      .app()
      .functions('us-central1')
      .httpsCallable(
        'ext-firestore-stripe-subscriptions-createCustomer',
      );
    functionRef(params)
      .then((data) => {
        console.log(data);
      })
      .catch((error1) => {
        console.log(error1);
      });`
error1 is `Error: internal
    at ne

[2021-01-19 20:13] pfloresl commented on #59
I am also presuming that this is valid usage and that i can create a new stripe user by making this function call, and i don't need to wait until a checkout.
On Safari and in production i am getting in the debugger, Preflight response is not successful

[2021-01-20 05:31] pfloresl opened #126 "customer record not sync with stripe customers"
# Bug report

- Extension name: [e.g. `firestore-stripe-subscriptions`]

## Describe the bug

When the user logins, I create a document in the customer collection in firestore, document is the uid of the user and i add an email field, but i do not see a record added to stripe.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

i execute the following

[2021-01-20 18:16] pfloresl commented on #126
Read the source of and understood. Deleted my authenticated user and began working.

[2021-01-20 18:16] #126 closed

[2021-01-21 16:07] thorsten-stripe commented on #126
Glad you got it working. If you have more questions regarding your integration you can jump on our technical chat on IRC: https://webchat.freenode.net/#stripe

[2021-01-21 16:14] thorsten-stripe commented on #59
@pfloresl the `createCustomer` is an internal function that is triggered by a new user signing up via Firebase auth (see https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/functions/src/index.ts#L81). It is not a callable function, that's why you're seeing the error. The extension automatically creates the Stripe customer objects for you, so you won't nee

[2021-01-21 17:38] pfloresl commented on #59
Yes, thank you.

[2021-01-23 08:56] #125 closed

[2021-01-23 08:59] Outflank-Australia commented on #125
Having looked into the pros and cons of custom claims a bit more, it seems that they are not a great option for fine-grained access control (such as is my use case) due to the delay in the custom claim appearing on the auth token. It seems as though independently tracking subscriptions in the database is the best method of restricting access.

[2021-01-24 08:17] shaolinufo opened #128 "Unable to verify trial period in firebase database"
# Bug report

firestore-stripe-subscriptions

## Describe the bug

I enabled trial for stripe product and the credit card went through, however there is no 'subscription' collection created in my firebase database.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Enable legacy trial period in Stripe under product pricing
2. Start Checkout session

[2021-01-26 05:14] thorsten-stripe commented on #128
I'm not able to reproduce this:
![image](https://user-images.githubusercontent.com/23213994/105803419-66f77480-5fd8-11eb-8858-03a516993860.png)

It sounds like you're missing some webhook events: https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/POSTINSTALL.md#configure-stripe-webhooks or some permissions on your restricted key: https://github.com/stripe

[2021-01-26 05:14] #128 closed

[2021-01-27 16:36] harjeetbackup opened #129 "Passing Coupon Code in the request."
# Ability to add send a coupon Code or Coupon ID in the Request Post so that coupon is automatically applied to the checkout page

- Extension name: [e.g. `firestore-stripe-subscriptions`, or leave empty if suggesting a new extension]

## Is your feature request related to a problem? Please describe.

We dont want a user to enter the code in the Add promo code field. It should be prepopulated id w

[2021-01-28 15:35] thorsten-stripe commented on #129
Duplicate of https://github.com/stripe/stripe-firebase-extensions/issues/107

[2021-01-28 15:35] #129 closed

[2021-01-28 19:35] hpflatorre commented on #107
I need a way to distribute coupons using referral links instead of the customer typing it manually in the Stripe hosted checkout page. My application uses dynamic referral links which carry a coupon code as a query string. Users who subscribe using these referral links should have coupons applied in the checkout.

The usage of the coupons can be restricted only by the parameters set when the coupo

[2021-01-28 22:48] DCSnip3r commented on #54
I use a firebase function to create a product using the stripe npm package. This triggers a webhook that creates a product document in firebase.

However, I have additional data that I want to add to the product after I create it with the stripe API. To do this, I can write to a firebase using the product ID that the stripe module returns, and using 'set' with {merge:true}.

This will work fine if

[2021-01-29 05:59] thorsten-stripe commented on #54
@DCSnip3r I'd recommend that you add your additional data to the metadata on the product object (either when you create it or later on via an updat request), that's automatically synced to the Firestore:
![image](https://user-images.githubusercontent.com/23213994/106237560-05cedb80-623a-11eb-85c0-fb28db8247a5.png)

[2021-01-29 22:45] DCSnip3r commented on #54
@thorsten-stripe Does this work with data types like a firestore geopoint? This should generally work, thank you. One disadvantage is the 'stripe_metadata_' prefix. I personally would not be confused if this were removed

[2021-02-05 07:16] lettellwm opened #131 "[Customer portal] programmatically set `locale`"
# Feature request

- Extension name: [e.g. `firestore-stripe-subscriptions`, or leave empty if suggesting a new extension]

## Is your feature request related to a problem? Please describe.
Not all browser’s locale have real locale.

## Describe the solution you'd like
functions exports.createPortalLink exports.createCheckoutSession
add param locale add pass it to stripe sdk
## Describe alternativ

[2021-02-08 20:13] dthib commented on #115
Hi,
First of all, thanks for this nice extension!
I am also interested in the dynamic tax feature.
Is there any roadmap somewhere? Maybe an idea for the v1 release? And is there a documentation with the known limitations apart from this issues? I have seen somewhere that all billing plans were not supported but it seems that it's not the case anymore right?
Thanks again,
Best

[2021-02-09 00:12] mnc12004 opened #132 "Add hosted_invoice_url as default"
Hi everyone,
I recently installed the Stripe Invoice Extension and found it easy to configure and use it now in production.

I noticed though that the hosted_invoice_url sent to the customers email was not populated into the firestore document.

I created it with two lines of code in the Cloud Function and now I can present that url to a customer for viewing and payment in their portal on my site.

[2021-02-09 11:02] lettellwm commented on #131
@ jhuleatt Hy it is possible to get feature support.

[2021-02-09 14:39] #118 closed

[2021-02-09 14:39] #132 closed

[2021-02-09 17:16] dthib opened #133 "Support one time product"
# Feature request

## Is your feature request related to a problem? Please describe.

For our company, we would like to support both one time product and subscription. For the same service, there will be two offers:
- One with one-time offer for one year without subscription (pay all once)
- One with monthly subscription.

## Describe the solution you'd like

I have seen in the code (and as the ex

[2021-02-10 03:15] thorsten-stripe commented on #133
To me this sounds like a yearly subscription. Any reason why you can't model it as such?

[2021-02-10 06:49] dthib commented on #133
Agreed, kind of. But in term of commitment it's not the same thing. And
sometimes it can be really business killer (particularly for our market
population).

Another way I was thinking of: use the subscription cancel_at property but
it seems impossible to set it in the checkout. And if I set it after using
an update, the customer will not be aware of this autocancellation. Any
advice?

Besides, my

[2021-02-10 10:15] dthib commented on #133
Besides, I would be happy to contribute to this extension. Is it possible and in particular how can I deploy the modified extension if i create a branch ?
Thanks again

[2021-02-10 11:33] dblackherod opened #134 "An error is reported when using metered billing"
The latest version (0.19) does not checkout successfully and reports the following in a browser alert box.
**Quantity should not be specified where usage_type is `metered`. Remove quantity from `line_items[0]`**

A peek into the functions/src/index.ts file shows a culprit (ln 125 - 133), although the extension's update message clearly says this version is beta.

I believe a quick fix with an elega

[2021-02-10 13:17] thorsten-stripe commented on #134
You can specify the `line_items` array instead of the `price` id to avoid this. See an example of using `line_items` here: https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/POSTINSTALL.md#adding-multiple-prices-including-one-time-setup-fees

[2021-02-10 13:17] #134 closed

[2021-02-10 13:26] thorsten-stripe commented on #133
@dthib you could alternatively do a $0 yearly subscription paired with the one time product: https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/POSTINSTALL.md#adding-multiple-prices-including-one-time-setup-fees This way you still get the benefit of using subscriptions but hopefully without your customers dropping off.

I'm afraid you can't yet because th

[2021-02-10 13:26] #133 closed

[2021-02-10 13:43] dblackherod commented on #88
@SDrinkwater
I just mentioned this in a fresh issue.
It seems quantities do not work with metered pricing.
The update note is also clear the v0.19 of this firebase extension is a beta release.

[2021-02-10 13:44] dthib commented on #133
Hi @thorsten-stripe ,
Yes, i have already tested this as well. it's not perfect but it works.
The other option i have tested as well is to deploy the slightly adjusted version of your cloud function in order to handle payment checkout. I am a bit disapointed to close it because it's not a lot of code and as mentioned it worth it if you want to sell both one time product & subscription (for instanc

[2021-02-10 15:07] thorsten-stripe commented on #115
Dynamic tax rates is already supported via `line_items`:

[code]

Adding docs here: https://github.com/stripe/stripe-firebase-extensions/pull/135

[2021-02-10 15:07] #115 closed

[2021-02-11 06:34] thorsten-stripe commented on #79
Closing this out as it looks like folks are fine with the current subcollection approach 👍

[2021-02-11 06:34] #79 closed

[2021-02-11 07:50] rafekun commented on #133
I agree with @dthib. Supporting one time product is helpful for many devs.

[2021-02-11 07:51] dthib opened #137 "Sync all customer data with stripe"
# Feature request

- Extension name:`firestore-stripe-subscriptions`

## Is your feature request related to a problem? Please describe.

I would like to be able to keep in sync customer information with stripe (https://stripe.com/docs/api/customers/create?lang=node). In particular, address and tax informations (tax_exempt, tax_id_data) but i guess other information can be useful depending on the u

[2021-02-11 08:00] #107 closed

[2021-02-11 08:00] #124 closed

[2021-02-11 08:06] thorsten-stripe commented on #131
I've added locale override for checkout session, however the customer portal does not currently allow overriding of the locale. I've discussed with the team and they will consider adding it in the future.

[2021-02-11 08:09] thorsten-stripe commented on #133
See the related discussion here: https://github.com/stripe/stripe-firebase-extensions/issues/39#issuecomment-671809586

[2021-02-12 22:48] dblackherod commented on #134
@thorsten-stripe
I do not quite understand what you mean. Perhaps there is some code snippet to illustrate your explanation.
The link in your reply provides a code snippet that still specifies quantity (the culprit variable) while the error encountered clearly says to leave out this variable.

What we would like to achieve is to allow metered billing, and this pricing model cannot function with qu

[2021-02-16 12:12] DariusKopka opened #138 "[Bug] Subscriptions for metered billing plans not syncing"
# Bug report

- Extension name: `firestore-stripe-subscriptions`

## Describe the bug

The webhook handle function throw follow exception:

ext-firestore-stripe-subscriptions-handleWebhookEvents
❗️[Error]: Webhook handler for Stripe event [evt_1ILRo4E9U7tLkcTd4NyR9z2m] of type [customer.subscription.created] failed: Value for argument "data" is not a valid Firestore document. Cannot use "undefined

[2021-02-16 16:49] thorsten-stripe commented on #138
I updated to the newest Stripe API version where the quantity param has been moved: https://stripe.com/docs/api/subscriptions/object#subscription_object-items-data-quantity

It works fine for me on https://stripe-subs-ext.web.app/. I wonder if this might be related to metered pricing.

Could you please comment below the details about your pricing plan and the code snippet that you use to create th

[2021-02-17 20:55] DariusKopka commented on #138
My pricing plan is: bundle1: 99,00€/month -> 300units, bundle2: 199,00€/month -> 1000units, bundle3: 299,00€/month -> 100000000 units. I dont create a checkout session in firebase. I am send a new customer over webhook to firebase and the subscription sync over webhook to firebase. I thin i have create the webhook with the old api an letter i have updated the firebaseextenssion.

[2021-02-18 03:29] techronin opened #139 "Usage based pricing and identity verification"
# Feature request

- Extension name: [e.g. `firestore-stripe-subscriptions`]

A clear and concise description of what you want and what your use case is.

it would be ideal to have the full suite of Stripe products available in Firebase, however in my particular case Im interested in usage based pricing

## Describe the solution you'd like

Usage based pricing allows me to charge customers for wha

[2021-02-18 11:13] dthib commented on #137
@thorsten-stripe any feedback for this issue ?

[2021-02-18 20:09] dthib opened #140 "Lost subscription items in firebase"
# Bug report

- Extension name: `firestore-stripe-subscriptions`

## Describe the bug

If a subscription with two items is created, the items structure is lost in firebase. Only the list of prices is saved. It means in particular that the 2nd item quantity is lost.
See https://github.com/stripe/stripe-firebase-extensions/blob/a33c2ad0f79d14c2102d6adbbeccba04b76ddb44/firestore-stripe-subscriptions/

[2021-02-19 02:11] railerbailer opened #141 "Stripe extension: Bill based on a non-predefined value"
# Feature request

- Extension name: firestore-stripe-subscriptions

## Is your feature request related to a problem? Please describe.
My app are running ads for clients and I want to be able to charge based on revenue spent on ads. E.g. App spends $400 on ads, then I want to charge 2.3%, not a set number.

## Describe the solution you'd like

I would like to be able to specify the amount for next

[2021-02-22 15:35] thorsten-stripe commented on #141
@railerbailer this doesn't sound like a subscription but rather a simple invoicing use case. You might be better off using our invoices extension instead: https://firebase.google.com/products/extensions/firestore-stripe-invoices

If you want to use subscriptions for this, two options:

1. You use metered billing: this works if you always charge 2.3%. Then you can just report the units (400) and ha

[2021-02-22 15:35] #141 closed

[2021-02-22 15:43] thorsten-stripe commented on #137
@dthib the customer object includes PII that we don't want to sync by default due to GDPR considerations. Therefore I want to keep it to the minimalist lookup table that we have at the moment. If you want to manage customer data in Firebase, you should do so yourself and with full GDPR compliance for your use case.

[2021-02-22 15:43] #137 closed

[2021-02-22 16:17] thorsten-stripe commented on #134
Yes, and that's exactly what you need to do, remove the quantity. But otherwise the code sample is the same:

[code]

[2021-02-22 16:20] thorsten-stripe commented on #138
I was able to reproduce this error when using a metered billing pricing plan. I'll work on a fix. Unfortunately until then metered billing plans will not sync to Cloud Firestore!

[2021-02-23 08:11] dblackherod commented on #134
Hey Thor...
Its great to see real support for awesome and elegant code.
I will try out your snippet and reply on the outcome.
I dare say also that it looks neat you know... like plug n play.

Cheers...

On Mon, Feb 22, 2021 at 5:17 PM Thor 雷神 <notifications@github.com> wrote:

[2021-02-23 08:23] dblackherod commented on #134
Hey Thor...
A quick one on this subject...
Do parameters like tax_rates and allow_promotion_codes and meta_data still
work?

I ask since the price parameter is now wrapped in a dictionary which is an
array entry.

Hoping to hear from you soonest.

Regards.

On Tue, Feb 23, 2021 at 9:11 AM Angel Pellizolli <dblackherod@gmail.com>
wrote:

[2021-02-23 15:10] thorsten-stripe commented on #134
work?

Tax rates have to be provided within the `line_items`: https://github.com/stripe/stripe-firebase-extensions/blob/master/firestore-stripe-subscriptions/POSTINSTALL.md#applying-tax-rates-dynamically

The other parameters (`allow_promotion_codes` and `metadata`) are top-level.

[2021-02-24 10:09] dblackherod commented on #134
Hey Thor,
It works like a charm, just like I imagined.

One last thing though... I am lost trying to figure how the usage is
calculated.
I imagined there would be some kind of call to the Usage API to notify when
used.

Am I missing something?

Regards.

On Tue, Feb 23, 2021 at 4:10 PM Thor 雷神 <notifications@github.com> wrote:

[2021-02-24 10:44] dblackherod commented on #134
Hey Thor,
I have just read the Stripe Metered Billing
<https://stripe.com/docs/billing/subscriptions/metered> documentation.
It talks about what I mentioned in my previous email that I imagined.

Turns out that usage must be reported
<https://stripe.com/docs/billing/subscriptions/metered#report-usage> during
the billing cycle.
So my question should now be... Does this awesome extension support
rep

[2021-02-24 11:58] dblackherod commented on #134
Hey Thor,
I am so impressed with this extension so please pardon my intrusion again.

I just want to share with you an idea I have imagined should help with what
I want to achieve.

First off, I want to successfully implement metered billing with Stripe in
my node/express application.

I have used your firebase-subscriptions-payments
<https://github.com/stripe-samples/firebase-subscription-payment

[2021-02-25 04:45] thorsten-stripe commented on #140
Quantity used to be a top-level param on the subscription, only has been removed in the most recent API version. However, I decided to keep it around for backwards compatibility.

I'll add the subscription items with the next release.

[2021-02-25 05:07] thorsten-stripe commented on #139
Usage based pricing is already supported, see https://github.com/stripe/stripe-firebase-extensions/issues/134#issuecomment-783490547

Documentation on how to report usage can be found here: https://stripe.com/docs/billing/subscriptions/metered-billing#reporting-usage This is something you need to implement yourself as it tends to be very custom depending on your use case and can't be easily standa

[2021-02-25 05:07] #139 closed

[2021-02-25 05:07] thorsten-stripe commented on #134
Documentation on how to report usage can be found here: https://stripe.com/docs/billing/subscriptions/metered-billing#reporting-usage This is something you need to implement yourself as it tends to be very custom depending on your use case and can't be easily standardized.

[2021-02-25 05:09] #140 closed

[2021-02-25 12:07] roomman opened #143 "Add 'client_reference_id' to checkout session params"
# Feature request

`firestore-stripe-subscriptions`

## Is your feature request related to a problem? Please describe.

For our use case (where a 'customer' is a group of 'users'), it would be great if we could pass a 'client_reference_id' to the session in Stripe, so that it can be included in Stripe event data.

## Describe the solution you'd like

Add 'client_reference_id' to the session create

[2021-02-25 13:17] #143 closed

[2021-02-26 19:33] dblackherod commented on #134
Hey Thor,
Yes I understand what you mean.

Did you have a look at my last email?
What do you make of this suggestion?
I was thinking some utility methods for usage reporting would be great.
At least Stripe documentation says to throttle usage reporting and not
report every single usage.
So it would be nice to have utility methods for incrementing usage
frequency and report total usage frequency pe

[2021-03-01 15:33] thorsten-stripe commented on #134
As mentioned, due to the very custom nature of different metered billing use cases we would not add this to the extension. You would write separate Cloud Functions and implement this yourself. If you have questions about your specific implementation please get in touch with our support team or jump on our technical chat on IRC: https://webchat.freenode.net/#stripe

[2021-03-02 05:43] zaheddec opened #145 "Failed to retrieve function source code"
Firebase stripe subscriptions extension was working fine until i upgraded to V0.1.10. Firebase is giving Failed to retrieve function source code.
<img width="1017" alt="Screen Shot 2021-03-02 at 12 40 10 AM" src="https://user-images.githubusercontent.com/30424148/109603757-4ac38780-7af0-11eb-8f45-7e611984ae19.png">

[2021-03-02 05:44] zaheddec commented on #113
seeing the same issue in v0.1.10
https://github.com/stripe/stripe-firebase-extensions/issues/145

[2021-03-02 11:07] koenmtb1 opened #146 "manageSubscriptionStatusChange activated twice after subscribing"
# Bug report

firestore-stripe-subscriptions

## Describe the bug

The `manageSubscriptionStatusChange` function is activated twice when someone subscribes, this doesn't seem necessary to me. It happens once on the `customer.subscription.created` event and once for the `checkout.session.completed`. If I'm thinking correctly here the `checkout.session.completed` event is actually not necessary for

[2021-03-02 12:26] dblackherod commented on #134
Hey Thor,
thanks for reaching out.

I'll follow up via those channels.

Regards

On Mon, Mar 1, 2021 at 4:33 PM Thor 雷神 <notifications@github.com> wrote:

[2021-03-02 16:36] dthib commented on #140
great thanks !

[2021-03-02 16:40] dthib commented on #137
@thorsten-stripe i totally understand the concern. But as there is a SYNC_USERS_ON_CREATE option, why not add a full_sync mode in addition to existing mode? This way, the extension is totally sync for users wanting full sync with GDPR compliance of course.
Best

[2021-03-02 22:46] dblackherod commented on #134
Hey Thor,
Kindly share the support link for the extension so I can get some help
moving forward with our usecase.

Regards.

On Tue, Mar 2, 2021 at 1:26 PM Angel Pellizolli <dblackherod@gmail.com>
wrote:

[2021-03-02 23:55] thorsten-stripe commented on #134
https://support.stripe.com/

[2021-03-03 08:13] dthib commented on #137
In addition, what push me towards this full sync is the need to have a valid customer address for invoices.
Best !

[2021-03-04 09:50] t-kaufmann opened #148 "Custom claim not working with metered billing"
# Bug report

firestore-stripe-subscriptions

## Describe the bug

Subscribing to a metered billing product via Stripe Checkout does not set a custom claim on the user.

## To Reproduce

1. Create a Stripe product with metered billing enabled
2. Set a firebaseRole in metadata
3. Subscribe to the product via Stripe Checkout

## Expected behavior

The extension should set a custom claim on the user,

[2021-03-04 09:53] thorsten-stripe commented on #148
This is a duplicate of https://github.com/stripe/stripe-firebase-extensions/issues/138 and has been fixed in v0.1.11. Unfortunately Firebase has not yet deployed said version, sorry!

I'll keep this open until v0.1.11 has been deployed

[2021-03-04 09:54] thorsten-stripe commented on #138
Unfortunately Firebase has not yet deployed version 0.1.11, sorry!

I'll keep this open until v0.1.11 has been deployed

[2021-03-04 10:11] thorsten-stripe commented on #145
I'm afraid this is an issue on the Firebase side. Please reach out to their support team.

[2021-03-04 10:11] #145 closed

[2021-03-08 02:52] #138 closed

[2021-03-08 02:52] #148 closed

[2021-03-08 11:02] nemet4ndrea opened #149 "config for not asking a billing address?"
Is there a config for not asking a billing address? If we do not send anything as mail just email why do we as a billing address?

Thanks!

[2021-03-08 15:20] thorsten-stripe commented on #149
Heya, sorry, this is only documented in the changelog atm: https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/CHANGELOG.md#version-018---2020-11-19

[feat] - The extension now defaults to collecting the customer's billing address during checkout and sets it as the address on the Stripe customer object. If you don't want to collect it, you can pass `billin

[2021-03-08 15:20] #149 closed

[2021-03-08 15:29] thorsten-stripe commented on #146
@koenmtb1 Stripe Checkout waits for `checkout.session.completed` to be processed by the webhook handler before redirecting back to your `return_url`. This way you know for sure that the subscription (and optionally the custom claim) has been created in Cloud Firestore by the time your user returns back to your app, making sure they will see their subscription status reflected at that point.

There

[2021-03-08 15:29] #146 closed

[2021-03-09 10:05] roomman opened #150 "Extension changes to Firestore not firing onUpdate hooks in Functions emulator"
# Bug report

firestore-stripe-subscriptions

## Describe the bug

When developing locally, using the Firebase Functions Emulator, onUpdate hooks are not fired when the Extension sets.

## To Reproduce

1. cancel Subscription in Stripe;
2. observe `status` property of that subscription updates in the Firestore, thanks to the Extension's `manageSubscriptionStatusChange()`;
3. `functions.firestore

[2021-03-09 11:26] roomman commented on #150
Thanks for getting back to me. Why are changes made to Firestore by the extension not observed by the emulator, even when it's pointed at the live Firestore? Are the changes made by the extension handled differently?

[2021-03-10 04:24] bharden opened #151 "One-time payment"
# Feature request

- Extension name: `firestore-stripe-subscriptions`

## Is your feature request related to a problem? Please describe.

I love you extension. I have been using it practically since it launched. I do have one feature request. I would really like to be able to use your extension to make one time payments through stripe. I have a subscription based website but we have started offeri

[2021-03-10 05:12] thorsten-stripe commented on #39
Reopening this to prevent others from creating duplicates, and to collect more one-time payment use cases.

[2021-03-10 05:14] thorsten-stripe commented on #151
@bharden thanks for the kind words. See some reasoning on one-time payments here: https://github.com/stripe/stripe-firebase-extensions/issues/39#issuecomment-671809586 and please add your use-case there, and would be great if you could share you website so I can have a look.

[2021-03-10 05:14] #151 closed

[2021-03-10 13:17] t-kaufmann opened #152 "Delete Stripe customer objects only at the end of the month (after all outstanding payments have been collected)"
# Feature request

- Extension name: firestore-stripe-subscriptions

## Is your feature request related to a problem? Please describe.

Deleting a user from Firebase Authentication also deletes the Stripe customer object. If the user has outstanding payments (e.g. the user is on a metered billing plan and always pays at the end of the month), all payments will be lost.

## Describe the solution yo

[2021-03-10 16:05] thorsten-stripe commented on #152
Could you just wait with the user deletion in Firebase until their subscription has ended? Why would you need to delete the user earlier?

[2021-03-10 18:29] t-kaufmann commented on #152
You are right, this would be possible. In some cases though this might lead to some strange beahaviour. Assuming a user deletes his account, he could technically still sign in with his old credentials for the rest of the month as the account is still linked to Firebase Authentication (only the Firestore data would be deleted). This might suggest that the user wasn't actully deleted..

Other than t

[2021-03-11 09:04] Spitzbua opened #153 "Add non-card payment methods"
# Bug report

Adding other payment method types than "card" results in this error message "The payment method `sofort` cannot be used in `subscription` mode.".

## Describe the bug

I have added other payment method types which supports recurring payments like (ideal,sofort,sepa_debit). In the end I have tried all available ones (['card', 'sepa_debit','eps','sofort','bancontact','giropay','p24','i

[2021-03-13 05:49] spenco100 commented on #105
While this is a closed and documented issue, are there plans to remove the legacy support from trials?

[2021-03-14 06:04] lettellwm commented on #131
Checkout session working as expected. The customer portal is also very important to our customers.
and deadline is coming up soon... Thank @thorsten-stripe for the help. Our customer   ![image](https://user-images.githubusercontent.com/53077504/111059046-45c0e980-849b-11eb-9142-ab1018e87f58.png)

[2021-03-14 18:28] dancixx opened #154 "Tax rates on customer portal"
Hi guys

can you help me with tax rates. So when the customer pays first i can pass the tax_rates property for checkout-session, but when would change the subscription plan cant see the tax_rates and after the change didnt get the tax_rates information in response json. Do you have any idea how can i solve this? Of course the tax wont be on the invoice too.

Thx for help.

[2021-03-14 23:48] dancixx opened #155 "Portallink on specified url"
Hi

can you give support to inject specified url in createPortalLink function? Can be useful if the customer should change the subscription and push direct on the update screen.

Thanks for helping. :)

[2021-03-15 15:06] thorsten-stripe commented on #155
Hello, I'm afraid I'm not sure what you're asking. Can you please clarify and maybe add an example?

[2021-03-15 17:15] dancixx commented on #155
Hi,

i go to the customer portal i got this screen first.
![Képernyőfotó 2021-03-15 - 18 11 24](https://user-images.githubusercontent.com/56868953/111192883-dbeb3180-85b9-11eb-906a-ddf97058ffd3.png)

Then i go for the next step choose new subscription item, and got this screen.
![Képernyőfotó 2021-03-15 - 18 12 23](https://user-images.githubusercontent.com/56868953/111193004-ff15e100-85b9-11

[2021-03-16 15:01] thorsten-stripe commented on #155
The user will have to click the return link to get back to your page
![image](https://user-images.githubusercontent.com/23213994/111331060-8000d580-86ab-11eb-8643-9cce1ec99212.png)

[2021-03-16 15:01] #155 closed

[2021-03-16 15:10] dancixx commented on #155
In our platform all user has a screen like this. If user wants upgrade an existing subscription plan he has to click on manage your account, then update plan and then choose a new plan so there are 3 unnecessary steps to achieve the new plan. So my request was that would be great to give the createportal mehtod custom url which redirect the user on the last step.

Now i got an url like this:
https

[2021-03-16 15:51] thorsten-stripe commented on #155
Ah okay, understood. That functionality does not come out of the box. You would have to append `/subscriptions/sub_J7f4oXndjqn5Xi/preview/price_1IUrJ2ABw9RvoAv3DVVCIkzD` to the session URL yourself.

[2021-03-16 15:56] dancixx commented on #155
Sorry for unclear explanation, but yes exactly i need this option, but creatportal method cant give just a retunrUrl property and i dont want too override your extension because it is awesome. :)

[2021-03-16 16:01] jhuleatt opened #156 "Images broken in preinstall"
# Bug report

- Extension name: `firestore-stripe-subscriptions`

## Describe the bug

The images in `PREINSTALL.md` don't display in [github](https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/PREINSTALL.md) or in the [extension details page](https://firebase.google.com/products/extensions/firestore-stripe-subscriptions).

## Expected behavior

The image

[2021-03-17 16:10] eduardhildebrandt commented on #153
+1

[2021-03-18 18:21] DCSnip3r opened #157 "Add customer email to firestore on createCustomerRecord"
# Feature request

firestore-stripe-subscriptions

## Is your feature request related to a problem? Please describe.

I'm planning to extend functionality with Firestore's "Send Email" extension, which requires there to be an "email" field in the customer documents in order to work. The current createCustomerRecord function, triggered by user creation, creates a record with the customer's stripe I

[2021-03-20 16:16] dancixx commented on #39
It would be great for me and my company too. Our use case is that users have an option to buy single products in our store next to the monthly subscriptions.

[2021-03-23 08:47] Lwonderg opened #158 "Scheduled subscription update not allowing customer changes in billing portal"
# Bug report

firestore-stripe-subscriptions

## Describe the bug

After making a manual scheduled subscription update in stripe, the billing portal still says there is a scheduled subscription update even after the scheduled update has been applied. This prevents customer from being able to change their plan, or cancel.

## To Reproduce

1. Schedule a future subscription update/change for a custo

[2021-03-25 14:15] thorsten-stripe commented on #158
This sounds like an issue with the Stripe customer portal, but not the extension itself. I will forward this to the relevant team, but close it out here as it's not a bug with the extension.

[2021-03-25 14:15] #158 closed

[2021-03-25 16:48] thorsten-stripe commented on #39
@dancixx why would you need an extension for that? For one time payments a simple cloud function should be enough: https://github.com/firebase/functions-samples/tree/master/stripe

[2021-03-25 16:50] thorsten-stripe commented on #157
Yes, that sounds sensible. Will add with the next version, but can't yet say when exactly.

[2021-03-25 17:07] thorsten-stripe commented on #153
@Spitzbua sorry about this, I agree that it's not clear enough, we'll work on making it clearer in the docs.

For the time being, Stripe Checkout only supports cards in subscription mode. In order to use iDEAL etc, you would have to first implement https://stripe.com/docs/payments/ideal/set-up-payment and then subscribe the customer via the API https://stripe.com/docs/api/subscriptions/create

Fro

[2021-03-26 13:19] gmacdev opened #159 "RedirectToCheckout on Mobile Apps"
# Feature request

- Extension name: [`firestore-stripe-subscriptions`]

## Is your feature request related to a problem? Please describe.

What if we want to open the checkout page from an Android App to a mobile browser? Is there a way or can we create one?

## Describe the solution you'd like

We want to do a redirectToCheckout call from our Android App (which opens the checkout page on a mobil

[2021-03-28 10:52] Pushplaybang commented on #47
the sample app should also be updated to reflect thee changes

[2021-03-29 10:53] lettellwm commented on #131
Hy @thorsten-stripe  whether there is any news regarding the change of the customer portal config overide locale

[2021-03-29 12:29] thorsten-stripe commented on #131
Reopening this issue to make sure folks are aware. The customer portal is available in English, French, German, Italian, Dutch, Danish, Spanish, Japanese, Simplified Chinese, but the language is set automatically based on the customer's browser settings.
![image](https://user-images.githubusercontent.com/23213994/112836453-32359580-90cd-11eb-8bfd-c2b29d9e15d4.png)

Allowing to override this progra

[2021-03-29 12:59] thorsten-stripe commented on #47
@Pushplaybang I believe it is: https://github.com/stripe-samples/firebase-subscription-payments/blob/master/firestore.rules#L25-L27

Or are you referring to a different sample?

[2021-03-29 14:12] thorsten-stripe commented on #154
@dancixx sorry, this one slipped through the cracks.

In the customer portal currently only "static" tax rates are supported that you specified during the checkout session creation: https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/POSTINSTALL.md#applying-static-tax-rates

In Stripe checkout it will look like this:
![image](https://user-images.githubuser

[2021-03-29 14:12] #154 closed

[2021-03-29 14:22] dancixx commented on #39
@thorsten-stripe you are right, but your subs extension works very well and would great to see same extension for one time payment. But if you wont support that i will solve on the way what you linked before. :)

[2021-03-29 14:25] thorsten-stripe commented on #154
It works as long as you've specified the `tax_rates` on the initial checkout session creation, e.g.

[code]

[2021-03-29 14:32] dancixx commented on #154
Does this work with createPortalLink method too?

[2021-03-29 14:40] thorsten-stripe commented on #154
@dancixx no, you don't specify this when creating the portal link. The tax rate is stored on the subscription and the portal reads it from there.

[2021-03-29 14:46] dancixx commented on #154
@thorsten-stripe It is interesting, because I can see the tax data on firestore subs doc but on customer portal on subs update no tax data. :(

[2021-03-29 14:48] thorsten-stripe commented on #154
Can you provide some screenshots please?

[2021-03-29 14:53] dancixx commented on #154
@thorsten-stripe
First is the existing subs in firestore there is the tax_rates data
![Képernyőfotó 2021-03-29 - 16 49 27](https://user-images.githubusercontent.com/56868953/112855030-bb899f80-90ae-11eb-816e-0acb92c8889f.png)

Second: on customer portal on subs update there is no tax data, just can see 'adót nem tartalmaz' (sry for lang)
![Képernyőfotó 2021-03-29 - 16 49 40](https://user-ima

[2021-03-30 03:20] jaytavares opened #160 "Remove automatic Stripe Customer deletion"
# Feature request

- Extension name: `firestore-stripe-subscriptions`

## Is your feature request related to a problem? Please describe.

The functionality to delete Stripe Customer objects in response to Firebase Auth User deletion has resulted in a critical loss of our production data! While migrating Auth users between Firebase projects, the "Run Subscription Payments with Stripe" extension del

[2021-03-30 14:13] jaytavares commented on #3
Hi all, I'm going to humbly suggest that this change be backed out. Deletion of customer objects in Stripe is irreversible! Well, at least through their public API--though apparently sometimes permanently 😓. It's handled on a case-by-case basis through Stripe Support.

While yes, deletion of an Auth user would suggest a willingness to nuke data (there's no undoing the deletion of the user), there

[2021-03-30 15:33] jaytavares commented on #3
Correction: Cancelled subscriptions **cannot** be reactivated.

Fortunately, Stripe Support was able to recover our deleted customers and their payment methods; however, there's no way to "un-cancel" all the subscriptions. So, we'll have to rebuild all of them from scratch. I think this confirms that automatic deletion of Stripe Customers is far too destructive an operation and shouldn't be the de

[2021-03-31 07:27] apeiniger opened #161 "Customer / subscription webhooks not working"
# Bug report

- Extension name: firestore-stripe-subscriptions@0.1.11

## Describe the bug

I installed the Firestore / Stripe extension and when I create new products in Stripe it syncs alright and I can see the collection in Firestore. The sync of customers and subscriptions is not working though.

## To Reproduce

When I checked the webhook logs in the Stripe dashboard I saw the following:

![i

[2021-03-31 15:24] thorsten-stripe commented on #161
The main problem is that your webhook handler was not working when the checkout session was being created. The checkout session is what creates the customer lookup record when it doesn't exist already.

So creating a new checkout session for this user should set up the record and make future lookups work.

[2021-03-31 15:24] #161 closed

[2021-03-31 15:25] thorsten-stripe commented on #161
Actually that might be the issue. You need to let the extension create the customer object and add the lookup table.

[2021-04-03 00:09] dancixx commented on #154
@thorsten-stripe can see some issue there?

[2021-04-03 01:05] Gdfn8d6RWdbMpmu6kosQVmUiDMqBdz-XzoWmvHh commented on #26
Absolutely. I collect shipping addresses in JavaScript checkout, this would stop me from using a middleman like SuperPortal.

[2021-04-06 04:57] thorsten-stripe commented on #158
@Lwonderg This has now been fixed! Customers will be able update their subscriptions through the Customer Portal when there's no future Phases on the attached Schedule.

Thanks again for reporting it!

[2021-04-06 13:59] esplemea opened #162 "handleWebhookEvents not handling test events"
I wanted to test my implementation first but I noticed that the handleWebhookEvents cloud function provided does not seem to react to test events. In particular, if I create a new test product on my stripe dashboard, it will not trigger a function call and not appear in firestore. Whereas a regular product creating in live mode will appear normally.

I guess this is desired behaviour to avoid mixi

[2021-04-06 18:49] esplemea commented on #162
Closing this, miss configuration from my side. I did not register the webhook as a test one. Still surprising that it worked as a live web hook despite only having a test api key.

[2021-04-06 18:49] #162 closed

[2021-04-13 19:49] jbryanh opened #163 "Metered Pricing for Stripe Customer Portal"
# Feature request

firestore-stripe-subscriptions
Add metered billing for this extension and Stripe Customer Portal

## Is your feature request related to a problem? Please describe.

A clear and concise description of what you want and what your use case is.

I charge per document from my firebase firestore.  I use flutter, and want to use the Stripe Customer Portal feature with the Stripe firest

[2021-04-15 14:05] nemet4ndrea opened #164 "Q: Approach for website with subscriptions & physical products offers"
Can we use firebase-stripe-extension to also checkout one time payments, not installation payments or fees. Like for e.g. if I build a website where people buy subscriptions to consume content monthly, and now I want to add a small shop to it to sell some swag products/apparel what approach should I embrace? I want to keep the code for subscription if possible.

Thanks!

[2021-04-16 01:59] sulmanazhar2 opened #165 "Webhooks have stopped working completely"
# Bug report

firebase-stripe-extensions

## Describe the bug

My webhooks inside stripe have stopped working for no reason. I didn't change any setting but from today it has stopped working completely.

These are my webhooks but they all have stopped working

![image](https://user-images.githubusercontent.com/54376322/114960623-ddda3600-9e80-11eb-820f-da9fb999ff50.png)

## Expected behavior

They

[2021-04-16 02:04] sulmanazhar2 commented on #165
Sending test webhooks with dummy data is working

Test webhooks from here

![image](https://user-images.githubusercontent.com/54376322/114961194-fbf46600-9e81-11eb-84f3-73a508e36365.png)

[2021-04-16 06:42] thorsten-stripe commented on #165
This is likely related to some webhook delivery issues earlier: https://twitter.com/stripestatus/status/1382880735942434817

Please get in touch with support for more details and help: https://webchat.freenode.net/#stripe or https://support.stripe.com/

[2021-04-16 06:42] #165 closed

[2021-04-16 07:00] thorsten-stripe commented on #164
I'd recommend keeping sales of physical goods separate as you need more sophisticated tax and fulfillment management. You can also refer to this previous discussion: https://github.com/stripe/stripe-firebase-extensions/issues/39

But for selling apparel, I'd recommend something like WooCommerce, Shopify, WIX etc.

[2021-04-16 07:00] #164 closed

[2021-04-16 17:54] jmcdl commented on #112
Not OP, but we use the Price, Product and Subscription interfaces in a React hook that retrieves subscription options and customer subscription status.

[2021-04-19 20:52] ynnoj commented on #59
Just started seeing CORS issues with the `createPortalLink` function. Source is [here](https://github.com/firstmeanseverything/firstmeanseverything.com/blob/84f49c32d2ee0c320c1e0dccb702e7dd0f77553c/lib/db.js#L54-L65). Region matches the Firebase configuration.

[code]

[2021-04-21 05:11] cvoadmin opened #166 "Support collection of business names"
# Feature request

- Extension name: firestore-stripe-subscriptions

## Describe the solution you'd like

Collection of company/business names as an optional field.

[2021-04-21 20:07] jakubtomas108 opened #167 "Sync issues"
Hey guys.

First of all, thank You very much for this extension, it saved me a lot of time.

I had one bad encounter with sync. Created a user, everything went through, subscription created (confirmed by stripe dashboard), but firestore didn't sync. So i refreshed several times, but nothing. It happened only one time. Did some of you encountered this behavior before? Is there a way to manually syn

[2021-04-21 20:13] jakubtomas108 commented on #167
i know what i can do - i can write one BE function, that will create stripe portal session in case the the subscription collection is missing

[2021-04-21 20:56] nikglavin commented on #39
Hey their thought I'd drop my use case in here as well:

I have a mix of subscriptions plans and a single "lifetime" deal that I would like to offer to early customers and ideally would like to process all payments through this extension.

Looking at the one of payment example above that looks like it goes through the tokenisation API, which I would prefer not to have do  as:

- I don't want to st

[2021-04-22 09:23] cvoadmin opened #168 "Feature request: Loading spinner onclick in Subscribe button"
# Feature request

- Extension name: firestore-stripe-subscriptions

## Is your feature request related to a problem? Please describe.

There's a redirect delay whenever you click the Subscribe button. It grays out for a few seconds pre redirect, which confuses the customer.

## Describe the solution you'd like

A loading spinner on-click inside the button will increase conversion.

[2021-04-25 23:35] DCSnip3r opened #169 "Firestore Product Data overwritten when product updated on Stripe Dashboard"
# Bug report

- Extension name: [e.g. `firestore-stripe-subscriptions`]

## Describe the bug

Updating product details on the stripe dashboard, such as adding an image to a product, will overwrite the current firestore product document and will erase any custom fields. This is perhaps due to the webhooks using .set() without {merge : true}, or not using .update()

## To Reproduce

1. Create a prod

[2021-04-27 12:42] thorsten-stripe commented on #169
The source of truth for the product data is meant to be in Stripe. In order to keep things properly in sync we make sure we always mirror the product data from Stripe to Cloud Firestore. Is there any reason why you can't use the metadata on the Stripe objects for your custom data?

[2021-04-27 12:43] thorsten-stripe commented on #168
This is not something the extension handles. You will have to add this on your end to your button.

[2021-04-27 12:43] #168 closed

[2021-04-27 12:55] thorsten-stripe commented on #167
The sync issue might have been related to https://github.com/stripe/stripe-firebase-extensions/issues/167

However, the customer does not need a subscription for you to create a customer portal session. As long as the customer ID exists in Cloud FIrestore, the extension is able to create a session using the `createPortalLink` callable function.

[2021-04-27 12:55] #167 closed

[2021-04-27 12:58] thorsten-stripe commented on #166
This is not yet supported by Stripe Checkout, but will be supported in the future. I'll keep this open to track it.

[2021-04-27 13:00] thorsten-stripe commented on #156
Looks like they are back 👍

[2021-04-27 13:00] #156 closed

[2021-04-27 13:50] thorsten-stripe commented on #159
This is likely not allowed, see https://github.com/stripe/stripe-firebase-extensions/tree/next/firestore-stripe-subscriptions#recommended-usage

That being said, if you have a legitimate use case, you will still need to host a static page that uses Stripe.js to call `redirectToCheckout` with the session ID created from the extension.

[2021-04-27 13:50] #159 closed

[2021-04-27 14:08] DCSnip3r commented on #169
There are two main problems with having Stripe being the full source of truth:

1) Stripe metadata does not support all Firestore data types, such as Geopoint and Reference.
2) The prefix 'stripe_metatadata_' that is applied to each user-defined field is cumbersome and makes reading & de-structuring Firestore documents more bulky and difficult

[2021-04-28 10:54] thorsten-stripe commented on #154
@dancixx sorry for the delay here :( This is an issue with how Stripe invoices handle proration for invoice items. I've added a workaround here that should hopefully work for you: https://github.com/stripe/stripe-firebase-extensions/pull/170

[2021-04-28 15:47] #26 closed

[2021-04-28 15:47] #39 closed

[2021-04-28 15:47] #157 closed

[2021-04-28 15:47] #152 closed

[2021-04-28 15:47] #160 closed

[2021-04-28 15:47] #169 closed

[2021-04-28 16:16] thorsten-stripe commented on #151
One time payments without subscriptions are supported as of version 0.1.12: https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/CHANGELOG.md#version-0112---2021-04-29

You can update the extension in your Firebase console to enable this.

[2021-04-28 16:17] thorsten-stripe commented on #133
One time payments are supported as of version 0.1.12: https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/CHANGELOG.md#version-0112---2021-04-29

You can update the extension in your Firebase console to enable this.

[2021-04-28 16:17] thorsten-stripe commented on #39
One time payments are supported as of version 0.1.12: https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/CHANGELOG.md#version-0112---2021-04-29

You can update the extension in your Firebase console to enable this.

[2021-04-28 16:18] thorsten-stripe commented on #26
Shipping address collection is supported as of version 0.1.12: https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/CHANGELOG.md#version-0112---2021-04-29

You can update the extension in your Firebase console to enable this.

[2021-04-28 16:19] thorsten-stripe commented on #157
This has been added as of version 0.1.12: https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/CHANGELOG.md#version-0112---2021-04-29

You can update the extension in your Firebase console to enable this.

[2021-04-28 16:22] thorsten-stripe commented on #160
While this behavior is clearly outlined in the [postinstall docs](https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/POSTINSTALL.md#delete-user-data) I do recognize that not everyone will read the docs. Therefore as of version 0.1.12, the default behavior has been changed to "Do not delete": https://github.com/stripe/stripe-firebase-extensions/blob/next/f

[2021-04-28 16:23] thorsten-stripe commented on #164
One time payments without subscriptions are supported as of version 0.1.12: https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/CHANGELOG.md#version-0112---2021-04-29

You can update the extension in your Firebase console to enable this.

[2021-04-28 16:24] thorsten-stripe commented on #169
Fair. This has been changed as of version 0.1.12: https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/CHANGELOG.md#version-0112---2021-04-29

You can update the extension in your Firebase console to enable this.

[2021-04-28 18:00] jaytavares commented on #160
Thank you for this update. I'm not thrilled with your implication that this problem resulted because I didn't read the documentation. I did. I knew that deletion of firebase users in production would delete their corresponding Stripe customers. It wasn't my intention to delete them, it happened by accident. My concern here is that good engineering practices dictate that we plan for disaster and en

[2021-04-28 18:19] JakeMalis commented on #160
Wait so you knew exactly what would happen (since you read the documentation), yet seem surprised/annoyed by the fact that exactly what the documentation said happened? 😂

[2021-04-28 18:19] dancixx commented on #154
@thorsten-stripe I updated the new version, and I watched the changelog but I didnt find which point should I use or should I change anything, if not then is there no changes in my case.

[2021-04-28 18:38] thorsten-stripe commented on #160
@jaytavares sorry for my phrasing, I didn't mean to imply that you didn't read the docs, and I absolutely realize that this can happen by accident, and I also appreciate your feedback and sharing this incident with us in order to avoid others running into it!

[2021-04-28 18:42] jaytavares commented on #160
No worries, @thorsten-stripe 👍

[2021-04-29 04:45] thorsten-stripe commented on #154
@dancixx correct, this was an internal change only: https://github.com/stripe/stripe-firebase-extensions/pull/170/files#diff-70e8f3204cac2da7d57e95d6985978367a24a4f399fdd4099d1a9fbe3f724b21R154-R160

So for new subscriptions your code above should work, the important step is setting the top-level `tax_rates` param (example: ), which you are doing.

You can see this in action in the demo: https://s

[2021-04-29 06:42] dancixx commented on #154
@thorsten-stripe thank you very much it worked.

I have only one more question, when I set the properties for the checkout session for subscription mode, should set the "mode" params set, or only when I use "payment" mode, and this is the same with the tax_rates, I think it works with default_tax_rates too. So my concept can be seen below, is it correct?

[code]

[2021-04-30 06:17] Mario8419 opened #172 "Update email address in firebase not updating in stripe customer"
updating customer / user email in firebase causing no change in stripe customer object

[code]

[2021-05-01 14:41] avelow opened #173 "Define preferred_locales on Customer create"
# Feature request

- Extension name: `firestore-stripe-subscriptions`

## Is your feature request related to a problem? Please describe.

In french law, invoice as to be in french.
I didn't find a way to automaticaly set preferred_locales to 'fr' on customer create to have PDF invoice translated in french.

## Describe the solution you'd like

I would like to be able to define by myself the langua

[2021-05-02 00:58] cvoadmin commented on #26
Should each country code be an individual array string?
I understand `collect_shipping_address: true` would go in [app.js](https://github.com/stripe-samples/firebase-subscription-payments/blob/master/public/javascript/app.js):182?
Not sure what I'm missing.

[2021-05-02 11:53] TMcLoone opened #174 "User duplicated then subscription not applied"
# Bug report

- Extension name: ext-firestore-stripe-subscriptions-handleWebhookEvents

## Describe the bug

Just put extension into production and have an instance where a user somehow ended up with two stripe accounts under the same email. One had initial checkout sessions functioning correctly but then when they went paid the subscription it appeared to create another account within stripe. The

[2021-05-03 15:31] thorsten-stripe commented on #26
Only one array:
![image](https://user-images.githubusercontent.com/23213994/116894982-42f5a000-ac65-11eb-840e-742bbf49f4f2.png)

Correct, see: https://github.com/stripe-samples/firebase-subscription-payments/blob/master/public/javascript/app.js#L177 you can test it out here: https://stripe-subs-ext.web.app/

This works both for one-time payment and for subscription mode

[2021-05-03 15:33] thorsten-stripe commented on #174
Maybe this? https://github.com/stripe/stripe-firebase-extensions/issues/117#issuecomment-749693436

[2021-05-03 15:44] thorsten-stripe commented on #154
@dancixx `mode` defaults to `subscription` only if you want to do one-time payments you have to specify `mode: payment`.  But you can also supply `mode: subscription` it's just not required.

`tax_rates` needs to be `tax_rates` and is then mapped to `default_ tax_rates` by the extension.

[2021-05-04 01:40] RezaRahmati opened #175 "Please add changelog for different versions"
# Feature request

- Being able to see what is changed in newer version to decide if we should upgrade the extension or not

## Is your feature request related to a problem? Please describe.

Right now in firebase it shows there is a newer version, but we are not blindly upgrade unless there are new features that we need or defects fixed that affect us

## Describe the solution you'd like

Add cha

[2021-05-04 02:43] thorsten-stripe commented on #175
What are you missing from the current changelogs?

* https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/CHANGELOG.md
* https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-invoices/CHANGELOG.md

These are also linked from the Firebase console for easier discovery. Are you not seeing them there?
![image](https://user-images.githu

[2021-05-04 12:47] RezaRahmati commented on #175
@thorsten-stripe  Thank you for your reply, I think I wasn't able to find it because usually there is a release link in github, that shows versions + change log, I wasn't able to see it.

For example see this one
![image](https://user-images.githubusercontent.com/10086092/117005494-50d31180-acb5-11eb-9af8-24bbae65b850.png)

and this is how I see this repo
![image](https://user-images.githubusercon

[2021-05-04 12:48] #175 closed

[2021-05-04 20:04] DCSnip3r opened #176 "Webhook handler for event of type [price.created] failed: 'rak_plan_read' permission"
# Bug report

- Extension name: [e.g. `firestore-stripe-subscriptions`]

## Describe the bug

Error logged while creating a tiered price:

`ext-firestore-stripe-subscriptions-handleWebhookEvents

❗️[Error]: Webhook handler for  Stripe event [] of type [price.created] failed: The provided key 'rk_test_**************************************************************************************************

[2021-05-04 20:24] DCSnip3r commented on #176
Checked my endpoint and it was disabled. I may have created some kind of failure condition or not updated the extension, causing the endpoint to disable.

[2021-05-04 20:35] ehildebrandt opened #177 "Concurrency issue when updating role / claims"
Extension name: firestore-stripe-subscriptions

There is a concurrency issue in how the role is handled. I recently have witnessed the following behavior:

03.05.2021, 17:43:
 - user tries to subscribe to our service
 - a new checkout session was created
 - user tries to pay with his VISA credit card
 - a new subscription A was created
 - a new invoice A was created
 - webhook was called and a sub

[2021-05-04 20:46] DCSnip3r commented on #176
I jumped the gun on closing this issue. With my webhook back in action, I'm still getting this same permission error. Does this have anything to do with updating the extension?

[2021-05-04 20:47] DCSnip3r commented on #176
I jumped the gun on closing this issue. With my webhook back in action, I'm still getting this same permission error. Does this have anything to do with updating the extension?

[2021-05-04 21:02] DCSnip3r commented on #177
Claim roles can also be lost when a user is subscribed to many products but cancels one of them. This is with the same claim role across all products, not different claims

[2021-05-05 14:33] dancixx opened #178 "Separate chareges"
Do you plan to add the separate charges option?

[2021-05-05 20:16] cvoadmin commented on #26
Thanks. My array was poorly formatted.

[2021-05-06 07:11] Spitzbua commented on #153
@thorsten-stripe , thank you for your answer.

One Time Payments were introduced with the release of 0.1.12 - 2021-04-29. Is it now possible to use payment methods other than Card in Payment Mode?

If not, what is the reason for this restriction or are there already plans to change this?

[2021-05-06 13:55] thorsten-stripe commented on #153
@Spitzbua non-card payment methods are supported in `payment` mode, but not yet in `subscription` mode.

This isn't a restriction by the extensions, but rather by Stripe Checkout itself. The team is working on enabling non-card payment methods in Stripe Checkout for `subscription` mode, and I will update here once supported.

[2021-05-06 13:56] thorsten-stripe commented on #178
Please fill in the template when opening feature requests: https://github.com/stripe/stripe-firebase-extensions/issues/new?assignees=&labels=&template=2.Feature_request.md

[2021-05-06 13:56] #178 closed

[2021-05-06 14:03] thorsten-stripe commented on #176
You will need to update your restricted key in the Stripe Dashboard (https://dashboard.stripe.com/apikeys) and allow it to read plan objects as outlined in the docs: https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/PREINSTALL.md#additional-setup

[2021-05-06 14:03] #176 closed

[2021-05-06 14:08] ehildebrandt commented on #153
@thorsten-stripe Thank you for the update. SEPA payment is the most used payment method in Europe and we badly need this feature. I hope that Stripe Checkout team will support it soon. I'm looking forward to it. Thanks again.

[2021-05-06 15:03] Spitzbua commented on #153
@thorsten-stripe , thank you very much for your quick reply. highly appreciated!

Sorry for my confusion about that. Do I assume correctly if I configure a Checkout Sessions for one-time payments with referencing a one-time price ID the user will be redirected to the customer portal and has the choice between several active payment methods like SEPA and so on and not just payment method card?

My

[2021-05-06 15:20] thorsten-stripe commented on #153
Not quite. The customer will be redirected to Stripe Checkout where they can pay for the one-time price by adding their IBAN. And they would have to reenter their IBAN for ever future payment.

But yes, for one time payments you can do:

[code]

[2021-05-06 16:46] ixartz commented on #146
@thorsten-stripe Thank you for your response, I also understand a little bit more.

But I have another question about this. You told use we shouldn't remove `customer.subscription.created` because we can create subscription in Dashboard or directly via Stripe API.

What about the other way around? Why not removing `checkout.session.completed`?
I don't see any use case when `checkout.session.comple

[2021-05-07 05:37] thorsten-stripe commented on #146
The reason you want to use `checkout.session.completed` is that Stripe Checkout waits for the `checkout.session.completed` webhook event to be processed before redirecting your customer back to your page. This means that we are sure that by the time your customer lands back on your page, we have updated your Cloud Firestore and custom claims. This isn't the case for `customer.subscription.created`

[2021-05-07 10:26] ixartz commented on #146
Thank you for your response.
Now, it totally makes sense for me.

[2021-05-07 12:16] dancixx opened #179 "Customer details are nulls on first payment"
At the first payment are the customer details nulls. When I start the checkout session, I didn't get the customer_address, name, etc. in the response because all of them are nulls. I think this is caused by the that the billing information copy method executes after the first payment. After the customer.updated event didn't trigger the invoice.updated or finalized events again when I look at it in

[2021-05-09 20:22] dshuang opened #180 "Update plan does not show all available subscriptions"
# Bug report

- Extension name: [e.g. `firestore-stripe-subscriptions`]

## Describe the bug

When a customer clicks the "Update plan" button on the Stripe-managed billing page, they only see one of the possible alternative subscriptions available.  The other subscription options should be visible but are not shown.

## To Reproduce

1. Have three or more subscription products active in Stripe.
2.

[2021-05-10 04:25] dshuang commented on #180
Not a bug.
Found I had to update the available products at https://dashboard.stripe.com/test/settings/billing/portal

[2021-05-10 04:25] #180 closed

[2021-05-10 05:08] amotarao commented on #112
YES! I want packages for many case.
It's useful with TypeScript.

For example from https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/POSTINSTALL.md#get-the-customers-subscription

[code]

[2021-05-11 00:39] TrillyWonka opened #181 "Including Product or Price Id's in Payment Document"
# Feature request

- Extension name: firestore-stripe-subscriptions-handleWebhookEvents

## Is your feature request related to a problem? Please describe.

I've started using the one-time-payments feature with checkout sessions. When the checkout session is completed the webhook fires and Firestore is updated with a new payment document. The issue I'm having is that the payment document makes no r

[2021-05-11 03:23] thorsten-stripe commented on #181
That's true, that would be useful. I'll look into it.

[2021-05-11 03:47] thorsten-stripe commented on #179
Correct, that information is only synced upon checkout session completion: https://github.com/stripe/stripe-firebase-extensions/blob/next/firestore-stripe-subscriptions/functions/src/index.ts#L433-L439

[2021-05-11 03:47] #179 closed

[2021-05-11 03:50] thorsten-stripe commented on #172
Yes, that's not expected to work, we use the email address provided during checkout.

[2021-05-11 03:50] #172 closed

[2021-05-11 04:32] TrillyWonka commented on #181
Thanks Thorsten, much appreciated.

[2021-05-11 06:04] rishabhjain commented on #181
Is payment document only being created on live mode? I'm using stripe test mode and can see `checkout_sessions` collection being updated with new documents, not payment collections and docs.

[2021-05-11 06:17] rishabhjain commented on #181
Yeah, I have added this to webhook events, but don't see payment document. How are you confirming successful payment from user?

[2021-05-11 14:33] conde2 opened #183 "option to avoid multiple subscriptions"
# Feature request

firestore-stripe-subscriptions

## Is your feature request related to a problem? Please describe.

My use case is that I'm offering subscriptions plans to users, but they can subscribe multiple times to different subscriptions, I would like to avoid this situation by adding a parameter that will not allow purchase multiple subscriptions

## Describe the solution you'd like

I wo

[2021-05-12 04:51] dijour opened #184 "Add Stripe Connect functionality, accept AccountID and Percent/Amount Flatform Fee"
# Feature request

- Extension name: [e.g. `firestore-stripe-subscriptions`, or leave empty if suggesting a new extension]

## Is your feature request related to a problem? Please describe.

I am using the Stripe Connect ecosystem. My website is a marketplace for services. There's currently no way to specify in the session creation code that I'd like a subscription/one time payment to collect a fe

[2021-05-12 11:08] thorsten-stripe commented on #183
This is something that would live in your app logic. You basically check if the user has an active subscription and if they do, you would not present them with the option to create another subscription.

You can see this implemented in the demo: https://github.com/stripe-samples/firebase-subscription-payments/blob/master/public/javascript/app.js#L128-L152

[2021-05-12 11:08] #183 closed

[2021-05-12 11:10] thorsten-stripe commented on #179
I'm afraid that's not possible, because these details are only collected after you have redirected to Stripe Checkout.

[2021-05-16 20:09] avelow commented on #173
Hello,

I seen you added the enhancement label on the issue.
Do you have an idea when this feature may be available ?
Can I try to do it and push a merge request ?

[2021-05-17 07:44] maureenv opened #186 "Firestore DB not syncing with Stripe product prices"
# Bug report

- Extension name: [e.g. `firestore-stripe-subscriptions`]

## Describe the bug
I've followed two different tutorials to try to get this plugin to work and noticed that in both tutorials, the product created in Stripe will sync in the Firebase DB with a product detail and product pricing collection. The product I created in Stripe does sync with the Firebase DB but doesn't create a pr

[2021-05-17 07:51] maureenv commented on #186
Never mind, looks like I have to edit the price for it to sync. Editing the product name or archiving the product wouldn't sync it. Thank you!

[2021-05-17 07:51] #186 closed

[2021-05-17 19:38] nemet4ndrea commented on #184
Hi everyone! If I want to build a question/answer marketplace with Stripe payments. Let's say user A asks a question as set's a reward of 25$ for the best answer. What solution would stripe offer me as a platform/marketplace to charge 5$ for me and send the rest of 20$ directly to the user who responded to the question? I am new to Stripe Payments, even the right name for my problem/solution would

[2021-05-17 22:04] i14h opened #187 "Support manual subscription creation via Stripe"
# Bug report

`firestore-stripe-subscriptions`

## Describe the bug

A developer reached out to Firebase who has a problem with a new customer not being added to the subscribers list on Firestore when he manually creates a subscription on Stripe. The customer is already in the Stripe Dashboard, they are registered in the system and they're just trying to add a subscription. All customers who check

[2021-05-18 04:20] thorsten-stripe commented on #187
Creating subscriptions via the Stripe Dashboard works fine as long as the customer exists in the Cloud Firestore mapping collection:
![image](https://user-images.githubusercontent.com/23213994/118588749-9c1b1300-b7d1-11eb-8c92-c290fad2f58a.png)

In order to sync customers to Cloud Firestore via the extension, they will need to enable the "Sync" option in the extension configuration:
![image](https

[2021-05-18 04:20] #187 closed

[2021-05-18 08:24] thorsten-stripe commented on #184
@nemet4ndrea yes this is possible with Stripe Connect: https://stripe.com/docs/connect/charges

But currently not possible with this extension. For help with your integration you can jump on our technical chat: https://webchat.freenode.net/#stripe

[2021-05-18 21:10] huangjeff5 commented on #187
I was wondering, what does "authenticated context" mean exactly?

I noticed the webhook code inside the subscriptions extension already verifies the request is actually coming from Stripe using the webhook secret and request headers.

Also based on the docs I read [here](https://stripe.com/docs/api/events/types#event_types-customer.subscription.created), it looks like the `subscription.created` ev

[2021-05-21 15:49] mksquad87 commented on #88
Hi
@thorsten-stripe you said that you could allow a user to update his amount in the customer portal.
 How exactly would i do that?
 Id have to create another checkout session right?
Im a bit confised about which parts are done by the extension‘s CFs and which part has to be done manually by writing own CFs and connect them with the stripe api...🤔
Could u please briefly describe the steps how u wo

[2021-05-24 16:11] thorsten-stripe commented on #88
@mksquad87 thanks for the kind words! What do you find unclear about the instructions above: https://github.com/stripe/stripe-firebase-extensions/issues/88#issuecomment-720308869 ?

[2021-05-24 16:36] thorsten-stripe commented on #187
It does not. When generating the mapping we need to know that the user is authenticated (via Firebase authentication) and what their Firebase Auth UID is. This we only know when either a) the Firebase user is newly created as we can listen to `auth.user.created` event or b) when a Checkout Session is created, because that only works when the user is authenticated (based on Firebase rules in your a

[2021-05-25 09:58] Spitzbua opened #189 "Local development including extensions using emulator suite"
# Bug report

- Extension name: firestore-stripe-subscriptions

## Describe the bug

For the development of new features we use the emulator suite to ensure that there is no impact on the production environment. As far as I know the function emulator does not support Firebase extension. It only emulates functions that are included in the local functions\index.js.
Now we would like to add the new s

[2021-05-25 16:31] jhuleatt commented on #189
@Spitzbua those commands are currently only documented and supported for developers in the [extension publishers’ early access program](https://firebase.google.com/docs/extensions/overview-use-extensions#early_access_partner_extensions). However, you can probably figure out how to unlock them by poking around in the [firebase/extensions repo](https://github.com/firebase/extensions/blob/cde67fc0f90

[2021-06-02 06:02] cvoadmin opened #190 "FR: Make subs and OTP's selectable"
# Feature request

- Extension name: firestore-stripe-subscriptions

## Is your feature request related to a problem? Please describe.

`An error occured: You specified payment mode but passed a recurring price. Either switch to subscription mode or use only one-time prices.`

## Describe the solution you'd like

I'd like both subscriptions and one-time-prices to be selectable if there's no javasc

[2021-06-02 21:30] DCSnip3r commented on #184
From related: https://github.com/stripe/stripe-firebase-extensions/pull/185#issuecomment-839681776

Would it be easier if the required parameters `vendor_reference_id` and `application_fee_percent ` were stored as metadata on the product or price itself? In other words, the product/price is pre-assigned to a connect user.

[2021-06-02 21:41] dijour commented on #184
That could be a possible solution too. Basically looking for any way to
more tightly integrate the customer + product + price + subscription +
application fee and get the vendor paid appropriately.

On Wed, Jun 2, 2021 at 2:31 PM Dane Christianson ***@***.***>
wrote:

--
Dean Z. Dijour
Dijour Ventures, LLC.
(732) 832-5281